header nav.navbar{padding: 0;box-shadow: none !important;}
.navbar-light{background:#fff !important;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{color:#000;background: transparent;}
.navbar-light .navbar-nav .nav-link{color: #212121 !important;font-weight: 600; transition:0.5s; }
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link:focus{color:o-color('o-color-1');}
.navbar-light .navbar-nav .nav-link:hover{color: o-color('o-color-1');;}
.navbar .nav-item{margin: 0px 5px; position: relative;}
.navbar .nav-item:hover .nav-link{color: o-color('o-color-1');}
.navbar .nav-item  .nav-link:before{content: ''; position:absolute;bottom:0; transition:0.5s; left:0; border-bottom:5px solid o-color('o-color-1'); width:0px;}
.navbar .nav-item .nav-link .active:before{content: ''; position:absolute;bottom:0; left:0; border-bottom:5px solid o-color('o-color-1'); width:100%;}
.navbar .nav-item .nav-link.active :before{content: ''; position:absolute;bottom:0; left:0; border-bottom:5px solid o-color('o-color-1'); width:100%;}
.navbar-light .navbar-nav .nav-link{padding: 15px 8px; color:#212121 !important; }
header #top_menu_container{position: relative;}
#top_menu .nav-item.dropdown {position: relative;}
#top_menu .nav-item.dropdown .dropdown-menu.js_usermenu{right: auto;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu{min-width: 12rem;}
.o_cc3 .dropdown-menu .dropdown-item.active, .navbar-light .dropdown-menu .dropdown-item.active, .o_footer .dropdown-menu .dropdown-item.active, .o_cc3 .dropdown-menu .dropdown-item.active h6, .navbar-light .dropdown-menu .dropdown-item.active h6, .o_footer .dropdown-menu .dropdown-item.active h6, .o_cc3 .dropdown-menu .dropdown-item:active, .navbar-light .dropdown-menu .dropdown-item:active, .o_footer .dropdown-menu .dropdown-item:active, .o_cc3 .dropdown-menu .dropdown-item:active h6, .navbar-light .dropdown-menu .dropdown-item:active h6, .o_footer .dropdown-menu .dropdown-item:active h6, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item.active, .o_colored_level .navbar-light .dropdown-menu .dropdown-item.active, .o_colored_level .o_footer .dropdown-menu .dropdown-item.active, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item.active h6, .o_colored_level .navbar-light .dropdown-menu .dropdown-item.active h6, .o_colored_level .o_footer .dropdown-menu .dropdown-item.active h6, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item:active, .o_colored_level .navbar-light .dropdown-menu .dropdown-item:active, .o_colored_level .o_footer .dropdown-menu .dropdown-item:active, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item:active h6, .o_colored_level .navbar-light .dropdown-menu .dropdown-item:active h6, .o_colored_level .o_footer .dropdown-menu .dropdown-item:active h6 { background-color: o-color('o-color-1');color: #FFFFFF;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu li:focus{background:o-color('o-color-1')!important;}
header .collapse > ul{margin-left: 0 !important;position: relative;width: 100%;}
.o_header_affixed{background: #fff;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a {font-weight: 600; background: o-color('o-color-1');border: none; transition: 1s; position: relative;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn-primary {color: #FFFFFF;background-color: o-color('o-color-1');border-color: o-color('o-color-1');margin-left: 10px;text-align: center;display: flex;justify-content: center;align-items: center;padding: 10px 20px;border-radius: 0px;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:before {content: "";position: absolute;width: 100%;height: 100%;background-color:o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn{padding: 10px 20px;text-align: center;border-radius: 0;background: transparent;color: #fff;font-size: 15px;font-weight: 400;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;border: 0;display: -webkit-inline-box;display: -webkit-inline-flex;display: inline-flex;align-items: center;justify-content: center;position: relative;border-radius: 3px;margin-right: 10px;margin-left: 10px;position: relative;z-index: 1;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn i {margin-left: 10px;font-size: 17px;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:focus,header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:active {-webkit-box-shadow: none;box-shadow: none;border: 0;}  
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:before {content: "";position: absolute;width: 100%;height: 100%;background-color: o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:after {content: "";position: absolute;width: 100%;height: 100%;background-color: transparent;border: 1px solid o-color('o-color-1');-webkit-transform: scale(0.4);transform: scale(0.4);opacity: 0;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;color:#fff;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:hover:before {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: 0;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:hover{color: o-color('o-color-1');}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:hover:after {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}  
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn.btn-border {background-color: transparent;color: o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn.btn-border:before {background-color: transparent;border: 1px solid o-color('o-color-1');}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn.btn-border:after {background-color: o-color('o-color-1');border: 0;}
.navbar-light .navbar-nav .nav-link.active{background: transparent !important;}
header.o_header_standard #top_menu_container{background-color:#fff;position: relative;}
header.o_header_standard #top_menu_container:after{content: '';position: absolute;top: 5px;left: 5px;width: 0;height: 0;border-top: 25px solid #fff;border-right: 25px solid transparent; z-index: 1;}
header.o_header_affixed #top_menu_container:before,
header.o_header_affixed #top_menu_container:after{display: none;}
header.o_header_affixed{background-color:transparent;}
.sh_corpomate_main_navbar_section_style_1{z-index: 1;}
.o_header_standard .navbar #o_main_nav .s_text_block .nav-link.o_nav-link_secondary.p-2{display: none;}
.o_header_standard .navbar #o_main_nav .s_text_block .nav-link.o_nav-link_secondary.p-2 .o_force_ltr{display: none;}
.o_header_standard .navbar .o_header_language_selector {display: none;}
#top_menu_collapse_mobile .offcanvas-body {
  justify-content: start!important;
}
@media only screen and (max-width: 991px){
.navbar-light .navbar-nav .nav-link.active span:before{display: none;}
.o_affix_enabled .navbar-light .navbar-nav .nav-link.active span{color: #000;}
.navbar-light{background: #fff !important;}
header .navbar-brand.logo{width: auto;opacity: 1;}
.navbar-light .navbar-nav .nav-link{color: #000;}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:focus{color: o-color('o-color-1');}
header.o_header_standard #top_menu_container{background-color: #fff;}
header.o_header_standard #top_menu_container:after,
header.o_header_standard #top_menu_container:before{display: none;}
.navbar-light{padding: 15px 0 !important;}
}

@media screen and (max-width:768px) {
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn{display: none;}
}

@media screen and (max-width:767px) {
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a {font-weight: 600; background: o-color('o-color-1');border: none; display: none; transition: 1s;}
}

@media only screen and (max-width: 576px){
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn{padding: 10px 20px;text-align: center;border-radius: 0;background: transparent;color: #fff;font-size: 15px;font-weight: 400;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;border: 0;display: -webkit-inline-box;display: -webkit-inline-flex;display: inline-flex;align-items: center;justify-content: center;position: relative;border-radius: 3px;margin-right: 10px;margin-left: 10px;position: relative;z-index: 1;display: none;}
.navbar-light{background: rgba(0,0,0,0.0) !important;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a {font-weight: 600; background: o-color('o-color-1');border: none; transition: 1s; position: relative; display: none;}
header .navbar-brand.logo{display: block !important;}
.navbar-light{padding: 15px 10px !important;background-color: #fff !important;}
}header#top ul#top_menu{max-width: 100;}
header .navbar-brand.logo img{width:200px;}
@media screen and (max-width:567px) {
.navbar .btn {white-space: nowrap;}
}

/* =======================
  header share button
 =========================*/
header#top ul#top_menu{max-width:85% !important;}
.sh_header_custom_1 .header_1 > span{position: relative;left: 15%;background:o-color(o-color-1);color: #fff;padding: 5px;font-weight: 400;border-radius: 4px;}
header#top ul#top_menu{max-width:100%;}
.sh_header_custom_1 .header_1 > span{position: relative;left: 15%;background:o-color(o-color-1);color: #fff;padding: 5px;font-weight: 600;}
.sh_header_custom_1 .header_1 > span:before{content: '';width: 1px;height: 100%;background: #cbcbcb;position: absolute;left: -35px;top: 0;}
.sh_header_custom_1 .header_1 > span i{margin: 0 8px 0 8px;color: #fff;}
.sh_header_custom_1 .header_1 > a{color: #fff;background: o-color(o-color-1);font-size: 1.5rem;padding: 14px 61px 14px 27px;position: relative;left: 20%;}
.sh_header_custom_1 .header_1 > a:hover,
.sh_header_custom_1 .header_1 > a:active{color:#fff;}
ul.header_link_share:not(.arrow_animation):after{content: '';position: absolute;width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid o-color(o-color-1);top: -14px;left: 76%;transform: translateX(-50%);z-index: 1;transition: 0.4s ease all;}
.sh_header_custom_1 .header_1 > a i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.sh_header_custom_1 .header_1 .header_link_share{list-style-type: none;position: absolute;right: -8%;top: 59px;font-size: 1rem;}
.sh_header_custom_1 .header_1 .header_link_share li{ margin-bottom: 5px;}
.sh_header_custom_1 .header_1 .header_link_share li a{display: block;background: #fff;color: #fff;width: 35px;height: 35px;position: relative;transition:0.4s ease all;}
.sh_header_custom_1 .header_1 .header_link_share li a.facebbok i{color: #4267B2;}
.sh_header_custom_1 .header_1 .header_link_share li a.twitter i{color: #00acee;}
.sh_header_custom_1 .header_1 .header_link_share li a.instagram i{color: #c8232c;}
.sh_header_custom_1 .header_1 .header_link_share li a.linkedin i{color: #0077b5	;}
.sh_header_custom_1 .header_1 .header_link_share li a i{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 18px;transition:0.4s ease all;}
.sh_header_custom_1 .header_1 .header_link_share li a.facebbok:hover{background-color: #4267B2;transition:0.4s ease all;}
.sh_header_custom_1 .header_1 .header_link_share li a.twitter:hover{background-color: #00acee;transition:0.4s ease all;}
.sh_header_custom_1 .header_1 .header_link_share li a.instagram:hover{background-color: #c8232c;transition:0.4s ease all;}
.sh_header_custom_1 .header_1 .header_link_share li a.linkedin:hover{background-color: #0077b5;transition:0.4s ease all;}
.sh_header_custom_1 .header_1 .header_link_share li a:hover i{color: #fff;transition:0.4s ease all;}
body.o_connected_user.editor_enable.editor_has_snippets.editor_started .sh_header_custom_1 .header_1 > a{left: 14%; display: block;}
body.o_connected_user.editor_enable.editor_has_snippets.editor_started .sh_header_custom_1 .header_1 .header_link_share li a{top: 30px; right:55px;}

@media(max-width:1100px){
.sh_header_custom_1 .header_1 > a{left: 41%;}
.sh_header_custom_1 .header_1 > span{left: 28%;}
.sh_header_custom_1 .header_1 .header_link_share{right:-33%;}
}
@media(max-width:1050px){
.sh_header_custom_1 .header_1 > a{left: 28%;}
.sh_header_custom_1 .header_1 > span{left: 17%;}
.sh_header_custom_1 .header_1 .header_link_share{right:-14%;}
}
@media(max-width:1000px){
.sh_header_custom_1 .header_1 > a{left: 15%;}
.sh_header_custom_1 .header_1 > span{left: 10%;}
.sh_header_custom_1 .header_1 .header_link_share{right:-1%;}
}
@media(max-width:991px){
.sh_header_custom_1 .header_1{display: none !important;}
}
.ms-lg-4.sh_header_custom_1{margin-left: -0.5rem !important;}
.dark_mode_wrapper.js_cls_sh_website_theme_dark_mode_button{display:none !important;}