header nav.navbar{padding: 0;box-shadow: none !important;}
.navbar-light{background:#fff !important;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{color:#000;background: transparent;}
.navbar-light .navbar-nav .nav-link{color: #212121 !important;font-weight: 600; transition:0.5s; }
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link:focus{color:o-color('o-color-1');}
.navbar-light .navbar-nav .nav-link:hover{color: o-color('o-color-1');;}
.navbar .nav-item{margin: 0px 5px; position: relative;}
.navbar .nav-item:hover .nav-link{color: o-color('o-color-1');}
.navbar .nav-item:before{content: ''; position:absolute;bottom:0; transition:0.5s; left:0; border-bottom:3px solid o-color('o-color-1'); width:0px;}
.navbar .nav-item:hover:before{content: ''; position:absolute;bottom:0; left:0; border-bottom:3px solid o-color('o-color-1'); width:100%;}
.navbar-light .navbar-nav .nav-link{padding: 15px 15px; color:#212121; }
header #top_menu_container{position: relative;}
#top_menu .nav-item.dropdown {position: relative;}
#top_menu .nav-item.dropdown .dropdown-menu.js_usermenu{right: auto;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu{min-width: 12rem;}
.o_cc3 .dropdown-menu .dropdown-item.active, .navbar-light .dropdown-menu .dropdown-item.active, .o_footer .dropdown-menu .dropdown-item.active, .o_cc3 .dropdown-menu .dropdown-item.active h6, .navbar-light .dropdown-menu .dropdown-item.active h6, .o_footer .dropdown-menu .dropdown-item.active h6, .o_cc3 .dropdown-menu .dropdown-item:active, .navbar-light .dropdown-menu .dropdown-item:active, .o_footer .dropdown-menu .dropdown-item:active, .o_cc3 .dropdown-menu .dropdown-item:active h6, .navbar-light .dropdown-menu .dropdown-item:active h6, .o_footer .dropdown-menu .dropdown-item:active h6, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item.active, .o_colored_level .navbar-light .dropdown-menu .dropdown-item.active, .o_colored_level .o_footer .dropdown-menu .dropdown-item.active, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item.active h6, .o_colored_level .navbar-light .dropdown-menu .dropdown-item.active h6, .o_colored_level .o_footer .dropdown-menu .dropdown-item.active h6, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item:active, .o_colored_level .navbar-light .dropdown-menu .dropdown-item:active, .o_colored_level .o_footer .dropdown-menu .dropdown-item:active, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item:active h6, .o_colored_level .navbar-light .dropdown-menu .dropdown-item:active h6, .o_colored_level .o_footer .dropdown-menu .dropdown-item:active h6 { background-color: o-color('o-color-1');color: #FFFFFF;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu li:focus{background:o-color('o-color-1')!important;}
header .collapse > ul{margin-left: 0 !important;position: relative;width: 100%;}
.o_header_affixed{background: #fff;}
header .navbar-brand.logo img{width:200px;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a {font-weight: 600; background: o-color('o-color-1');border: none; transition: 1s; position: relative;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn-primary {color: #FFFFFF;background-color: o-color('o-color-1');border-color: o-color('o-color-1');margin-left: 10px;text-align: center;display: flex;justify-content: center;align-items: center;padding: 10px 20px;border-radius: 0px;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:before {content: "";position: absolute;width: 100%;height: 100%;background-color:o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn{padding: 10px 20px;text-align: center;border-radius: 0;background: transparent;color: #fff;font-size: 15px;font-weight: 400;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;border: 0;display: -webkit-inline-box;display: -webkit-inline-flex;display: inline-flex;align-items: center;justify-content: center;position: relative;border-radius: 3px;margin-right: 10px;margin-left: 10px;position: relative;z-index: 1;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn i {margin-left: 10px;font-size: 17px;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:focus,header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:active {-webkit-box-shadow: none;box-shadow: none;border: 0;}  
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:before {content: "";position: absolute;width: 100%;height: 100%;background-color: o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:after {content: "";position: absolute;width: 100%;height: 100%;background-color: transparent;border: 1px solid o-color('o-color-1');-webkit-transform: scale(0.4);        transform: scale(0.4);opacity: 0;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;color:#fff;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:hover:before {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: 0;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:hover{color: o-color('o-color-1');} 
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn:hover:after {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn.btn-border {background-color: transparent;color: o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn.btn-border:before {background-color: transparent;border: 1px solid o-color('o-color-1');}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn.btn-border:after {background-color: o-color('o-color-1');border: 0;}
header.o_header_standard #top_menu_container{background-color:#fff;position: relative;}
header.o_header_standard #top_menu_container:after{content: '';position: absolute;top: 5px;left: 5px;width: 0;height: 0;border-top: 25px solid #fff;border-right: 25px solid transparent; z-index: 1;}
header.o_header_affixed #top_menu_container:before,
header.o_header_affixed #top_menu_container:after{display: none;}
header.o_header_affixed{background-color:transparent;}
.sh_corpomate_main_navbar_section_style_1{z-index: 1;}
header .navbar-brand.logo img{width:200px !important;}
.o_header_standard .navbar #o_main_nav .s_text_block .nav-link.o_nav-link_secondary.p-2{display: none;}
.o_header_standard .navbar #o_main_nav .s_text_block .nav-link.o_nav-link_secondary.p-2 .o_force_ltr{display: none;}
.o_header_standard .navbar .o_header_language_selector {display: none;}

@media only screen and (max-width: 991px){
.navbar-light .navbar-nav .nav-link.active span:before{display: none;}
.o_affix_enabled .navbar-light .navbar-nav .nav-link.active span{color: #fff;}
.navbar-light{background: #fff !important;}
header .navbar-brand.logo{width: auto;opacity: 1;}
.navbar-light .navbar-nav .nav-link{color: #000;}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:focus{color: o-color('o-color-1');}
  header.o_header_standard #top_menu_container{background-color: #fff;}
header.o_header_standard #top_menu_container:after,
header.o_header_standard #top_menu_container:before{display: none;}
.navbar-light{padding: 15px 0 !important;}
}

@media screen and (max-width:991px) {
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn{display: none;}
}

@media screen and (max-width:767px) {
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a {font-weight: 600; background: o-color('o-color-1');border: none; display: none; transition: 1s;}
.navbar .btn { white-space: nowrap; display: block;}
#top_menu{transform: translateX(-0%);}
}
@media only screen and (max-width: 576px){
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn{padding: 10px 20px;text-align: center;border-radius: 0;background: transparent;color: #fff;font-size: 15px;font-weight: 400;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;border: 0;display: -webkit-inline-box;display: -webkit-inline-flex;display: inline-flex;align-items: center;justify-content: center;position: relative;border-radius: 3px;margin-right: 10px;margin-left: 10px;position: relative;z-index: 1;display: none;}
.navbar-light{background: rgba(0,0,0,0.0) !important;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a {font-weight: 600; background: o-color('o-color-1');border: none; transition: 1s; position: relative; display: none;}
header .navbar-brand.logo{display: block !important;}
.navbar-light{padding: 15px 10px !important;background-color: #fff !important;}
}

@media screen and (max-width:567px) {
.navbar .btn {white-space: nowrap;}
}
header .navbar-brand.logo img{width:200px !important; max-width: 200px !important;}
.navbar-brand img{width:200px !important;}


header #top_menu .nav-item.dropdown .dropdown-menu.js_usermenu, header #top_menu .nav-item.dropdown .js_usermenu.o_dropdown_menu{left: auto;}
.dark_mode_wrapper.js_cls_sh_website_theme_dark_mode_button{display:none !important;}