header nav.navbar{padding: 0;box-shadow: none !important;}
.navbar-light{background:#fff !important;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{color:#000;background: transparent;}
.navbar-light .navbar-nav .nav-link{color: #212121 !important;font-weight: 600; transition:0.5s; }
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link:focus{color:#ff5d2c;}
.navbar-light .navbar-nav .nav-link:hover{color: o-color('o-color-1');;}
.navbar .nav-item{margin: 0px 5px; position: relative;}
.navbar .nav-item:hover .nav-link{color: #ff5d2c;}
.navbar .nav-item:hover .nav-link.active{color: #ff5d2c;}
.navbar .nav-item:before{content: ''; position:absolute;bottom:0; transition:0.5s; left:0; border-bottom:3px solid #05103b; width:0px;}
.navbar .nav-item:hover:before{content: ''; position:absolute;bottom:0; left:0; border-bottom:3px solid #05103b; width:100%;}
.navbar-light .navbar-nav .nav-link{padding: 15px 15px; color:#212121; }
header #top_menu_container{position: relative;}
#top_menu .nav-item.dropdown {position: relative;}
#top_menu .nav-item.dropdown .dropdown-menu.js_usermenu{right: auto;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu{min-width: 12rem;}
.o_cc3 .dropdown-menu .dropdown-item.active, .navbar-light .dropdown-menu .dropdown-item.active, .o_footer .dropdown-menu .dropdown-item.active, .o_cc3 .dropdown-menu .dropdown-item.active h6, .navbar-light .dropdown-menu .dropdown-item.active h6, .o_footer .dropdown-menu .dropdown-item.active h6, .o_cc3 .dropdown-menu .dropdown-item:active, .navbar-light .dropdown-menu .dropdown-item:active, .o_footer .dropdown-menu .dropdown-item:active, .o_cc3 .dropdown-menu .dropdown-item:active h6, .navbar-light .dropdown-menu .dropdown-item:active h6, .o_footer .dropdown-menu .dropdown-item:active h6, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item.active, .o_colored_level .navbar-light .dropdown-menu .dropdown-item.active, .o_colored_level .o_footer .dropdown-menu .dropdown-item.active, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item.active h6, .o_colored_level .navbar-light .dropdown-menu .dropdown-item.active h6, .o_colored_level .o_footer .dropdown-menu .dropdown-item.active h6, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item:active, .o_colored_level .navbar-light .dropdown-menu .dropdown-item:active, .o_colored_level .o_footer .dropdown-menu .dropdown-item:active, .o_colored_level .o_cc3 .dropdown-menu .dropdown-item:active h6, .o_colored_level .navbar-light .dropdown-menu .dropdown-item:active h6, .o_colored_level .o_footer .dropdown-menu .dropdown-item:active h6 { background-color: #ff5d2c;color: #FFFFFF;}
#top_menu .nav-item.dropdown.o_extra_menu_items .dropdown-menu li:focus{background:o-color('o-color-1')!important;}
header .collapse > ul{margin-left: 0 !important;position: relative;width: 100%;}
.o_header_affixed{background: #fff;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a {font-weight: 600; background: o-color('o-color-1');border: none; transition: 1s;}
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a:hover{background-color: #0c2239;}
header.o_header_standard #top_menu_container{background-color:#fff;position: relative;}
header.o_header_standard #top_menu_container:after{content: '';position: absolute;top: 5px;left: 5px;width: 0;height: 0;border-top: 25px solid #fff;border-right: 25px solid transparent; z-index: 1;}
header.o_header_affixed #top_menu_container:before,
header.o_header_affixed #top_menu_container:after{display: none;}
header.o_header_affixed{background-color:transparent;}
.sh_corpomate_main_navbar_section_style_1{z-index: 1;}
header .navbar-brand.logo img{width:200px;}
.o_header_standard .navbar #o_main_nav .s_text_block .nav-link.o_nav-link_secondary.p-2{display: none;}
.o_header_standard .navbar #o_main_nav .s_text_block .nav-link.o_nav-link_secondary.p-2 .o_force_ltr{display: none;}
.o_header_standard .navbar .o_header_language_selector {display: none;}

@media only screen and (max-width: 991px){
  header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a{display:none;}
.navbar-light .navbar-nav .nav-link.active span:before{display: none;}
.o_affix_enabled .navbar-light .navbar-nav .nav-link.active span{color: #000;}
.navbar-light{background: #fff !important;}
header .navbar-brand.logo{width: auto;opacity: 1;}
.navbar-light .navbar-nav .nav-link{color: #000;}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:focus{color: o-color('o-color-1');}
header.o_header_standard #top_menu_container{background-color: #fff;}
header.o_header_standard #top_menu_container:after,
header.o_header_standard #top_menu_container:before{display: none;}
.navbar-light{padding: 15px 0 !important;}
}
@media screen and (max-width:768px) {
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a.btn {white-space: nowrap;display: none;}
.navbar .btn { white-space: nowrap; display: block;}
#top_menu{transform: translateX(-0%);}
}

@media screen and (max-width:767px) {
header.o_header_standard .oe_structure.oe_structure_solo .s_text_block a {font-weight: 600; background: o-color('o-color-1');border: none; display: none; transition: 1s;}
}
@media only screen and (max-width: 576px){
.navbar-light{background: rgba(0,0,0,0.0) !important;}
header .navbar-brand.logo{display: block !important;}
.navbar-light{padding: 15px 10px !important;background-color: #fff !important;}
}
@media screen and (max-width:567px) {
.navbar .btn { white-space: nowrap; }
  }
  .dark_mode_wrapper.js_cls_sh_website_theme_dark_mode_button{display:none !important;}