// Dark mode button

.js_cls_sh_website_theme_dark_mode_button{
	width: 40px;height: 40px;position: fixed;z-index: 999;right: 30px;top:50%;transform: translateY(-50%) !important;

	.dark_mode_inner{
		text-align: center;width: 40px;height: 40px;position: relative;border-radius: 6px;border: 1px solid o-color(o-color-2) !important;cursor: pointer;background-color: #fff;
		.fa{
			position: absolute;top: 52%;left: 50%;transform: translate(-50%, -50%) !important;font-size: 22px;color:o-color(o-color-2) !important;
		}
	}
}


//header
//header

.dark_mode_is_on{
    .o_header_affixed {
        .navbar-light{
            background-color:o-color(o-color-5) !important; 
            .navbar-nav{
                .nav-link{
                    color:o-color(o-color-2) !important;
                }
            }
            .btn-primary{
                background:o-color(o-color-2) !important;
            } 
            .btn-outline-secondary{
                color:o-color(o-color-2) !important;
            } 
        
        }
    }
    .navbar.navbar-light{
        background-color:o-color(o-color-5) !important;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .o_navbar_mobile{
            background:#0F0E15;
            .offcanvas-body {
                .navbar-nav{
                    .s_searchbar_input {
                        .input-group {
                            input{
                                background:#0F0E15 !important;
                            }
                            .bg-o-color-3{
                                background:#0F0E15 !important;
                            }
                        }
                     }
                     ul#top_menu{
                        background:#0F0E15;
                        color:#fff;
                     }
                     .o_wsale_my_cart{
                        a{
                            color:o-color(o-color-2);
                        }
                     }
                }
            }
        }
        .btn-primary{
            background:o-color(o-color-2) !important;
        }
        .btn-outline-secondary{
            color:#fff;
        } 
    }
    #wrap{
        background:#0F0E15;
        
.sh_onemate_snippet_2.sh_about_section{
    .sh_about{
        .sh_about_content{
            .sh_about_title{
                h1{
                    color:#fff;
                }
                p{
                    color:#f7f7f7;
                }
            }
            .sh_about_btn{
               &:hover{
                &::before{
                background-color:#fff;
                }
                a{
                    color:o-color(o-color-2);
                }
                }
            }
        }
    } 
}
.sh_onemate_snippet_3.sh_service_section{
    .sh_section_heading{
        h1{
            color:#fff;
        }
        p{
            color:#f7f7f7;
        }
    }
}

.sh_onemate_snippet_5{
    .sh_section_heading{
        h1{
            color:#fff;
        }
        p{
            color:#f7f7f7;
        }  
    }
}

.sh_onemate_snippet_6{
    .sh_section_heading{
        h1{
            color:#fff;
        }
        p{
            color:#f7f7f7;
        }  
    }
}

.sh_onemate_snippet_8{
    .sh_consultant_team{
    .sh_section_heading{
        h1{
            color:#fff;
        }
        p{
            color:#f7f7f7;
        }  
    }
}
}
.sh_onemate_snippet_9{
    .sh_section_heading{
        h1{
            color:#fff;
        }
        p{
            color:#f7f7f7;
        }  
    }
}


#sh_onemate_snippet_tmpl_10{
    .sh_section_heading{
        h3{
            color:#fff;
        }
        p{
            color:#f7f7f7;
        }  
    }
    .sh_single_blog{
        z-index:1;
        .sh_blog_details{
            .date{
                p{
                    color:#fff !important;
                }
            }
            .title{
                a{
                color:o-color(o-color-2) !important;
                }
            }
            p.content{
                color:#fff;
            }
        }
        &::after {
            border: 1px solid #FF7C5B;
            z-index:-1;
        }
    }
}
.sh_onemate_snippet_tmpl_12{
    .main-row{
        background:#27262c87 !important;
        .sh_contact_details{
            background:o-color(o-color-5) !important;
        }
        .sh_our_contact{
            h5{
                color:#fff !important;
            }
            h2{
                color:#fff !important;
            }
        }
        .contact_form{
            .form-control{
                border: 1px solid #1a1818 !important;background:#0e0d0d;
            }
        }
    }
}


}
footer#bottom{
    .o_footer_copyright{display:none;}
    #sh_footer5{
        background:o-color(o-color-5) !important;
        .sh_footer_tags{
            a{
                color: #fff;
            }
        }
        .sh_footer_menu{
            li{
                a{
                    color: #fff;
                }
            }
        }
        .sh_copyright{
            .sh_copyright_content{
                a{
                    color: #fff;
                }
            }
        }
        .social_icons{
            .social_icon{
                a{
                    color: #fff;
                }
            }
        }
    }
    #sh_copyright_5{
        background:#0F0E15 !important;
    }
}
.js_cls_bottom_nav_bar_wrapper{
    .sh_corpomate_main_navbar_section_style_1{
        background:#0F0E15;box-shadow: 0px -3px 10px #8b8b8ba1;
    }
    .sh_corpomate_main_navbar_section_style_2{
        background:#0F0E15;box-shadow: 0px -3px 10px #8b8b8ba1;
        .sh_bottom_nav 
        .menu-text{
            color:#fff;
        }
    }
    .sh_corpomate_main_navbar_section_style_3{
        background:#0F0E15;box-shadow: 0px -3px 10px #8b8b8ba1;
        .sh_bottom_nav{
            span{
                color:o-color(o-color-2) ;
            }
        }
    }
}
}