  footer {background: o-color(o-color-3) !important; padding: 20px 0 20px;position: relative;}
 footer .sh_inner{    position: absolute;height: 70px;width: 150px;top: 85%;right:5%;opacity: 0.3;background-size: contain;animation-name: ZoomToFade3;animation-duration: 4s;animation-iteration-count: infinite;}

@keyframes ZoomToFade3{
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}
#sh_footer .o_cc5, .o_footer {background-color:#1f1f2e;color: #FFFFFF;}
#sh_footer footer{ display: block;background: #051030;}
.footer-logo h6{padding-bottom: 0px; margin-bottom:0px;}
.footer-logo img.footer-logo-img{width: 170px!important; height: auto !important;}
#footer .footer-logo{display: flex;align-items: center;height: 100%;}
.footer-logo .footer-img-sub-title{margin-top: 0px;margin-bottom: 1rem;text-align: left; margin-left: 30px;font-size: 15px; color: o-color('o-color-1');display: none;}
.footer-services-content{text-align: left; padding:0px 10px;position: relative;}
.footer-services-content .footer-services-icon{padding:10px 0px;}
.footer-services-content .footer-services-icon img{ height: 35px; width:35px;}
.footer-services-content .footer-service-title{width:100%; text-align: left;}
.footer-services-content .footer-service-title h5{color:#dedede; font-size: 17px; font-weight: bold;}
.footer-service-btn {padding-bottom: 10px;}
.footer-service-btn .footer-service-btn-icon span{height: 20px; width: 20px;text-align: center;line-height: 20px;color:#383e45;font-size: 15px;border-radius: 30px;margin-top: 10px; background:o-color('o-color-1');;}
.footer-service-btn .footer-service-btn-icon .footer-service-link a{color: #dedede;background:o-color(o-color-3); padding-left:5px;}
.footer-service-btn .footer-service-btn-icon .footer-service-link a:hover{color: o-color(o-color-1);}
.footer-content-about-us{text-align: left; padding:10px 0px;}
.footer-content-about-us h3 {font-weight:bold; padding-bottom:0px; margin-bottom: 0px;font-size: 1.1rem;}
.footer-content-about-us .shape img{height:15px; width:15%; object-fit: contain; text-align: center; margin-top:0px;}
.footer-content-about-us .footer-content-about-us-text{width:100%; padding-right:50px;margin-top:20px;}
.footer-content-about-us .footer-content-about-us-text p{font-size: 15px; line-height:25px;color: #fff; display: -webkit-box;max-width: 100%;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;}
.footer-content-about-us .footer-content-about-us-icons{width:100%; margin-left:-70px; margin-top: 20px;}
.footer-content-about-us .footer-content-about-us-icons ul {list-style-type: none; display: flex;justify-content:center; margin:0px 0px 0px 20px;}
.footer-content-about-us .footer-content-about-us-icons a{color: #919191; transition: 1s;}
.footer-content-about-us .footer-content-about-us-icons span:hover a{color: #dedede !important;}
.footer-content-about-us .footer-content-about-us-icons span{height:30px; width:30px; transition: 1s; margin-left:10px; background:#fff; border-radius:30px; font-size:15px; line-height:30px; text-align: center;}
.footer-content-about-us .footer-content-about-us-icons span:hover{background: o-color('o-color-1');; color: #fff;}
.footer-explore-link{width:100%; text-align: left;}
.footer-explore-link .footer-explore-content-link{margin-top:0px;}
.footer-explore-link .footer-explore-content-link ul{margin: 0;padding: 0;list-style: none;display: inline-block;width: 100%;vertical-align: top;}
.footer-explore-link .footer-explore-content-link ul li{padding-top:5px;}
.footer-explore-link .footer-explore-content-link ul li:hover a{color: o-color('o-color-1');;}
.footer-explore-link .footer-explore-content-link ul li a{color: #dedede; transition:1s; padding:10px; margin-bottom: 5px;transition: all .4s;font-size: 15px;}
.footer-content-inputs{width:100%;padding:13px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 0px;}
.footer-content-inputs input{padding:10px 10px; border-radius:5px;}
.footer-content-inputs .input-text{font-size:15px; color:#dedede;  width:100%;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;}
.footer-content-inputs .input-group-append{height: 80%;margin-top: 4px;margin-left: -20px;}
.footer-content-inputs .subscribe-button{background: o-color('o-color-1');; color:#dedede; z-index:3; height: 100%;width: 40px;border: none; border-radius: 10px;}
.company-address{ min-height: 125px; padding:0px 5px; background:o-color(o-color-3);  transition:1s; color:#dedede; display:flex; justify-content: space-between; align-items:center;border-radius: 10px;}
.company-address-icon{width:20%; color:#dedede; font-size:20px; display: flex; justify-content: center; align-items: center;}
.company-address-icon span{height:50px; width:50px; color: #dedede; transition: 1s; background:#283039; border-radius:50px; line-height:50px; text-align: center;}
.company-address .company-address-text{width:80%;margin-bottom: 0px;}
.company-address .company-address-text h6{font-size: 18px; font-weight: bold;}
.company-address .company-address-text p{margin:0px 0px; transition: 1s;  font-size:14px !important; display: -webkit-box;max-width: 100%;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden; color: #fff;}
.company-address .company-address-text .sh_des{font-size: 14px;}
.company-address .company-address-text p:hover{color:o-color('o-color-1');;}
.company-address .company-email-text{width:80%;margin-bottom: 0px;}
.company-address .company-email-text h6{font-size: 18px; font-weight: bold;}
.company-address .company-email-text p{margin:0px 0px;  font-size:14px; color: #dedede;}
.company-address .company-email-text p a{color:#dedede; transition: 1s;}
.company-address .company-email-text p:hover a{color: o-color('o-color-1');;}
.company-address:hover .company-address-icon span{background:#05103b;}
.input-group .btn.js_subscribed_btn {display: flex; justify-content: center; align-items: center;}
.btn.btn-primary.js_subscribe_btn.o_submit{display: flex; justify-content: center; align-items: center;    border-top-right-radius: 5px !important;border-bottom-right-radius: 5px !important;}
.footer-content-inputs input{color: black;}
#top_menu_collapse_mobile .offcanvas-body {
  justify-content: start!important;
}
@media screen and (min-width:992px) and (max-width:1199px){
.footer-content-about-us .footer-content-about-us-text{margin-top:14px;}
.footer-logo .footer-img-sub-title{margin-left:0;}


}

@media screen and (max-width:1024px) {
.footer-services-content .footer-service-title h5 {  color: #dedede;font-size: 12px;font-weight: bold;}
.footer-content-about-us h3 { font-weight: bold;padding-bottom: 0px;margin-bottom: 0px;font-size: 15px;}
.footer-content-about-us .footer-content-about-us-icons ul {list-style-type: none; display: flex;justify-content:flex-start; margin:0px 0px 0px 0px; padding-left:0rem;}
.footer-content-about-us .footer-content-about-us-icons{width:100%; margin-left:-30px; margin-top: 20px;}
.footer-content-about-us .footer-content-about-us-text{padding-right: 0px;}

}

@media screen and (min-width:821px) and (max-width:991px){
	.footer-services-content .footer-service-title h5{font-size:13px;}
	.footer-logo{padding-top:20px;}
}

@media screen and (max-width:800px){
.footer-content-about-us .footer-content-about-us-icons{width:100%; margin-left:-10px; margin-top: 20px;}
.footer-content-about-us .footer-content-about-us-text {width: 100%;padding-right: 0px;margin-top: 10px;}
.footer-content-about-us .footer-content-about-us-text p {font-size: 12px; line-height: 30px;}
.footer-explore-link .footer-explore-content-link ul li a {color: #dedede;  transition: 1s;  padding: 10px;margin-bottom: 5px;transition: all .4s;font-size: 12px;}
.footer-content-inputs {width: 100%;   padding: 0px;display: -webkit-box;display: -webkit-flex; display: flex;-webkit-box-orient: vertical;   -webkit-box-direction: normal;-webkit-flex-direction: column;flex-direction: column;justify-content: center;align-items: center;  margin-top: 0px;}
.footer-content-inputs .input-text {font-size: 12px;  color: #dedede;width: 100%; display: -webkit-box;max-width: 100%;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;}
.footer-content-inputs input {padding: 22px 10px;font-size: 12px;}
.company-address{ min-height: 120px; transition:1s; color:#dedede; display:flex; padding:0px 5px; justify-content: space-between; align-items:center;}
.footer-content-inputs .subscribe-button {background: #f55d2c; color: #dedede; top: -4px; z-index: 1;  height: 100%;width: 35px;border: none; border-radius:0px;}
.footer-content-about-us .footer-content-about-us-icons span {height: 25px;width: 25px;transition: 1s;margin-left: 5px;background: #fff;border-radius: 25px;font-size: 15px;line-height: 25px;text-align: center;}
.company-address .company-address-text{width:80%;margin-bottom: 0px; padding:0px 9px;}
.company-address .company-email-text{width:80%;margin-bottom: 0px; padding:0px 9px;}
.footer-content-about-us .shape img{height:5px; width:15%; object-fit: contain; text-align: center; margin-top:0px;}
.footer-logo{padding-top:20px;}
}
@media screen and (max-width:767px){
.footer-content-about-us .footer-content-about-us-icons ul {list-style-type: none; display: flex;justify-content:flex-start; margin:0px 0px 0px 20px;}
.footer-content-about-us .footer-content-about-us-icons{width:100%; margin-left:-23px; margin-top: 20px;}
}
@media screen and (max-width:576px){
.footer-logo{padding-top: 0;}
.footer-services-content .footer-services-icon img{ height: 50px; width:50px;}
.footer-services-content .footer-service-title h5{color:#dedede; font-size: 18px; font-weight: bold;position: absolute;    position: absolute;right: 30px;top: 25px;}
.company-address{ min-height: 120px;   transition:1s; color:#dedede; display:flex; justify-content: space-between; align-items:center;}
.footer-content-about-us .footer-content-about-us-icons ul{padding-left: 1rem !important;margin: 0px !important;}
}
// footer#bottom.o_footer.o_colored_level.o_cc  .o_footer_copyright.o_colored_level.o_cc[data-name="Copyright"]{display: none;}
footer#bottom{margin-top: 0px !important;}
.btn.btn-primary.js_subscribe_btn.o_submit{display:flex; justify-content: center; align-items: center;}

.o_footer_copyright{display:none !important;}