#sh_footer1{padding: 50px 0  0px;  background: #111111;}
#sh_footer1 .sh_first_row .sh_sub_content h3{font-size: 20px; font-weight: 600;}
#sh_footer1 .sh_first_row .js_subscribe_email.form-control{background: #111111;color: #5a5a5a; font-weight: 600; height: 45px;border-radius: 0; border: 2px solid #3f3f3f;}
#sh_footer1 .sh_first_row .btn.btn-primary.js_subscribe_btn:focus{box-shadow: 0 0 0 0.2rem rgba(254,91,4,1);}
#sh_footer1 .sh_first_row .btn.btn-primary.js_subscribe_btn:active{border-color: o-color(o-color-1) !important;}
#sh_footer1 .sh_first_row .btn.btn-primary.js_subscribed_btn{    position: absolute;background: #e5540c;right: 0;padding: 8px 10px;top:0;font-size: 14px;}
#sh_footer1 .sh_first_row .btn.btn-primary.js_subscribed_btn:focus{box-shadow: 0 0 0 0.2rem rgba(254,91,4,1);}
#sh_footer1 .sh_first_row .btn.btn-primary.js_subscribed_btn:active{border-color: o-color(o-color-1) !important;}
#sh_footer1 .sh_first_row .sh_sub_text{text-align: center;}
#sh_footer1 .input-group > .form-control, .input-group > .form-select{border-radius: 0 !important;}
#sh_footer1 .sh_first_row .sh_sub_text h5 a{font-size: 20px; font-weight: 600; color:o-color(o-color-1);}
#sh_footer1 .second-row{border-top: 1px solid #5a5a5a; border-bottom: 1px solid #5a5a5a; padding: 15px 0px; margin-top: 30px;}
#sh_footer1 .second-row .footer-logo{height: 70px; width: 200px;}
#sh_footer1 .second-row .footer-logo a{display: block;}
#sh_footer1 .sh_footer_box .sh_text{margin-top: 40px; color: #ffff; display: -webkit-box;max-width: 100%;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;}
#sh_footer1 .sh_footer_link h4{color: o-color(o-color-1); font-size: 23px; font-weight: 600; margin-bottom: 50px; margin-top: 30px;}
#sh_footer1 .sh_footer_link p{margin-bottom: 0px;}
#sh_footer1 .sh_footer_link p a{color: #fff; transition: 0.5s;}
#sh_footer1 .sh_footer_link p a:hover{color: o-color(o-color-1);}
#sh_footer1 .sh_footer_content h4{color: o-color(o-color-1); font-size: 23px; font-weight: 600; margin-bottom: 50px; margin-top: 30px;}
#sh_footer1 .sh_footer_details {display: flex; align-items: center; margin-bottom: 10px;}
#sh_footer1 .sh_footer_details .sh_icon{margin-right: 20px; font-size: 25px; color: o-color(o-color-1);}
#sh_footer1 .sh_footer_details .sh_icon .fa.fa-map-marker{font-size: 35px;}
#sh_footer1 .sh_footer_details .sh_icon  .fa-envelope:before{font-size: 20px;}
#sh_footer1 .sh_footer_details .sh_address a{font-size: 16px; transition: 0.5s; color: #fff; text-decoration: none;}
#sh_footer1 .sh_footer_details .sh_address a:hover{color: o-color(o-color-1);}
#sh_footer1 .input-group > :not(:first-child):not(.dropdown-menu):not(.o_dropdown_menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){border-radius: 0 !important;}


@media screen and (min-width:992px) and (max-width:1199px){
    #sh_footer1 .sh_footer_link h4{font-size:20px;margin-top: 0px;}
    #sh_footer1 .sh_footer_box .sh_text{margin-top:10px;}
    #sh_footer1 .sh_footer_content h4{margin-top:0;}
    #sh_copyright_1 ul{margin-left: 35%;}


}
@media screen and (min-width:821px) and (max-width:991px){
    #sh_footer1 .sh_first_row .sh_sub_content h3{font-size:17px;}
    #sh_footer1 .sh_first_row .sh_sub_text h5{font-size:17px;}
    #sh_footer1 .sh_footer_link h4{margin-bottom:20px;}
    #sh_footer1 .sh_footer_content h4{margin-bottom:20px;}
    #sh_footer1 .sh_footer_box .sh_text{margin-top:0;}
    #sh_copyright_1 ul{margin-left:25%;}
}
@media (max-width:820px) {
#sh_copyright_1 ul{margin-left: 20%;}
#sh_footer1 .sh_footer_content h4{font-size:23px;}
#sh_footer1 .sh_footer_link h4{font-size: 23px;}
#sh_footer1 .sh_first_row .sh_sub_text h5, #sh_footer1 .sh_first_row .sh_sub_text .h5{font-size:17px;}
#sh_footer1 .sh_first_row .sh_sub_content h3, #sh_footer1 .sh_first_row .sh_sub_content .h3{font-size:17px;}
#sh_footer1 .sh_footer_box .sh_text{margin-top:0;}
#sh_footer1 .sh_footer_link h4{margin-bottom:20px;}
#sh_footer1 .sh_footer_content h4{margin-bottom:20px;}
#sh_footer1 .second-row .footer-logo{height: auto;}
}
@media screen and (min-width:577px) and (max-width:767px){
    #sh_footer1 .sh_first_row .sh_sub_text {text-align: left;margin-top: 10px;}
    #sh_copyright_1 .muted{text-align: center;}
    #sh_copyright_1 ul{margin-left:10%;}
}
@media (max-width:567px) {
#sh_footer1 .sh_first_row .sh_sub_text {text-align: left;margin-top: 10px;}
#sh_footer1 .sh_first_row .js_subscribe_email.form-control{font-size: 14px;}
#sh_footer1 .sh_footer_details .sh_address a{font-size: 14px;}
#sh_footer1 .sh_footer_box .sh_text {display: -webkit-box;max-width: 100%;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;}
#sh_footer1 .sh_first_row .btn.btn-primary.js_subscribe_btn{top:9%;}


}
// footer#bottom.o_footer.o_colored_level.o_cc  .o_footer_copyright.o_colored_level.o_cc[data-name="Copyright"]{display: none;}

.o_footer_copyright{display:none !important;}