/*sh_footer*/
#sh_footer4{background: #f7f8fa;border: 0;padding: 50px 0 0px; position: relative;}
#sh_footer4:before{content:''; position: absolute; top:0; left: 0; height:100%; width:100%; background:url(/sh_corpomate_theme/static/src/images/theme_18/images/bg_shapes/shape-5.png); background-position: center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;}
#sh_footer4 .sh_main{background: #fff;display: flex;justify-content: space-between;margin-top:-50px;padding: 30px;border-radius: 0px;box-shadow: 0 11px 20px 3px rgba(34,34,34,0.1);margin-bottom: 0px;position: relative;top: -60px;align-items: center;}
#sh_footer4 .sh_main .sh_text h2{color: #212121;margin: 0;font-size: 23px !important;font-weight: 600;}
#sh_footer4 .sh_main .js_subscribe{justify-content:flex-end;}
#sh_footer4 .sh_main .js_subscribe input{height: 50px;max-width: 100%;border-radius:0px; background:#e7e7e7;font-size: 14px;padding-left: 20px;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a{height: 50px;line-height: 50px;padding-top: 0;padding-bottom: 0;padding-left: 20px;padding-right: 20px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;box-shadow: none;}
#sh_footer4 .sh_main .btn-primary {color: #FFFFFF;background-color: o-color('o-color-1');border-color: o-color('o-color-1');margin-left: 10px;text-align: center;display: flex;justify-content: center;align-items: center;padding: 10px 20px;border-radius: 0px;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn:before {content: "";position: absolute;width: 100%;height: 100%;background-color:o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn{padding: 12px 25px;text-align: center;border-radius: 0;background:transparent;color: #fff;font-size: 17px;font-weight: 400;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;border: 0;display: inline-flex;align-items: center;justify-content: center;position: relative;border-radius: 3px;margin-right: 10px;margin-left: 10px;position: relative;z-index: 1;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn i {margin-left: 10px;font-size: 17px;}  
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn:focus, #sh_footer4 .sh_main .js_subscribe .input-group-append a.btn:active {-webkit-box-shadow: none;box-shadow: none;border: 0;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn:before {content: "";position: absolute;width: 100%;height: 100%;background-color: o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn:after {content: "";position: absolute;width: 100%;height: 100%;background-color: transparent;border: 1px solid o-color('o-color-1');-webkit-transform: scale(0.4);transform: scale(0.4);opacity: 0;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;z-index: -1;border-radius: 3px;left: 0;top: 0;color:#fff;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn:hover:before {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: 0;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn:hover{ color: o-color('o-color-1');}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn:hover:after {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn.btn-border {background-color: transparent;color: o-color('o-color-1');-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn.btn-border:before {background-color: transparent;border: 1px solid o-color('o-color-1');}  
#sh_footer4 .sh_main .js_subscribe .input-group-append a.btn.btn-border:after {background-color: o-color('o-color-1');border: 0;}
#sh_footer4 .sh_first_column h4{font-size: 20px;font-weight: 600; position:relative; margin-bottom: 40px;color:#212121;}
#sh_footer4 .sh_first_column h4:before {position: absolute;content: '';width: 40px;height: 3px;left: 0px;bottom:-15px;background-repeat: no-repeat;border-bottom: 3px solid o-color('o-color-1');}
#sh_footer4 .sh_first_column p{margin: 0;color: #616161;font-size: 13px;padding-bottom: 10px; padding-left: 25px;}
#sh_footer4 .sh_first_column p:hover{color: o-color(o-color-2);}
#sh_footer4 .sh_column h4{font-size: 20px;font-weight: 600;margin-bottom: 40px;color: #212121; position:relative;}
#sh_footer4 .sh_column h4:before {position: absolute;content: '';width: 40px;height: 3px;left: 0px;bottom: -15px;background-repeat: no-repeat;border-bottom: 3px solid o-color('o-color-1');}
#sh_footer4 .sh_first_column ul li a span:last-child {color: #616161 !important;clear: both;font-weight: 500;padding-left: 25px;font-size: 13px;}
#sh_footer4 .sh_first_column ul li .fa-phone:before {content: "\f095";font-size: 20px;}
#sh_footer4 .sh_first_column ul li .fa-envelope:before {content: "\f0e0";font-size: 20px;}
#sh_footer4 .sh_first_column ul li .fa-map-marker:before {content: "\f041";font-size: 20px;}
#sh_footer4 .sh_column ul li{margin-bottom: 10px;}
#sh_footer4 .sh_column ul li span{float: left;padding-right: 10px; color:o-color('o-color-1');}
#sh_footer4 .sh_column ul li a{color: #616161;font-size: 14px;padding-bottom: 5px;display: block;}
#sh_footer4 .sh_column ul li a:hover{color: o-color(o-color-2);}
#sh_footer4 .sh_column ul{padding: 0px;list-style: none;}
#sh_footer4 .sh_column.sh_third_column h4{height: 28px; }
#sh_footer4 .sh_first_column img{max-height: 30px;max-width: 160px;object-fit: contain;margin-bottom: 20px;}
#sh_footer4 .sh_fourth_column ul li{display: flex;color: #212121;margin-bottom: 15px;}
#sh_footer4 .sh_fourth_column ul li span{font-size: 24px;padding-right: 10px;}
#sh_footer4 .sh_fourth_column ul li p {padding-top: 3px;}
#sh_footer4 .sh_first_column ul{list-style: none;padding: 0;padding-top: 10px;}
#sh_footer4 .sh_first_column ul li a{color: #212121;padding-bottom: 10px;display: inline-block;}
#sh_footer4 .sh_first_column ul li a span{padding-right: 10px;font-size: 16px; font-weight: 600; padding-bottom: 10px;}
#sh_footer4 .sh_first_column ul li a span:first-child{color: o-color('o-color-1');}
#sh_footer4 .sh_first_column ul li a span:last-child{color: #212121; clear: both;}
#sh_footer4 .sh_main .btn-primary{margin-left:0px !important;}
.btn.btn-primary.js_subscribe_btn.o_submit{display:flex; justify-content: center; align-items: center;}
#sh_footer4 .input-group > :not(:first-child):not(.dropdown-menu):not(.o_dropdown_menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){border-radius:0 !important;}
#top_menu_collapse_mobile .offcanvas-body {
  justify-content: start!important;
}
@media (max-width: 768px){
#sh_footer4 .sh_main .sh_text h2 {color: #212121;margin: 0;font-size: 16px;font-weight: 600;margin-bottom: 20px;} 
}
@media screen and (min-width:577px) and (max-width:767px){
#sh_footer4 .sh_main .sh_text h2{font-size:19px !important;}
#sh_copyright_4 .muted{text-align:center;}
#sh_copyright_4 .font-arial.fs-12, .font-arial.fs-11{text-align: center !important;}
}
@media (max-width: 576px){
#sh_footer4 .sh_first_column p{font-size:12px;}
#sh_footer4 .sh_main{background: #fff;display: flex;justify-content: space-between;margin-top: -50px;padding: 30px;border-radius: 0px;box-shadow: 0 11px 20px 3px rgba(34,34,34,0.1);margin-bottom: 0px;position: relative;top: -60px; flex-direction: column;}
#sh_footer4 .sh_main .js_subscribe input {height: 50px;max-width: 100%;border-radius: 0px;background: #e7e7e7;font-size: 12px;padding-left: 20px;}
#sh_footer4 .sh_main .sh_text h2 {color: #212121;margin: 0;font-size: 20px;margin-bottom: 20px;font-weight: 600;}
#sh_footer4 .sh_main .js_subscribe .input-group-append a {height: 50px;line-height: 50px;padding-top: 0;padding-bottom: 0;padding-left: 10px;padding-right: 10px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;font-size: 12px;box-shadow: none;}
#sh_footer4 .sh_first_column ul li .fa-phone:before {content: "\f095";font-size: 15px;}
#sh_footer4 .sh_first_column ul li .fa-envelope:before {content: "\f0e0";font-size: 15px;}
#sh_footer4 .sh_first_column ul li .fa-map-marker:before {content: "\f041";font-size: 15px;}
}
// footer#bottom.o_footer.o_colored_level.o_cc  .o_footer_copyright.o_colored_level.o_cc[data-name="Copyright"]{display: none;}
.o_footer_copyright{display:none !important;}