.js_cls_store_locator_wrapper .oe_search_found{display: none;}
.sh_store_locator_loder {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(/sh_corpomate_theme/static/src/images/extra_addons/sh_website_store_locator/loading.gif) center no-repeat rgba(255, 255, 255, 0.5);text-shadow: 0 1px 1px white;}
.sh_store_section .store-image,
.sh_store_section .store-contact.fax{display: none;}
//.sh_store_section .web-addr

.js_cls_store_locator_wrapper .shop-hidden {
    display: none !important;
}

// style 1

.sh_store_locator_wrapper_style_1 #googleMap .js_cls_store_direct_link_to_map,
.sh_store_locator_wrapper_style_1 #googleMap .js_cls_store_more_info{display: none !important;}
header.o_header_is_scrolled + main  .card-header.store-header {top: 56px !important; position: fixed; width: 100%;z-index:3; left:0;}
.sh_js_cls_filter_countries .multiselect-container li label.checkbox,
.sh_js_cls_filter_states .multiselect-container li label.checkbox,
.sh_js_cls_filter_cities .multiselect-container li label.checkbox{display: flex;align-items: center;}

// Style-1 Design Store Locator // 
.sh_store_locator_wrapper_style_1 .container-fluid{padding:0 !important;}
.sh_store_locator_wrapper_style_1 .card{border:0; overflow: initial !important;overflow-x: hidden !important;}
.sh_store_locator_wrapper_style_1 .card-header.store-header{border-bottom:none;background:rgba(235,235,235,1);padding: 0.7rem 2rem;z-index: 1;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show{overflow-y: auto;height: auto;max-height: 50vh;box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;border: none;}
.sh_store_locator_wrapper_style_1 .multiselect.dropdown-toggle{max-width: 150px;min-width: 160px;margin-left: 5px;}//white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show .multiselect-item.multiselect-filter .input-group{position: relative;width: 100%;left: 0;top: 0;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show .multiselect-item.multiselect-filter .input-group-addon{position: absolute;top: 6px;left: 7px;z-index: 1;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show .multiselect-clear-filter{display:none;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show li{padding:5px 10px;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show li a .checkbox input{height: 20px;width: 20px;vertical-align:middle;margin-right: 5px;opacity:1;position: relative;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show li a .checkbox input:checked:after{opacity:1;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show li a .checkbox input:after{background: transparent;border-bottom: 3px solid #104cba;border-left: 3px solid #104cba;content: '';height: 7px;width: 13px;transform: rotate(-42deg);top: 5px;left: 4px; opacity:0; position: absolute;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show li a .checkbox input:before{position: absolute;height: 20px;width: 20px;background: #fff;content: '';border: 1px solid #104cba; border-radius: 0.25rem;}
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show .form-control.multiselect-search{padding: 0.375rem 2rem;transition:0.1s;border-radius:0.25rem; border-top-left-radius:0.25rem !important; border-bottom-left-radius:0.25rem !important; }
.sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show .form-control.multiselect-search:focus{padding: 0.375rem 0.75rem;}
.sh_store_locator_wrapper_style_1 .sh_list_grid_box{float: right;}
.sh_store_locator_wrapper_style_1 .sh_list_grid_box .waves-effect{padding:8px 10px; margin-right:3px; }
.sh_store_locator_wrapper_style_1 .sh_store_section.listView{height:500px; overflow: auto;}
.sh_store_locator_wrapper_style_1 .card-body .store_box{margin-bottom:10px;}
.sh_store_locator_wrapper_style_1 .card-body .store_box .store-list{box-shadow: rgba(38, 42, 76, 0.1) 0px 5px 70px 0px, rgba(38, 42, 76, 0.1) 0px 2px 16px 0px;padding: 20px; position: relative; margin-bottom:15px; border-radius: 0.25rem; margin-bottom:0px; transition:0.5s;}
.sh_store_locator_wrapper_style_1 .card-body .store_box .store-list:hover{box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}
.sh_store_locator_wrapper_style_1 .card-body .store_box .store-list .sh_location_details{display: flex;flex-direction: column;position: absolute;right: -18px;top: 50%;transform: translateY(-50%);}
.sh_store_locator_wrapper_style_1 .card-body .store_box .store-list .sh_location_details .js_cls_store_more_info{margin: 5px 0px;width: 30px;padding: 0.375rem 0.5rem;    height: 30px;display: flex;justify-content: center;align-items: center;border-radius: 0.25rem;}
.sh_store_locator_wrapper_style_1 .card-body .store_box .store-list .sh_location_details .js_cls_store_direct_link_to_map{margin: 5px 0px;width: 30px;padding: 0.375rem 0.5rem;    height: 30px;display: flex;justify-content: center;align-items: center;border-radius: 0.25rem;}
.sh_store_locator_wrapper_style_1 .card-body .store_box .store-list a{text-decoration:none; transition:0.5s;}
.sh_store_locator_wrapper_style_1 .card-body .store_box .store-list span.fa{margin-right:10px;}
.sh_store_locator_wrapper_style_1 .card-body .store_box .store-list a:hover{color: darken(o-color(o-color-1), 20%);}
.sh_store_locator_wrapper_style_1 .search-store{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
// POP-Up Design // 
 .modal-content .sh_details_popup.modal-body span .fa.fa-map-marker{font-size: 20px;margin-right: 5px;}
 .modal-content .sh_details_popup h3{font-weight:600;font-size:25px;}
 .modal-content .sh_details_popup .sh_main_cls{display: flex; align-items: center;}
 .modal-content .sh_details_popup .sh_main_cls .sh_cls_1{margin-right: 10px;}
 .modal-content .sh_details_popup .fa.fa-user-circle-o{font-size: 20px;margin-right: 8px;    margin-top: 5px;margin-bottom: 5px;}
 .modal-content .sh_details_popup .fa.fa-phone{font-size: 20px;margin-right: 11px;}
 .modal-content .sh_details_popup .fa.fa-mobile{font-size: 25px;margin-right: 14px;}
 .modal-content .sh_details_popup .fa.fa-fax{font-size: 20px;margin-right: 8px;    margin-bottom: 5px;margin-top: 5px;}
 .modal-content .sh_details_popup .fa.fa-envelope{font-size: 20px;margin-right: 7px;}
 .modal-content .sh_details_popup .fa.fa-globe{font-size: 20px;margin-right: 9px; margin-top:3px;}
 .modal-content .sh_details_popup .fa.fa-calendar{font-size: 20px;margin-right: 5px;}
 .modal-content .sh_details_popup .fa.fa-clock-o{font-size: 20px;margin-right: 5px;}
 .modal-content .sh_details_popup .badge{padding:4px; font-size:12px; margin-right:5px; margin-top:5px;}
 .modal-content .sh_details_popup .sh_calender_details{text-transform: capitalize;}
 .modal-content .sh_details_popup a{text-decoration:none; transition:0.3s;}
 .modal-content .sh_details_popup a:hover{color: darken(o-color(o-color-1), 20%);}
//  style list View//

.sh_store_section.listView .table > tbody{vertical-align: middle;}
.sh_store_section.listView .table > thead{position: sticky;top: 0;background: #fff;z-index:0;}
 .sh_store_section.listView table .store_box td:nth-child(2){width:15%;}
 .sh_store_section.listView table .store_box td:nth-child(3){width:40%;}
 .sh_store_section.listView table .store_box td:nth-child(4){width:20%;}
 .sh_store_section.listView table .store_box td:nth-child(5){width:15%;}
 .sh_store_section.listView table .store_box td:nth-child(6){width:10%;}
 .sh_store_section.listView table .store_box a{text-decoration:none;}
 .sh_details_popup .store_address,
 .sh_store_section.listView table .store_box td:nth-child(3){line-break: anywhere;}

// Media Queries // 

@media screen and (max-width:1200px){
    .sh_store_locator_wrapper_style_1 .js_cls_current_location{font-size:14px;}
    .sh_store_locator_wrapper_style_1 .multiselect.dropdown-toggle {padding: 0.375rem 0.5rem;}
    .sh_store_locator_wrapper_style_1 .store-header .col-xl-8.col-lg-12.col-md-12{margin-top:10px;}
}

@media screen and (max-width:1000px) {
    .sh_store_locator_wrapper_style_1 .card-body .store_box  .js_cls_store_direct_link_to_map{margin-top:10px;}
    .modal-content .sh_details_popup .store_address{margin-bottom:10px;}
    .sh_store_locator_wrapper_style_1 .multiselect.dropdown-toggle{min-width:155px;}
    .sh_store_locator_wrapper_style_1 .sh_list_grid_box .waves-effect{padding: 8px 7px;}
    .sh_store_locator_wrapper_style_1 .store-header .col-xl-8.col-lg-12.col-md-12{padding-left:0 !important;}
}

@media screen and (max-width:767px){
    .sh_store_locator_wrapper_style_1 .store-header .col-xl-8.col-lg-12.col-md-12{display: flex;flex-direction: column;align-items: center;} 
    .sh_store_locator_wrapper_style_1 .multiselect.dropdown-toggle{margin-top:10px;}
    .sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show{height:150px;}
    .sh_store_locator_wrapper_style_1 .sh_list_grid_box{margin-top:10px;}
    .sh_store_locator_wrapper_style_1 .js_cls_current_location{width:100%;}
    .sh_store_locator_wrapper_style_1 .sh_js_cls_filter_cities{width:100%;}
    .sh_store_locator_wrapper_style_1 .sh_js_cls_filter_cities .btn-group{width:100% !important;}
    .sh_store_locator_wrapper_style_1 .sh_js_cls_filter_states{width:100%;}
    .sh_store_locator_wrapper_style_1 .sh_js_cls_filter_states .btn-group{width:100% !important;}
    .sh_store_locator_wrapper_style_1 .sh_js_cls_filter_countries{width:100%;}
    .sh_store_locator_wrapper_style_1 .sh_js_cls_filter_countries .btn-group{width:100% !important;}
    .sh_store_locator_wrapper_style_1 .multiselect.dropdown-toggle{margin-left: 0;}
    .sh_store_locator_wrapper_style_1 .multiselect.dropdown-toggle{max-width:100%;}
    .sh_store_locator_wrapper_style_1 .multiselect-container.dropdown-menu.show{left:0 !important; right:0 !important;}
    .modal-content .sh_details_popup .store_address{margin-bottom:10px;}
    
}
@media screen and (max-width:576px) {
    .modal-content .sh_details_popup .store_address{margin-bottom:10px;}
    .sh_store_locator_wrapper_style_1 .card-header.store-header{padding: 0.7rem 1.8rem !important;}
    .sh_store_locator_wrapper_style_1 .store-header .col-xl-8.col-lg-12.col-md-12{padding-left:0px !important;}
}

// style 2
.sh_store_locator_wrapper_style_2 .store-menu .store_box{width:100% !important;}
.sh_store_locator_wrapper_style_2 #map-container .js_cls_store_direct_link_to_map,
.sh_store_locator_wrapper_style_2 .js_cls_store_more_info{display: none !important;}

/* width */
.sh_custom_style_2_store_loc::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
.sh_custom_style_2_store_loc::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.sh_custom_style_2_store_loc::-webkit-scrollbar-thumb {background: #888; }
  
  /* Handle on hover */
.sh_custom_style_2_store_loc::-webkit-scrollbar-thumb:hover {background: #555; }


// POPUP STYLE
.style_2_popup_main_info{display: flex;justify-content: space-between;align-items: center;width: 22rem;}
.style_2_popup_main_info img{margin:10px 0px;}
.style_2_popup_main_info > div > .js_cls_store_name{font-size: 1.2rem;font-weight: 600;margin-bottom:5px;}

// Style-2 Design Store Locator // 
.sh_store_locator_wrapper_style_2 .card-body .store_box .store-list{box-shadow: rgba(38, 42, 76, 0.1) 0px 5px 70px 0px, rgba(38, 42, 76, 0.1) 0px 2px 16px 0px;padding: 20px;margin-bottom: 10px;margin-top: 5px; border-radius:0.25rem; cursor: pointer; transition:0.5s;}
.sh_store_locator_wrapper_style_2 .card-body .store_box .store-list:hover{box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}
.sh_store_locator_wrapper_style_2 .sh_store_locator_style_2_map_section{padding-right: 0px !important;}
.sh_store_locator_wrapper_style_2 .js_cls_store_direct_link_to_map{display:none;}
.sh_store_locator_wrapper_style_2 .card-body .col-xxl-3.col-xl-3{overflow-y:scroll;height:100vh;}
.sh_store_locator_wrapper_style_2 .col-xxl-8.col-xl-8.col-lg-12.col-md-12{display: flex;justify-content: end;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show{overflow-y: auto;height: auto;max-height: 50vh;box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;border:none;}
.sh_store_locator_wrapper_style_2 .multiselect.dropdown-toggle{color: #FFFFFF;background-color:o-color(o-color-1);border-color:o-color(o-color-1); max-width:150px; min-width: 170px;margin-left: 5px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show .multiselect-item.multiselect-filter .input-group{position: relative;width: 100%;left: 0;top: 0;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show .multiselect-item.multiselect-filter .input-group-addon{position: absolute;top: 6px;left: 7px;z-index: 1;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show .multiselect-clear-filter{display:none;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show li{padding:5px 10px;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show li a .checkbox{display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 140px;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show li a .checkbox input{height: 20px;width: 20px;vertical-align:middle;margin-right: 5px;opacity:1;position: relative;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show li a .checkbox input:checked:after{opacity:1;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show li a .checkbox input:after{background: transparent;border-bottom: 3px solid #104cba;border-left: 3px solid #104cba;content: '';height: 7px;width: 13px;transform: rotate(-42deg);top: 4px;left: 3px; opacity:0; position: absolute;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show li a .checkbox input:before{position: absolute;height: 20px;width: 20px;background: #fff;content: '';border: 1px solid #104cba; border-radius:0.25rem; }
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show .form-control.multiselect-search{padding: 0.375rem 2rem;transition:0.1s; border-radius:0.25rem;border-top-left-radius: 0.25rem !important;border-bottom-left-radius: 0.25rem !important;}
.sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show .form-control.multiselect-search:focus{padding: 0.375rem 0.75rem;}
.sh_store_locator_wrapper_style_2 .card-body .store_box .store-list.h-100{height:auto !important;}
.sh_store_locator_wrapper_style_2 .card-body .store_box .store-list a{text-decoration:none; font-weight:500; transition: 0.3s; display: flex;}
.sh_store_locator_wrapper_style_2 .card-body .store_box .store-list a:hover{color: darken(o-color(o-color-1), 20%);}
.sh_store_locator_wrapper_style_2 .card-body .store_box .store-list span.fa.fa-phone{font-size:20px; margin-right:10px;}
.sh_store_locator_wrapper_style_2 .card-body .store_box .store-list span.fa.fa-globe{font-size:20px; margin-right:8px;}
.sh_store_locator_wrapper_style_2 .card-body .store_box .store-list .store-contact.tel{margin-top:10px;}
.sh_store_locator_wrapper_style_2 #googleMap .gm-style .gm-style-iw-c{border-radius:0.25rem;}
.sh_store_locator_wrapper_style_2 .store-contact.email .fa.fa-envelope{margin-right: 9px;}
.sh_store_locator_wrapper_style_2 .card-header{padding:1rem 2rem;}
.sh_store_locator_wrapper_style_2 .card{border:0; overflow: initial !important;}
.sh_store_locator_wrapper_style_2 .card-header.store-header{border-bottom:none;background:rgba(235,235,235,1);padding: 0.7rem 2rem;}
.sh_store_locator_wrapper_style_2 .store-image {text-align:center; margin-bottom:10px;}
.sh_store_locator_wrapper_style_2 .sh_store_locator_style_2_map_section a{text-decoration:none; color:o-color(o-color-1); font-weight:500; transition:0.3s;}
.sh_store_locator_wrapper_style_2 .sh_store_locator_style_2_map_section a:hover {color: darken(o-color(o-color-1), 20%);}
.sh_store_locator_wrapper_style_2 .sh_store_locator_style_2_map_section span.fa{font-size:20px; margin-right:8px; color:o-color(o-color-1);}
.sh_store_locator_wrapper_style_2 .sh_store_locator_style_2_map_section span.fa.fa-phone{margin-right: 12px; color:o-color(o-color-1);}
.sh_store_locator_wrapper_style_2 .sh_store_locator_style_2_map_section span.fa.fa-envelope{margin-right:10px; color:o-color(o-color-1);}
.sh_store_locator_wrapper_style_2 .sh_store_locator_style_2_map_section span.fa.fa-globe{margin-right:12px; color:o-color(o-color-1);}
.sh_store_locator_wrapper_style_2 .sh_store_locator_style_2_map_section .store-contact.tel{margin-top:10px;}
.sh_store_locator_wrapper_style_2 .search-store{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
.sh_store_locator_wrapper_style_2 .style_2_popup_other_info .fa.fa-calendar{font-size:20px; margin-right:7px;}
.sh_store_locator_wrapper_style_2 .style_2_popup_other_info .fa.fa-clock-o{font-size:24px; margin-right:4px;}
.sh_store_locator_wrapper_style_2 .style_2_popup_other_info .icon_1{margin:5px 0px;}
.sh_store_locator_wrapper_style_2 .style_2_popup_other_info .icon_1 .sh_text{display:flex; align-items: center; text-transform: capitalize;}
.sh_store_locator_wrapper_style_2 .style_2_popup_other_info .badge{padding:5px; margin-right:5px; margin-top:5px;}
.sh_store_locator_wrapper_style_2 .style_2_popup_other_info .fa.fa-long-arrow-right{margin:0px 5px;}
@media screen and (max-width:1200px){
    .sh_store_locator_wrapper_style_2 .col-xxl-8.col-xl-8.col-lg-12.col-md-12{margin-top:10px;}
    .sh_store_locator_wrapper_style_2 .col-xxl-8.col-xl-8.col-lg-12.col-md-12{justify-content: center;}
}

@media screen and (max-width:991px) {
    .sh_store_locator_wrapper_style_2 .card-body .store_box .store-list{padding:15px;}
    .style_2_popup_main_info{width:12rem; flex-direction: column;}
    .sh_store_locator_wrapper_style_2 .style_2_popup_main_info img{margin:10px 0px;}
    .sh_store_locator_wrapper_style_2 .col-xxl-8.col-xl-8.col-lg-12.col-md-12{padding-left: 0px !important;}
}

@media screen and (max-width:767px){
    .sh_store_locator_wrapper_style_2 .col-xxl-8.col-xl-8.col-lg-12.col-md-12{padding-left: 10px;padding-right: 0;display: flex;align-items: center;justify-content: center;flex-direction: column;}
    .sh_store_locator_wrapper_style_2 .multiselect.dropdown-toggle{margin-top:10px;max-width:100%;}
    .sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show{height:150px;}
    .sh_store_locator_wrapper_style_2 .sh_list_grid_box{margin-top:10px;}
    .sh_store_locator_wrapper_style_2 .js_cls_current_location{width:100%;}
    .sh_store_locator_wrapper_style_2 .sh_js_cls_filter_cities{width:100%;}
    .sh_store_locator_wrapper_style_2 .sh_js_cls_filter_cities .btn-group{width:100% !important;}
    .sh_store_locator_wrapper_style_2 .sh_js_cls_filter_states{width:100%;}
    .sh_store_locator_wrapper_style_2 .sh_js_cls_filter_states .btn-group{width:100% !important;}
    .sh_store_locator_wrapper_style_2 .sh_js_cls_filter_countries{width:100%;}
    .sh_store_locator_wrapper_style_2 .sh_js_cls_filter_countries .btn-group{width:100% !important;}
    .sh_store_locator_wrapper_style_2 .multiselect.dropdown-toggle{margin-left: 0;}
    .sh_store_locator_wrapper_style_2 .multiselect-container.dropdown-menu.show{left:0 !important; right:0 !important;}
}
@media screen and (max-width:576px){
    .sh_custom_style_2_store_loc{height:50vh !important;}
    .sh_store_locator_wrapper_style_2 .style_2_popup_main_info{width:7rem; flex-direction: column;}
    .sh_store_locator_wrapper_style_2 .style_2_popup_main_info img{margin:10px 0px;}
    .style_2_popup_main_info > div > .js_cls_store_name{font-size:0.9rem;}
    .sh_store_locator_wrapper_style_2 .card-header.store-header{position: relative;}
    header.o_header_is_scrolled + main  .card-header.store-header {top: 50px !important; position:relative; width: 100%; left:0;}
    .sh_store_locator_wrapper_style_2 .style_2_popup_other_info .fa.fa-clock-o{font-size:22px;}
    .sh_store_locator_wrapper_style_2 .style_2_popup_other_info .fa.fa-calendar{font-size:18px;}
}

