/* ===============
	Style - 2
 ================ */
#sh_website_popup_modal_tmpl_2_style .modal:not([data-backdrop="false"]){
	background-color: unset;
}
#sh_website_popup_modal_tmpl_2_style p{
	margin-bottom:0;
}
#sh_website_popup_modal_tmpl_2_style #sh_swp_model_popup{
	position:relative;
	padding-left: 0px !important;
	
}
#sh_website_popup_modal_tmpl_2_style #sh_swp_model_popup .overlay{
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.7);
}
#sh_website_popup_modal_tmpl_2_style #sh_swp_model_popup .modal-dialog{
	display: flex;
    align-items: center;
	max-width: 100%;
	padding:26px;
	margin:0;
    height: 100vh;
}
#sh_website_popup_modal_tmpl_2_style #sh_swp_model_popup .img_box{
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
}

#sh_website_popup_modal_tmpl_2_style #sh_swp_model_popup .img_box img{
	width: 100%;height: 100%;object-fit: cover;
}
#sh_website_popup_modal_tmpl_2_style .modal-header{
	border-bottom: 0;
	padding: .5rem 1rem;
    background: transparent;
    z-index: 1;
    text-align: center;
    display: block;
    position: relative;
	margin-bottom:12px;
}
#sh_website_popup_modal_tmpl_2_style .modal-header:after{
	position: absolute;
    content: '';
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    width: 68px;
    height: 3px;
    background: #fff;
    border-radius: 50px;
}
#sh_website_popup_modal_tmpl_2_style .close{
	position:relative;
	margin-right: -9px;
	transition:all 0.3s ease;
}
#sh_website_popup_modal_tmpl_2_style .close:focus{
	outline:none;
}

#sh_website_popup_modal_tmpl_2_style .modal-title{
    font-weight: 500;
    font-size: 2pc;
    color: #fff;
    z-index: 0;
}
#sh_website_popup_modal_tmpl_2_style .modal-content{
	border-radius: 5px;
	border: 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	height: auto;
    overflow:hidden;
}
#sh_website_popup_modal_tmpl_2_style .modal-footer{
	border-top:0;
	padding: 2rem 1rem;
	z-index: 1;
	display: flex;
    justify-content: center;
}
#sh_website_popup_modal_tmpl_2_style .modal-footer .btn-primary{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 9px 35px;
    border-radius: 25px;
	background:o-color('o-color-1');
}

#sh_website_popup_modal_tmpl_2_style .btn-primary:hover,
#sh_website_popup_modal_tmpl_2_style .btn-secondary:hover{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
#sh_website_popup_modal_tmpl_2_style .btn-primary:focus,
#sh_website_popup_modal_tmpl_2_style .btn-secondary:focus{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
#sh_website_popup_modal_tmpl_2_style .btn-secondary{
	color: #fff;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 9px 35px;
    border-radius: 25px;
	background: rgba(0,0,0,0.1);
    border: 1px solid #fff;
}
#sh_website_popup_modal_tmpl_2_style .btn-secondary:focus{
	box-shadow:none;
}


@media(min-width: 576px){
	#sh_website_popup_modal_tmpl_2_style .modal-dialog{
		max-width: 100%;
		padding:0;
	}
}
#sh_website_popup_modal_tmpl_2_style .modal-body{
	min-height: 65vh;
	
}
#sh_website_popup_modal_tmpl_2_style .modal-body::-webkit-scrollbar {
	width: 8px;
	background-color: #656565;
}

#sh_website_popup_modal_tmpl_2_style .modal-body::-webkit-scrollbar-thumb {
	background-color: #5d5d5d;;
}

#sh_website_popup_modal_tmpl_2_style .modal-body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
@media only screen and (max-width: 414px) {
	#sh_website_popup_modal_tmpl_2_style .modal-content{
		height:100%;
	}
	#sh_website_popup_modal_tmpl_2_style .modal-body{
		overflow-y: scroll;
	}
	#sh_website_popup_modal_tmpl_2_style #sh_swp_model_popup .modal-dialog{
		padding:0;
	}
	#sh_website_popup_modal_tmpl_2_style .modal-content{
		border-radius: 0;
	}
}


/* ===============
	Style - 3
 ================ */
#sh_website_popup_modal_tmpl_3_style .modal:not([data-backdrop="false"]) {
    background-color: rgba(0, 0, 0, 0.8);	
}
#sh_website_popup_modal_tmpl_3_style #sh_swp_model_popup .modal-dialog{
	display: flex;
    align-items: center;
	padding:0;
	max-width: 50% !important;
}
#sh_website_popup_modal_tmpl_3_style .overlay{
	position:absolute;
}
#sh_website_popup_modal_tmpl_3_style .js_cls_sh_website_popup{
	padding-left:0px !important;
}
#sh_website_popup_modal_tmpl_3_style .modal-content{
	height:25pc;
    border: 0;
    border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.1);
}
#sh_website_popup_modal_tmpl_3_style .modal-content .box_left{
	width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
#sh_website_popup_modal_tmpl_3_style .modal-content .box_left img{
	width:100%;
	height:100%;
	object-fit: cover;
	border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
    
#sh_website_popup_modal_tmpl_3_style .modal-content .box_right{
	width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
#sh_website_popup_modal_tmpl_3_style .modal-header,
#sh_website_popup_modal_tmpl_3_style .modal-footer{
	height:17%;
}
#sh_website_popup_modal_tmpl_3_style .modal-body{
	height:66%;
}
#sh_website_popup_modal_tmpl_3_style .modal-title{
    font-size: 1.6pc !important;
    font-weight: 500;
}
#sh_website_popup_modal_tmpl_3_style .btn-primary:focus{
	box-shadow:none;
}
#sh_website_popup_modal_tmpl_3_style .close_btn{
	background: #000;
    width: 18px;
    height: 18px;
    box-shadow: none;
    outline: none;
    position: relative;
    padding: 0.70rem;
    border-radius: 50px;
    top: -11px;
    right: -11px;
    opacity: 1;
    border: 2px #fff solid;
}
#sh_website_popup_modal_tmpl_3_style .close_btn:after{
	content: '';
    position: absolute;
    width: 2px;
    height: 14px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
	border-radius: 50px;
	transition:all 0.3s ease;
}
#sh_website_popup_modal_tmpl_3_style .close_btn:before{
	content: '';
    position: absolute;
    width: 2px;
    height: 14px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
	border-radius: 50px;
	transition:all 0.3s ease;
}

#sh_website_popup_modal_tmpl_3_style .close_btn:hover:after{
	transform: translate(-50%, -50%) rotate(45deg);
	transition:all 0.3s ease;
}
#sh_website_popup_modal_tmpl_3_style .close_btn:hover:before{
	transform: translate(-50%, -50%) rotate(135deg);
	transition:all 0.3s ease;
}
#sh_website_popup_modal_tmpl_3_style .btn-primary{
    border-radius: 2px;
    padding: .3pc 1.2pc;
    overflow: hidden;
    position: relative;
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.1);
}
#sh_website_popup_modal_tmpl_3_style .btn-primary span{
    z-index: 20;
}
#sh_website_popup_modal_tmpl_3_style .btn-primary:after{
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    width: 50px;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: rotate(35deg);
    z-index: 0;
}
#sh_website_popup_modal_tmpl_3_style .btn-primary:hover:after{
	left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
#sh_website_popup_modal_tmpl_3_style .box_row{
	height:100%;margin-right: 0px;margin-left: 0px;
}
@media only screen and (max-width: 1024px) {
	#sh_website_popup_modal_tmpl_3_style #sh_swp_model_popup .modal-dialog{
	    max-width: 65% !important;
	}
}
@media only screen and (max-width: 768px) {
	#sh_website_popup_modal_tmpl_3_style #sh_swp_model_popup .modal-dialog{
	    max-width: 75% !important;
	}
}
@media (max-width: 400px) {
	#sh_website_popup_modal_tmpl_3_style section,
	#sh_website_popup_modal_tmpl_3_style .row{height: 100% !important;}
}
@media only screen and (max-width: 414px) {
	#sh_website_popup_modal_tmpl_3_style #sh_swp_model_popup .modal-dialog{
	   	max-width: 95% !important;
    	margin: 0 auto;
	}
	#sh_website_popup_modal_tmpl_3_style #sh_swp_model_popup .modal-body{
	   overflow-y: scroll;
	}
	#sh_website_popup_modal_tmpl_3_style .js_cls_sh_website_popup{
	       display: unset !important;
	}
	#sh_website_popup_modal_tmpl_3_style .box_row{
		    height: inherit !important;
	}
	#sh_website_popup_modal_tmpl_3_style .modal-header, #sh_website_popup_modal_tmpl_3_style .modal-footer
	{
		height: unset !important;
	}
	#sh_website_popup_modal_tmpl_3_style .modal-body{
		height:330px;
	}
	#sh_website_popup_modal_tmpl_3_style .modal-content{
		height:auto;
	}
	#sh_website_popup_modal_tmpl_3_style .close_btn{
		background: #fff;
    	top: 0px;
    	right: 8px;
	}
	#sh_website_popup_modal_tmpl_3_style .close_btn:after,
	#sh_website_popup_modal_tmpl_3_style .close_btn:before{
		background: #000;
	}
	#sh_website_popup_modal_tmpl_3_style .modal-header{
		align-items: center;
	}
}
@media only screen and (max-width: 360px) {
	#sh_website_popup_modal_tmpl_3_style .modal-body{
		height:270px;
	}
}
#sh_website_popup_modal_tmpl_3_style .modal-body::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
	border-radius: 2px;
}

#sh_website_popup_modal_tmpl_3_style .modal-body::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 2px;
}

#sh_website_popup_modal_tmpl_3_style .modal-body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.1);
	border-radius: 2px;
}

/* ===============
	Style - 4
 ================ */
#sh_website_popup_modal_tmpl_4_style .modal:not([data-backdrop="false"]) {
    background-color: rgba(0, 0, 0, 0.8);	
}
#sh_website_popup_modal_tmpl_4_style .modal-content img{
   	width: 100%;
    object-fit: cover;
    height: 100%;
}
#sh_website_popup_modal_tmpl_4_style .modal-content{
    overflow: hidden;
    height: 600px;
	border-radius: 3px;
    border: 0;
}
#sh_website_popup_modal_tmpl_4_style .modal-dialog{
    padding: 0;
    display: flex;
    align-items: center;	
}
#sh_website_popup_modal_tmpl_4_style .box_row{
	height: 600px;
}
#sh_website_popup_modal_tmpl_4_style .box_col_top{
	width: 100%;
    height: 300px;
}
#sh_website_popup_modal_tmpl_4_style .box_col_bottom{
	width: 100%;
    height: 300px;
}
#sh_website_popup_modal_tmpl_4_style .modal-header{
	height: 50px;
   	padding: 10px 14px;
}
#sh_website_popup_modal_tmpl_4_style .modal-body{
    height:186px;
}

#sh_website_popup_modal_tmpl_4_style .modal-footer{
    padding: 6px 14px;
    height: 65px;
}
#sh_website_popup_modal_tmpl_4_style .modal-footer .btn-primary,
#sh_website_popup_modal_tmpl_4_style .modal-footer .btn-secondary{
	border-radius: 3px;
    padding: 5px 25px;
    font-weight: 500;
}

#sh_website_popup_modal_tmpl_4_style .modal-footer .btn-primary:focus,
#sh_website_popup_modal_tmpl_4_style .modal-footer .btn-secondary:focus{
	box-shadow: none;
}
#sh_website_popup_modal_tmpl_4_style .modal-footer .btn-primary{
	background: o-color('o-color-1');
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
	position:relative;
	z-index: 0;
	border:1px solid o-color('o-color-1');
}
#sh_website_popup_modal_tmpl_4_style .modal-title{
    font-weight: 500;
}
#sh_website_popup_modal_tmpl_4_style .modal-footer .btn-secondary{
	background: o-color('o-color-2');
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
	position:relative;
	z-index: 0;
	border:1px solid o-color('o-color-2');
	transition:all 0.4s ease;
}
#sh_website_popup_modal_tmpl_4_style .modal-footer .btn-primary:hover,
#sh_website_popup_modal_tmpl_4_style .modal-footer .btn-secondary:hover{
	transition:all 0.4s ease;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.1);
	transform: translateY(-5px);
}
#sh_website_popup_modal_tmpl_4_style .modal-body::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

#sh_website_popup_modal_tmpl_4_style .modal-body::-webkit-scrollbar-thumb {
	background-color: #000000;
}

#sh_website_popup_modal_tmpl_4_style .modal-body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.1);
}
@media only screen and (max-width: 414px) {
	#sh_website_popup_modal_tmpl_4_style .modal-content{
		height:100%;
	}
	#sh_website_popup_modal_tmpl_4_style .modal-dialog{
		margin:0;
	}
	#sh_website_popup_modal_tmpl_4_style #sh_swp_model_popup{
	    display: flex !important;
		align-items: center;
		justify-content: center;
	}
	#sh_website_popup_modal_tmpl_4_style .modal-body{
	    overflow-y:scroll;
	}
}

/* ===============
	Style - 5
 ================ */
#sh_website_popup_modal_tmpl_5_style .modal:not([data-backdrop="false"]) {
    background-color: rgba(0, 0, 0, 0.8);
}
#sh_website_popup_modal_tmpl_5_style .modal-dialog{
	max-width: 65% !important;
	display: flex;
    align-items: center;
    justify-content: center;
}
#sh_website_popup_modal_tmpl_5_style .modal-body{
	height: 370px;
}
#sh_website_popup_modal_tmpl_5_style .modal-header{
	text-align:center;
}
#sh_website_popup_modal_tmpl_5_style .modal-title{
	width: 100%;
    font-size: 1.7rem;
    font-weight: 500;
}
    
#sh_website_popup_modal_tmpl_5_style .modal-content{
	border: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.1);
}
#sh_website_popup_modal_tmpl_5_style .box_row{
	margin-left: 0;
	margin-right: 0;
	border-radius: 3px;
    overflow: hidden;
}
#sh_website_popup_modal_tmpl_5_style .box_col_left,
#sh_website_popup_modal_tmpl_5_style .box_col_right{
	padding-left: 0;
	padding-right: 0;
}
#sh_website_popup_modal_tmpl_5_style .box_col_right{
	position:relative;
}
#sh_website_popup_modal_tmpl_5_style .box_col_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sh_website_popup_modal_tmpl_5_style .btn-primary:focus,
#sh_website_popup_modal_tmpl_5_style .btn-secondary:focus{
	box-shadow:none;
}
#sh_website_popup_modal_tmpl_5_style .btn-primary{
	margin:0 auto;
    padding: 6px 22px;
    font-weight: 700;
    font-size: 15px;
	transform: scale(1);
	transition:all 0.4s ease;
}
#sh_website_popup_modal_tmpl_5_style .btn-primary:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.1);
	transform: scale(1.1);
	transition:all 0.4s ease;
}
#sh_website_popup_modal_tmpl_5_style .btn-secondary{
	position: absolute;
    top: 12px;
    right: 5px;
    background: transparent;
    border: 0;
	z-index: 1;
	transition: all 0.4s ease;
}
#sh_website_popup_modal_tmpl_5_style .btn-secondary:after{
	content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    background: #fff;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
	border-radius: 50px;
	transition:all 0.3s ease;
}
#sh_website_popup_modal_tmpl_5_style .btn-secondary:before{
	content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    background: #fff;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
	border-radius: 50px;
	transition:all 0.3s ease;
}
#sh_website_popup_modal_tmpl_5_style .box_col_right:after{
	position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
}

#sh_website_popup_modal_tmpl_5_style .modal-body::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

#sh_website_popup_modal_tmpl_5_style .modal-body::-webkit-scrollbar-thumb {
	background-color: #000000;
}

#sh_website_popup_modal_tmpl_5_style .modal-body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.1);
}
#sh_website_popup_modal_tmpl_5_style .btn-secondary:hover{
	transform: rotate(90deg);
    transition: all 0.4s ease;
}
#sh_website_popup_modal_tmpl_5_style .btn-secondary:hover:after{
	background:rgb(85, 87, 83);
    transition: all 0.4s ease;
}
#sh_website_popup_modal_tmpl_5_style .btn-secondary:hover:before{
	background:rgb(85, 87, 83);
    transition: all 0.4s ease;
}
@media only screen and (max-width: 768px) {
	#sh_website_popup_modal_tmpl_5_style .modal-dialog {
		max-width: 85% !important;
	}
}
@media only screen and (max-width: 414px) {
	#sh_website_popup_modal_tmpl_5_style .modal-dialog {
		max-width: 100% !important;
	    padding: 0;
	    margin: 0;
	}
	#sh_website_popup_modal_tmpl_5_style .modal-body{
		height: 325px;
	}
	#sh_website_popup_modal_tmpl_5_style .modal-body{
	    overflow-y:scroll;
	}
}
@media only screen and (max-width: 360px) {
	#sh_website_popup_modal_tmpl_5_style .modal-body{
		height: 265px;
	}
}















