a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}


.dropdown-menu.o_mega_menu.o_no_parent_editor.show{
border: 0px;
}
header .navbar .dropdown-menu, header .navbar .o_dropdown_menu{
	max-height: none!important;overflow: hidden;
}

/*------------------------------megamenu-1---------------------------*/
#sh_megamenubar_1 {
	position: relative;background: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_website_megamenu/megamenu_1/sh_menu_image_1.jpg') no-repeat;background-size: cover;margin: auto;padding: 20px 0px;border: 0;border-radius: 0;background-position: center;
	&::before{
		content: "";position: absolute;background: #0a1b33;opacity: .6;top: 0px;width: 100%;height: 100%;
	}
	h4 {
		font-size: 22px;margin-bottom: 35px;font-weight: bold;color: #fff;position: relative;
		&::after{
			content: "";position: absolute;border: 1px solid o-color(o-color-1);width: 100%;left: 0px;bottom: -15px;
		}
	}
	ul {
		margin: 0px;padding: 0px;
		section {
			list-style-type: none;padding-bottom: 15px;
			a {
				text-decoration: none;color: #fff;font-size: 16px;margin-bottom: 10px;font-weight:600;
				&:hover{
					color: o-color(o-color-1);
				}
			}
		}
	}
	
	#accordion {
		display: none;
	}
}
@media only screen and (min-width: 768px) {
	#sh_megamenubar_1 {
		ul {
			display: block !important;height: 100% !important;
		}
		h4 {
			span {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	#sh_megamenubar_1 {
		.col {
			flex: 0 0 100%;max-width: 100%;
		}
		padding: 20px 0px;max-width: 100%;
		h4 {
			span {
				float: right;
			}
			span.fa-chevron-right {
				&:before {
					content: "\f078";
				}
			}
			font-size: 20px;
		}
		h4.active {
			span.fa-chevron-right {
				&:before {
					content: "\f054";
				}
			}
		}
	}
}
/*------------------------------megamenu-1---------------------------*/


/*------------------------------megamenu-2---------------------------*/
#sh_megamenubar_2 {
	background: #fff;margin: auto;padding: 20px;border-radius: 0;
	.col {
		flex: 0 0 25%;max-width: 25%;
	}
	h4 {
		font-size: 23px;margin-bottom: 20px;font-weight: bold;color: o-color(o-color-1);
	}
	ul {
		margin: 0px;padding: 0px 0px;border-top: 1px solid #f5f5f5;border-bottom: 1px solid #f5f5f5;text-align: left;
		section {
			list-style-type: none;padding-bottom: 7px;
			a {
				text-decoration: none;color: #484972;font-size: 18px;margin: 10px 0px;
				&:hover{
					color: o-color(o-color-1);
				}
			}
		}
	}
	a.morelink {
		text-decoration: none;color: o-color('o-color-1');font-size: 16px;margin: 10px 0px;text-align: left;line-height: 50px;font-weight: bold;
	}
	.img{
		height: 150px;width: 100%;
		img {
			width: 100%;object-fit: cover;height: 100%;border-radius: 15px;
		}
	}
}
@media only screen and (min-width: 768px) {
	#sh_megamenubar_2 {
		.sh_acoordion_part {
			display: block !important;height: 100% !important;
		}
		h4 {
			span {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	#sh_megamenubar_2 {
		.col {
			flex: 0 0 100%;max-width: 100%;
		}
		.sh_acoordion_part {
			display: none;padding-bottom: 10px;
		}
		h4 {
			span {
				float: right;
			}
			span.fa-chevron-right {
				&:before {
					content: "\f078";
				}
			}
			font-size: 20px;
		}
		h4.active {
			span.fa-chevron-right {
				&:before {
					content: "\f054";
				}
			}
		}
		max-width: 100%;border: 0;padding: 5px 25px;
	}
	#top_menu {
		height: auto !important;
	}
}
/*------------------------------megamenu-2---------------------------*/

 

/*------------------------------megamenu-3---------------------------*/
#sh_megamenubar_3{
	background-color: #fff;
	.sh_menu_left_img{
		height: 100%;position: relative;
		.banner-img{
			height: 100%;
			img{
				width: 100%;height: 100%;object-fit: cover;
			}
		}
		.sh_banner_content{
			position: absolute;max-width: 90%;width: 100%;left: 30%;top: 50%;transform: translate(-25%,-50%)!important;
			color: #fff;text-align:center;
			h5{
				font-size: 16px;
				text-transform: uppercase;
				line-height: 24px;
				letter-spacing: 0.2em;
			}
			h3{
				font-size: 60px;
				line-height: 72px;
			}
			a{
				color: #fff;border:0px;text-decoration:none;display: inline-block;
				&::after{
						display: block;
						margin-top: 3px;
						margin-left: auto;
						margin-right: auto;
						width: 100%;
						border-bottom: 3px solid;
						transform: scaleX(0);
						transition: transform 0.3s;
						content: "";
					
				}
				&:hover{
					&:after {
						transform: scaleX(1);
					}
				}
			}
		}
	}
	.sh_menu_title{
		margin-top: 25px;padding-left:0px;
		
			h5{
				color: o-color(o-color-1);
			}
		.menu_item{
			list-style: none;text-decoration:none;padding: 8px 5px;border-left: 2px solid transparent;
			a{
				color: #39364e;font-weight: 500;font-size: 16px;border: none;
				text-decoration: none;
				&:hover{
					color:o-color(o-color-1);
				}
			
			}
			&:hover{
				border-left: 2px solid o-color(o-color-1);;background-color: #afafaf33;color:o-color(o-color-1);;
			}
		}
	}
}
/*------------------------------megamenu-3---------------------------*/


/*------------------------------megamenu-4---------------------------*/
#sh_megamenubar_4{
	padding: 50px 0px;border:1px solid #E9ECEF;background: #fff;max-width: 90%;margin: auto;padding: 20px;	border-radius: 0;
	.sh_dropdown_menu{
		display: flex;flex-wrap:wrap;align-items:center;		
		.sh_menu_img_box{
			width: 20%;
			@include media-breakpoint-down(lg){
				width: 100%;
			}
			.sh_height{
				display: block;max-width: 100%;margin: 0 auto;overflow: hidden;position: relative;transition: all ease .3s;padding-top: 300px!important;
				@include media-breakpoint-between(lg,xl){
					padding-top: 220px !important;
				}
				img{
					object-fit: cover;opacity: 1;will-change: transform;transition: transform .64s ease;position: absolute;
					top: 0;left: 0;height: 100%;width: 100%;cursor: pointer;object-fit: cover;object-position: center center;
					
				}
				&:hover{
					img {
						transform: scale(1.06);
					}
				} 
			}
		}
		.sh_menu_contant_box{
			width: 20%;padding: 5px 15px;
			@include media-breakpoint-down(lg){
				width: 100%;
			}
			.sh_nav_list{
				text-align: center;
				.sh_nav_title{
					color: #202020;font-size: 16px;font-weight: 900;line-height: 22px;letter-spacing:.05em;text-transform: uppercase;margin: 0 0 7px;
					.sh_icon_dropdown{
						display: none;
						.icon {
							display: block;
							position: absolute;
							height: 10px;
							width: 10px;
							top: 50%;
							right: 0;
							transform: translateY(-50%);
						}
					}
					
				}
				.sh_nav_sub{
					.sh_nav_title_mobile {
						display: none;
						.sh_icon_dropdown {
							display: none;
							svg {
								display: inline-block;
								vertical-align: middle;
								fill: currentColor;
								stroke: currentColor;
								width: 1rem;
								height: 1rem;
								transition: all ease .3s;
							}
						}
					}
					.sh_list_unstyled {
						list-style: none;
						margin: 0;
						padding: 0;
						.sh_site_nav_item {
							text-align: center;
							a{
								color: #505050;font-size: 14px;font-weight: 400;line-height: 24px;letter-spacing:.02em;text-transform: capitalize;padding: 4px 0;display: inline-block;
								vertical-align: top;
								.sh_p_relative {
									position: relative;
									&:after {
										content: "";
										position: absolute;
										bottom: -2px;
										left: 0;
										height: 1px;
										width: 100%;
										transform: scaleX(0);
										transition: transform .2s ease-out;
										transform-origin: right;
										background-color: #505050;
									}
									&:hover{
										&:after {
											transform: scaleX(1);
											transform-origin: left;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*------------------------------megamenu-4---------------------------*/


/*------------------------------megamenu-5---------------------------*/
#sh_megamenubar_5{
	.sh_dropdown_menu{
		display: flex;flex-wrap:wrap;align-items:center;padding: 50px 0px;margin: 0px auto 5px;padding: 30px 20px 30px 20px;background: #fff;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);overflow: hidden;	
		.sh_nav_title_mobile{
			display: none;
		}	
		.sh_menu_column{
			display: flex;
			@include media-breakpoint-down(lg){
				display: block;
			}
			.sh_menu_contant_box{
				width: 20%!important;padding: 5px 15px;
				@include media-breakpoint-down(lg){
					width: 100%!important;margin-top: 15px;
				}
				.sh_nav_title_mobile{
					display: none;
					.sh_icon_dropdown{
						display: none;
					}
				}
				.sh_nav_list{
					text-align: center;
					.image{
						display: block;margin-top: 10px;margin-bottom: 10px;width: 210px;height: 150px;
						img{
							width: 100%;height: 100%;object-fit:cover ;
						}
					}
					.sh_nav_title{
						color: #202020;font-size: 14px;font-weight: 900;line-height: 22px;letter-spacing:.05em;text-transform: uppercase;margin: 0 0 7px;
						@include media-breakpoint-between(lg ,xl){
							font-size: 11px;
						}
						.sh_icon_dropdown{
							display: none;
							.icon {
								display: block;
								position: absolute;
								height: 10px;
								width: 10px;
								top: 50%;
								right: 0;
								transform: translateY(-50%);
							}
						}
						
					}
					.sh_height{
						img{
							width: 100%;height: 150px;
						}
					}
					.sh_nav_sub{
						.sh_nav_title_mobile {
							display: none;
							.sh_icon_dropdown {
								display: none;
								svg {
									display: inline-block;
									vertical-align: middle;
									fill: currentColor;
									stroke: currentColor;
									width: 1rem;
									height: 1rem;
									transition: all ease .3s;
								}
							}
						}
						.sh_list_unstyled {
							list-style: none;
							margin: 0;
							padding: 0;
							.sh_site_nav_item {
								text-align: center;
								a{
									color: #505050;font-size: 14px;font-weight: 400;line-height: 24px;letter-spacing:.02em;text-transform: capitalize;padding: 4px 0;display: inline-block;
									vertical-align: top;
									.sh_p_relative {
										position: relative;
										&:after {
											content: "";
											position: absolute;
											bottom: -2px;
											left: 0;
											height: 1px;
											width: 100%;
											transform: scaleX(0);
											transition: transform .2s ease-out;
											transform-origin: right;
											background-color: #505050;
										}
										&:hover{
											&:after {
												transform: scaleX(1);
												transform-origin: left;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*------------------------------megamenu-5---------------------------*/


/*------------------------------megamenu-6---------------------------*/
#sh_megamenubar_6{
	.container{
		background-color: #fff;border: 1px solid rgba(173, 181, 189, 0.5);
	}
	.sh_list_box{
		border-right:1px solid rgba(173, 181, 189,0.5);padding: 20px !important;
		@include media-breakpoint-down(xxl){
			padding: 20px 5px!important;
		}
		
		h6{
			font-weight: 600;color: #c40000;padding: 10px 20px 10px 20px;
			@include media-breakpoint-up(xxl){
				padding: 10px 0px!important;
			}
			@include media-breakpoint-down(xxl){
				padding: 10px 5px!important;
			}
		}
		a{
			padding: 10px 20px;display:flex;cursor: pointer;border-radius: 4px !important;color: #5d656d;
			@include media-breakpoint-up(xxl){
				padding: 10px 5px!important;
			}
			@include media-breakpoint-down(xxl){
				padding: 10px 5px!important;
			}
			&:hover{
				background-color: rgba(0, 0, 0, 0.05);color: o-color(o-color-1);
				
			}
		}
	}
	.sh_video_menu_box{
		height: 100%;
		.sh_inner_box{
			height: 100%;
			.overflow-hidden{
				height: 100%;width: 100%;
				.media_iframe_video{
					height: 100%;width: 100%;
				}
			}
		}
	}
}
/*------------------------------megamenu-6---------------------------*/


/*------------------------------megamenu-7---------------------------*/
#sh_megamenubar_7{
	.container {
		border-right: 1px solid #DDDDDD;background: #ffffff;
	}
	.sh_content {
		text-align: center;transition: all 0.4s;
		.sh_icon {
			width: 40px;height: 40px;border-radius: 50%;color: #ffffff;width: 50px;height: 50px;margin: auto;border-radius: 50%;line-height: 49px;
			span {
				align-items: center;vertical-align: middle;display: flex;height: 100%;margin: auto;width: 100%;justify-content: center;font-size: 16px;transition: all 0.4s;
			}
			img{
				width: 100%;
			}
		}
		&:hover {
			.sh_icon {
				span {
					font-size: 22px;
				}
			}
			h4 {
				color: o-color("o-color-1");
			}
		}
		h4 {
			padding-top: 10px;transition: all 0.4s;font-size: 17px;font-weight: 600;text-transform: capitalize;font-style: normal;line-height: 30px;
		}
		p {
			color: #616a84;line-height: 26px;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;font-size: 15px;margin-bottom: 25px;
		}
		.sh_button {
			a {
				font-size: 15px;font-weight: 600;line-height: 26px;letter-spacing: 0.01px;color: #22262C;background-color: #FFFFFF;border-style: solid;border-width: 1px 1px 1px 1px;border-color: #DDDDDD;border-radius: 40px 40px 40px 40px;padding: 12px 20px;transition: all .3s;
				&:hover {
					color: #FFFFFF;background-color: o-color(o-color-1);border-color:  o-color(o-color-1)
				}
			}
		}
	}
	.col-xxl-3 {
		border-width: 0px 0px 1px 1px;border-color: #DDDDDD;padding: 45px 30px;border-style: solid;
		&:last-child {
			border-right: 1px solid #DDDDDD;
		}
	}
}
/*------------------------------megamenu-7---------------------------*/


/*------------------------------megamenu-8---------------------------*/
#sh_megamenubar_8 {
	.container {
		padding: 20px;background: #fff;margin: auto;border: 1px solid #ccc;border-radius: 30px;
	}
	.sh_des {
		@include media-breakpoint-down(lg){
			padding-top: 20px;
		}
		hr {
			border: 1px solid o-color(o-color-1);
		}
		h4 {
			color: o-color(o-color-1);font-size: 28px;font-weight: 600;
		}
		p {
			color: #595f6f;font-size: 16px;margin: 0;display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;overflow: hidden;line-height: 30px;
		}
	}
	.sh_link {
		@include media-breakpoint-down(lg){
			padding-top: 20px;
		}
		hr {
			border: 1px solid o-color(o-color-1);
		}
		h4 {
			color: o-color(o-color-1);font-size: 28px;font-weight: 600;
		}
		ul {
			list-style: none;margin: 0;padding: 0;
			li {
				a {
					padding-bottom: 3px;text-decoration: none;transition: all .4s;color: #595f6f;font-size: 16px;margin: 0;display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;overflow: hidden;line-height: 30px;
					&:hover {
						color: o-color('o-color-1');
					}
				}
			}
		}
	}
	.sh_img {
		height: 300px;
		img {
			width: 100%;height: 100%;object-fit: cover;border-radius: 30px;
		}
	}
}
@media only screen and (max-width: 768px) {
	#sh_megamenubar_8 {
		.sh_img {
			img {
				padding-bottom: 15px;
			}
		}
		.sh_des {
			p {
				margin-bottom: 10px;font-size: 14px;
			}
			hr {
				margin: 0;
			}
			h4 {
				font-size: 22px;
			}
		}
		.sh_link {
			ul {
				li {
					a {
						font-size: 14px;
					}
				}
			}
			hr {
				margin: 0;
			}
			h4 {
				font-size: 22px;
			}
		}
	}
}
@media only screen and (max-width: 576px) {
	#sh_megamenubar_8 {
		max-width: 95%;
	}
}
/*------------------------------megamenu-8---------------------------*/
