/*----------------------------------------------------home page start----------------------------------------------------*/

/*------------------------
snnipet-1  start
------------------------*/
#sh_corpomate_theme_industry_1 {
	position: relative;height: 800px;overflow: hidden;
		.sh_content {
			position: relative;z-index: 1;height: 800px;display: flex;justify-content: center;align-items: center;
			h3 {
				color: o-color('o-color-1');font-size: 30px;border-left: 5px solid o-color('o-color-1');padding-left: 10px;margin-bottom: 40px;animation-duration: 1s;animation-fill-mode: both;animation-name: fadeInUp !important;animation-delay: 0.3s;
			}
			h1 {
				font-size: 70px;color: #fff;margin-bottom: 40px;animation-duration: 1s;animation-fill-mode: both;animation-name: fadeInUp !important;animation-delay: 0.3s;line-height: .9;text-transform: capitalize;
			}
			p {
				margin-bottom: 40px;font-size: 19px;animation-fill-mode: both;animation-duration: 1s;animation-name: fadeInDown !important;animation-delay: 0.3s;line-height: 25px;color: #fff;
				@include sh_theme_description_ellipsis;
			}
			a {
				padding: 15px 40px;font-size: 14px;font-weight: 600;transition: all .4s;border: 2px solid o-color('o-color-1');animation-duration: 1s;animation-fill-mode: both;animation-name: fadeInDown !important;animation-delay: 0.3s;
				&:hover {
					border: 2px solid o-color('o-color-1');background: transparent;color: o-color('o-color-1');
				}
			}
			&:after {
				content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: o-color(o-color-2);pointer-events: none;opacity: .6;z-index:-1;
			}
			
		}
	
	.carousel-control-prev {
		width: 5%;display: none;
	}
	.carousel-control-next {
		width: 5%;display: none;
	}
	svg {
		position: absolute;bottom: 0;height: 100px;width: 100%;z-index: 1;stroke: none !important;
		polygon {
			fill: #EFF3F6;
		}
	}
}
@media (max-width: 768px) {
	#sh_corpomate_theme_industry_1 {
		.sh_content{
			.sh_content_text{
				h1{
					font-size: 50px;
				}
			}
		}
		figcaption {
			width: 90%;
		}
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_1 {
		.sh_content{
			height: 700px;
			.sh_content_text{
				h1{
					font-size: 38px;
				}
			}
		}
		figcaption {
			width: 100%;
			left: 0;
			.sh_content {
				h1 {
					font-size: 24px;
				}
			}
		}
		height: 700px !important;
		figure {
			img {
				height: 600px;
			}
		}
		svg {
			height: 70px;
		}
	}
}

/*------------------------
snnipet-1 end
------------------------*/


/*------------------------
snnipet-2 start
------------------------*/
#sh_corpomate_theme_industry_2 {
	padding: 100px 0 80px;background: #eff3f6;
	.sh_left_content {
		background: #fff;padding: 30px 25px;border-radius: 5px;display: flex;align-items: center;position: relative;transition: all .4s;margin-bottom: 30px;transition: all .4s;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);position: relative;z-index: 1;
		.sh_icon {
			span {
				font-size: 40px;padding-right: 30px;color: o-color('o-color-1');position: relative;z-index: 1;
			}
		}
		.sh_des {
			h4 {
				@include sh_content_heading;
			}
			p {
				margin-bottom: 0;font-size: 16px;color: #3a3a3a;line-height: 25px;
				@include sh_theme_heading_ellipsis;
			}
			position: relative;z-index: 1;
		}
		&:after {
			content: '';position: absolute;width: 100%;height: 100%;background: o-color('o-color-2');top: 0;left: 0;opacity: 0;border-radius: 5px;z-index: 0;
		}
		&:hover {
			.sh_des {
				h4 {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
			.sh_icon {
				span {
					color: #fff;
				}
			}
			.sh_inner_img {
				display: block;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		.sh_inner_img {
			position: absolute;height: 100%;width: 100%;top: 0;left: 0;z-index: 0;display: none;transition: 0.5s;
			&:before {
				position: absolute;content: '';height: 100%;width: 100%;background: o-color(o-color-2);opacity: 0.6;top: 0;left: 0;
			}
			img {
				height: 100%;width: 100%;object-fit: cover;
			}
		}
	}
	.sh_middle_content {
		background: #fff;padding: 60px 25px 40px;border-radius: 5px;text-align: center;min-height: 340px;position: relative;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);position: relative;z-index: 1;
		.sh_icon {
			span {
				font-size: 50px;color: o-color('o-color-1');margin-bottom: 30px;position: relative;z-index: 1;
			}
		}
		.sh_des {
			h4 {
				font-size: 30px;margin-bottom: 20px;line-height: .2;
			}
			p {
				margin: 0;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;color: #3a3a3a;font-size: 16px;line-height: 25px;
			}
			position: relative;z-index: 1;
		}
		&:after {
			content: '';position: absolute;width: 100%;height: 100%;background: o-color('o-color-2');top: 0;left: 0;opacity: 0;border-radius: 5px;z-index: 0;
		}
		&:hover {
			background-size: cover !important;
			.sh_icon {
				span {
					color: #fff;
				}
			}
			.sh_des {
				h4 {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
			.sh_inner_img {
				display: block;
			}
		}
		.sh_inner_img {
			position: absolute;height: 100%;width: 100%;top: 0;left: 0;z-index: 0;display: none;transition: 0.5s;
			img {
				height: 100%;width: 100%;object-fit: cover;
			}
			&:before {
				position: absolute;content: '';height: 100%;width: 100%;background: o-color(o-color-2);opacity: 0.6;top: 0;left: 0;
			}
		}
	}
	.sh_left_content.sh_disable_hover_cls {
		&:hover {
			.sh_inner_img {
				&:before {
					z-index: -1;
				}
				display: block;z-index: 1;z-index: 1;
			}
			z-index: 0;
		}
	}
	.sh_middle_content.sh_disable_hover_cls {
		&:hover {
			.sh_inner_img {
				display: block;z-index: 1;z-index: 1;
				&:before {
					z-index: -1;
				}
			}
			z-index: 0;
		}
	}
}
@media (min-width:768px) and (max-width:991px) {
	#sh_corpomate_theme_industry_2 {
		.sh_middle_content {
			min-height: 305px;padding: 40px 25px 40px;
		}
		.sh_left_content {
			display: block;text-align: center;margin-bottom: 20px;padding: 10px 20px;
			.sh_icon {
				span {
					padding: 0;margin-bottom: 10px;
				}
			}
		}
	}
}
@media (max-width:768px) {
	#sh_corpomate_theme_industry_2 {
		.sh_middle_content {
			min-height: auto;margin-bottom: 20px;margin-top: 0px;
		}
	}
}
@media (max-width:576px) {
	#sh_corpomate_theme_industry_2 {
		.sh_left_content {
			&:last-child {
				margin-bottom: 30px;
			}
		}
		padding-bottom: 20px;
	}
}

/*------------------------
snnipet-2 end
------------------------*/


/*------------------------
snnipet-3 start
------------------------*/

#sh_corpomate_theme_industry_3 {
	padding: 120px 0 150px;
	.sh_icon {
		display: inline-block;line-height: 1;position: absolute;font-size: 60px;height: 60px;width: 60px;color: o-color('o-color-1');top: 2%;left: 5%;transform: translate(-50%,-50%);text-align: center;opacity: .2;
	}
	.sh_right_content {
		position: relative;
		h6 {
			color: o-color('o-color-1');font-weight: 600;border-left: 5px solid o-color('o-color-1');padding-left: 15px;margin-bottom: 20px;font-size: 25px;
		}
		h2 {
			@include sh_section_heading;
		}
		a {
			margin-top: 20px;padding: 15px 40px;font-size: 16px;letter-spacing: 1px;font-weight: 600;transition: all .4s;border: 2px solid o-color('o-color-1');
			&:hover {
        background: 0 0;border: 2px solid o-color('o-color-1');color: o-color('o-color-1');
			}
		}
		p {
			color: #3a3a3a;font-size: 16px;line-height: 28px;
		}
	}
	.sh_left_content {
		position: relative;
		.sh_top_img {
			img {
				width: 80%;object-fit: cover;height: 400px;border-radius: 5px;
			}
			position: relative;overflow: hidden;
			&:after {
				content: '';position: absolute;width: 0;height: 0;border-top: 70px solid transparent;border-left: 50px solid o-color('o-color-1');border-bottom: 110px solid transparent;left: 0;top: -30px;animation: top_shape 5s infinite;
			}
		}
		.sh_bottom_img {
			img {
				height: 275px;object-fit: cover;width: 310px;border-radius: 5px;
			}
			position: absolute;right: 0;bottom: -15%;
			&:after {
				content: '';position: absolute;bottom: 0;right: 0;width: 0;height: 0;border-left: 40px solid transparent;border-right: 100px solid transparent;border-bottom: 40px solid o-color('o-color-1');animation: right_shape 5s infinite;
			}
		}
	}
}
@keyframes top_shape{
	0% {
		top: 100px;
	}
	50% {
		top: 0;
	}
	100% {
		top: 100px;
	}
}
@keyframes right_shape {
	0% {
		right: 100px;
	}
	50% {
		right: 5px;
	}
	100% {
		right: 100px;
	}
}
@media (max-width:991px) {
	#sh_corpomate_theme_industry_3 {
		.sh_right_content {
			margin-top: 120px;
		}
	}
}
@media (max-width:576px) {
	#sh_corpomate_theme_industry_3 {
		.sh_left_content {
			.sh_top_img {
				img {
					width: 100%;
				}
			}
			.sh_bottom_img {
				img {
					position: relative;object-fit: cover;width: 100%;
				}
				position: relative;margin-top: 20px;
			}
		}
		margin-top: 0;padding-top: 0;padding-bottom: 40px;
		.sh_right_content {
			margin-top: 50px;
		}
		.sh_icon {
			top: -20px;left: 15px;transform: none;
		}
	}
}

/*------------------------
snnipet-3 end
------------------------*/


/*------------------------
snnipet-4 start
------------------------*/
#sh_corpomate_theme_industry_4 {
	background: url(/sh_corpomate_theme/static/src/images/theme_2/sh_industry_image_7.webp);background-size: cover;background-repeat: no-repeat;position: relative;padding: 70px 0;background-position: bottom;background-attachment: fixed;
	.sh_title.sh_animation_part {
		position: relative;
	}
	.sh_icon {
		display: inline-block;line-height: 1;position: absolute;font-size: 60px;height: 60px;width: 60px;color: o-color('o-color-1');top: 2%;left: 5%;transform: translate(-50%,-50%);text-align: center;opacity: .3;
	}
	&:after {
		content: '';position: absolute;top: 0;left: 0;width: 100%;background: o-color('o-color-2');height: 100%;pointer-events: none;opacity: .9;
	}
	.sh_title {
		position: relative;z-index: 1;
		h6 {
			color: o-color('o-color-1');margin-bottom: 10px;border-left: 5px solid o-color('o-color-1');padding-left: 15px;font-size: 25px;font-weight: 600;
		}
		h2 {
			@include sh_section_heading;
			color: #fff;
		}
	}
	.sh_content {
		position: relative;z-index: 1;background: #fff;text-align: center;border-radius: 5px;overflow: hidden;transition: all .4s;
		.sh_shape {
			width: 100%;height: 120px;background: o-color('o-color-1');border-radius: 50%/50%;border-top-left-radius: 0;border-top-right-radius: 0;transition: all .4s;opacity: .3;
		}
		.sh_img {
			position: relative;top: -60px;
			img {
				width: 150px;height: 150px;object-fit: cover;border-radius: 50%;border: 10px solid #fff;box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.10);
			}
		}
		.sh_text {
			position: relative;top: -30px;padding-bottom: 30px;
			h5 {
				font-size: 20px;color: o-color('o-color-1');margin-bottom: 15px;letter-spacing: 1px;
			}
			h4 {
				@include sh_content_heading;
				letter-spacing: 1px;
			}
			a {
				padding-bottom: 10px;color: #3a3a3a;font-weight: 600;font-size: 18px;text-decoration: none;transition: all .4s;position: relative;
				&:after {
          position: absolute;content: '';height: 2px;bottom: 0;left: 0;width: 100%;background: #6e6d6d;
				}
				&:hover {
					color: o-color('o-color-1');
				}
			}
		}
		&:hover {
			.sh_shape {
				background: o-color('o-color-1');opacity: 1;
			}
			&:after {
				border-bottom: 50px solid o-color('o-color-1');opacity: 1;
			}
		}
		&:after {
			content: '';position: absolute;width: 0;height: 0;border-bottom: 50px solid o-color('o-color-1');border-left: 50px solid transparent;bottom: 20px;right: 20px;transition: all .4s;opacity: .3;
		}
	}
}
@media (max-width: 768px) {
	#sh_corpomate_theme_industry_4 {
		.sh_content {
			margin-bottom: 30px;
		}
		.col-md-4 {
			&:last-child {
				.sh_content {
					margin-bottom: 0px;
				}
			}
		}
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_4 {
		.sh_icon {
			top: -20px;left: 15px;transform: none;
		}
	}
}

/*------------------------
snnipet-4 end
------------------------*/


/*------------------------
snnipet-5 start
------------------------*/
#sh_corpomate_theme_industry_5 {
	padding: 120px 0px 100px;
	.sh_title {
		position: relative;
		h6 {
			color: o-color('o-color-1');margin-bottom: 10px;border-left: 5px solid o-color('o-color-1');padding-left: 15px;font-size: 25px;font-weight: 600;
		}
		h2 {
			@include sh_section_heading;
		}
	}
	.sh_icon {
		display: inline-block;line-height: 1;position: absolute;font-size: 60px;height: 60px;width: 60px;color: o-color('o-color-1');top: 15%;left: 2%;transform: translate(-50%,-50%);text-align: center;opacity: .2;
	}
	.sh_content {
		img {
			width: 100%;object-fit: cover;
		}
		.sh_text {
			background: #fff;display: inline-block;position: relative;left: 50%;transform: translateX(-50%);top: -45px;padding: 20px;border-radius: 5px;transition: all .4s;width: 65%;text-align: center;
			h3 {
				@include sh_content_heading;
				font-weight: 600;
			}
			p {
				margin: 0;font-size: 16px;color: #3a3a3a;
			}
		}
		.sh_img {
			position: relative;transition: all .4s;height: 275px;
			img {
				height: 100%;width: 100%;
			}
			&:after {
				content: '';position: absolute;width: 0;height: 0;border-left: 35px solid o-color('o-color-1');border-bottom: 35px solid transparent;top: 20px;left: 20px;transition: all .4s;opacity: 0;
			}
		}
		&:hover {
			.sh_img {
				&:after {
					opacity: 1;
				}
			}
			.sh_text {
				background: o-color('o-color-1');
				h3 {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
	}
}
@media screen and (min-width:821px) and (max-width:991px) {
	#sh_corpomate_theme_industry_5 {
		.sh_content {
			.sh_text {
				h3 {
					font-size: 21px;
				}
			}
		}
		padding: 100px 0px;
	}
}
@media screen and (max-width:820px) {
	#sh_corpomate_theme_industry_5 {
		.sh_content {
			.sh_text {
				h3 {
					font-size: 21px;
				}
			}
		}
		padding: 100px 0px;
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_5 {
		padding-top: 50px;padding-bottom: 0;
		.sh_icon {
			top: -20px;left: 10px;transform: none;
		}
	}
}

/*------------------------
snnipet-5 end
------------------------*/


/*------------------------
snnipet-6 start
------------------------*/
#sh_corpomate_theme_industry_6 {
	padding: 100px 0px;
	.sh_title {
		h6 {
			color: o-color('o-color-1');margin-bottom: 10px;border-left: 5px solid o-color('o-color-1');padding-left: 15px;font-size: 25px;font-weight: 600;
		}
		h2 {
			@include sh_section_heading;
		}
	}
	.sh_content {
		img {
			width: 100%;object-fit: cover;
		}
		.sh_text {
			background: #fff;display: inline-block;position: relative;left: 50%;transform: translateX(-50%);top: -45px;padding: 20px;border-radius: 5px;transition: all .4s;text-align: center;
			h3 {
				@include sh_content_heading;
			}
			p {
				margin: 0;font-size: 16px;color: #3a3a3a;padding-bottom: 10px;
			}
		}
		.sh_img {
			position: relative;transition: all .4s;height: 288px;width: 100%;
			img {
				height: 100%;width: 100%;
			}
			&:after {
				content: '';position: absolute;width: 0;height: 0;border-left: 35px solid o-color('o-color-1');border-bottom: 35px solid transparent;top: 20px;left: 20px;transition: all .4s;opacity: 0;
			}
		}
		&:hover {
			.sh_img {
				&:after {
					opacity: 1;
				}
			}
			.sh_text {
				background: o-color('o-color-1');
				h3 {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
			ul {
				opacity: 1;
			}
		}
		ul {
			margin: 0;padding: 0;list-style: none;display: flex;opacity: 0;transition: all .4s;
			li {
				transition: all .4s;width: 40px;height: 40px;background: #fff;text-align: center;display: block;line-height: 40px;margin: 0 5px;border-radius: 5px;
				&:hover {
					background: o-color(o-color-2);
					a {
						color: #fff;
					}
				}
				a {
					text-decoration: none;padding: 0;margin: 0;color: o-color('o-color-1');
				}
			}
		}
		transition: all .4s;
	}
	.sh_icon {
		display: inline-block;line-height: 1;position: absolute;font-size: 50px;height: 60px;width: 60px;color: o-color('o-color-1');top: -20px;left: 30px;text-align: center;opacity: .2;
	}
}
@media (max-width: 991px) {
	#sh_corpomate_theme_industry_6 {
		.sh_content {
			ul {
				li {
					width: 25px;height: 25px;line-height: 25px;
				}
			}
		}
		padding: 20px 0px;
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_6 {
		padding: 50px 0 0;
		.sh_content {
			.sh_text {
				padding: 20px 60px;
			}
		}
	}
}

/*------------------------
snnipet-6 end
------------------------*/


/*------------------------
snnipet-7 start
------------------------*/
#sh_corpomate_theme_industry_7 {
	background: url(/sh_corpomate_theme/static/src/images/theme_2/sh_industry_image_5.jpg);background-size: cover;background-repeat: no-repeat;position: relative;padding: 100px 0 200px;background-attachment: fixed;
	.sh_title {
		position: relative;position: relative;z-index: 1;
		h6 {
			color: o-color('o-color-1');margin-bottom: 10px;border-left: 5px solid o-color('o-color-1');padding-left: 15px;font-size: 25px;font-weight: 600;
		}
		h2 {
			@include sh_section_heading;
			color: #fff;
		}
	}
	.sh_icon {
		display: inline-block;line-height: 1;position: absolute;font-size: 60px;height: 60px;width: 60px;color: o-color('o-color-1');top: 0%;left: 4%;transform: translate(-50%,-50%);text-align: center;opacity: .2;
	}
	&:after {
		content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: o-color('o-color-2');pointer-events: none;opacity: .8;
	}
	.sh_counter {
		text-align: center;position: relative;z-index: 1;
		h5 {
			font-weight: 600;color: #fff;font-size: 52px;margin-bottom: 0;
		}
		h4 {
			@include sh_content_heading;
			margin: 0;color: #fff;margin-top: 10px;letter-spacing: 1px;
		}
	}
}
@media (max-width: 768px) {
	#sh_corpomate_theme_industry_7 {
		.sh_counter {
			margin-bottom: 30px;
		}
		padding: 50px 0 100px;
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_7 {
		.sh_icon {
			top: -20px;
			left: 15px;
			transform: none;
		}
		.sh_counter{
			h4{
				font-size: 20px;
			}
			h5{
				font-size: 42px;
			}
		}
	}
}

/*------------------------
snnipet-7 end
------------------------*/


/*------------------------
snnipet-8 start
------------------------*/
#sh_corpomate_theme_industry_8 {
	margin-top: -100px;position: relative;z-index: 1;
	.sh_content {
		box-shadow: 0 3px 9px -2px #d0cece;text-align: center;padding: 50px 20px;background: #fff;border-radius: 5px;margin: 5px;
		.sh_img {
			margin-bottom: 20px;
			img {
				width: 80px !important;height: 80px !important;border-radius: 50%;object-fit: cover;object-position: right;margin: auto;object-position: center;
			}
		}
		.sh_text {
			h4 {
				@include sh_content_sub_heading;
			}
			p {
				margin: 0;font-size: 16px;color: #3a3a3a;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;line-height: 25px;
			}
		}
	}
	.sh_video_btn {
		a {
			width: 60px;height: 60px;background: o-color('o-color-1');padding: 0;line-height: 60px;border-radius: 50%;text-align: center;display: block;color: #fff;font-size: 20px;margin: auto;
			span {
				line-height: 60px;width: 60px;display: block;
			}
		}
	}
	.owl-carousel {
		.owl-nav.disabled {
			display: block;position: absolute;left: -19%;top: 50%;transform: translateX(-50%);
		}
		.owl-nav {
			button {
				width: 40px;height: 40px;color: #fff;text-align: center;margin: 0 5px;border-radius: 5px;border: 2px solid o-color('o-color-1');background: o-color('o-color-1');font-size: 26px;line-height: 0;position: relative;
				span {
					opacity: 0;display: none;
				}
			}
			button.owl-prev {
				&:after {
					content: "\f053";font-family: FontAwesome;left: 50%;position: absolute;top: 50%;transform: translate(-50%,-50%);font-size: 16px;
				}
			}
			button.owl-next {
				&:after {
					content: "\f054";font-family: FontAwesome;left: 50%;position: absolute;top: 50%;transform: translate(-50%,-50%);font-size: 16px;
				}
			}
		}
		.owl-dots {
			display: none;
		}
	}
}
.o_rtl {
	#sh_corpomate_theme_industry_8 {
		.owl-carousel {
			.owl-nav {
				button.owl-prev {
					&:after {
						content: "\f054";
					}
				}
				button.owl-next {
					&:after {
						content: "\f053";
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#sh_corpomate_theme_industry_8 {
		margin-top: -80px;
		.sh_video_btn {
			a {
				margin-bottom: 20px;
			}
		}
		.sh_content {
			margin-bottom: 20px;
		}
		.owl-carousel {
			.owl-nav.disabled {
				transform: none;display: block;position: absolute;left: -22%;top: 50%;transform: translateX(-50%);
			}
		}
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_8 {
		.sh_video_btn {
			a {
				margin-bottom: 40px;
			}
		}
		.owl-carousel {
			.owl-nav.disabled {
				display: none;
			}
		}
	}
}

/*------------------------
snnipet-8 end
------------------------*/


/*------------------------
snnipet-9 start
------------------------*/
#sh_corpomate_theme_industry_9 {
	padding: 100px 0px 100px;
	background: #EFF3F6;
	margin-top: 150px;
	.sh_title {
		h6 {
			color: o-color('o-color-1');
			margin-bottom: 10px;
			border-left: 5px solid o-color('o-color-1');
			padding-left: 15px;
			font-size: 25px;
			font-weight: 600;
		}
		h2 {
			@include sh_section_heading;
		}
		>.sh_icon {
			display: inline-block;
			line-height: 1;
			position: absolute;
			font-size: 50px;
			height: 60px;
			width: 60px;
			color: o-color('o-color-1');
			top: -20px;
			left: 30px;
			text-align: center;
			opacity: .2;
		}
	}
	.sh_content {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.15);text-align: center;padding-bottom: 20px;position: relative;background: #fff;
		.sh_prise {
			background: #ebebeb;padding: 30px 0;border-radius: 50%/50%;border-top-left-radius: 0;border-top-right-radius: 0;margin-bottom: 20px;transition: all .4s;
			h6 {
				color: #3a3a3a;font-size: 16px;letter-spacing: 1px;margin-bottom: 10px;
			}
			h2 {
				@include sh_content_heading;
				margin: 0;font-weight: 600;
			}
		}
		ul {
			padding: 0;list-style: none;margin: 0;
			li {
				padding-bottom: 20px;color: #3a3a3a;font-size: 16px;
			}
		}
		.sh_btn {
			padding: 20px 0;
			a {
				background: #ebebeb;padding: 10px 20px;font-weight: 600;transition: all .4s;border: 2px solid #ebebeb;font-size: 16px;
				&:hover {
					border-color: o-color('o-color-1');color: o-color('o-color-1');background: transparent;
				}
			}
		}
		&:before {
			content: '';position: absolute;width: 0;height: 0;border-bottom: 50px solid #ebebeb;border-left: 50px solid transparent;bottom: 20px;right: 20px;transition: all .4s;
		}
		&:hover {
			&:before {
				border-bottom: 50px solid o-color('o-color-1');
			}
			.sh_btn {
				a {
					background: o-color('o-color-1');color: #fff;border-color: o-color('o-color-1');
				}
			}
			.sh_prise {
				background: o-color('o-color-1');
				h6 {
					color: #fff;
				}
				h2 {
					color: #fff;
				}
			}
		}
	}
	.sh_content.sh_active {
		.sh_prise {
			background: o-color('o-color-1');
			h6 {
				color: #fff;
			}
			h2 {
				color: #fff;
			}
		}
		.sh_btn {
			a {
				background: o-color('o-color-1');color: #fff;border-color: o-color('o-color-1');
			}
		}
		&:before {
			border-bottom: 50px solid o-color('o-color-1');
		}
	}
}
@media (max-width: 991px) {
	#sh_corpomate_theme_industry_9 {
		.sh_content {
			&:before {
				border-bottom: 30px solid #ebebeb;border-left: 30px solid transparent;
			}
			&:hover {
				&:before {
					border-bottom: 30px solid o-color('o-color-1');
				}
			}
		}
		.sh_content.sh_active {
			&:before {
				border-bottom: 30px solid o-color('o-color-1');
			}
		}
	}
}
@media (max-width: 768px) {
	#sh_corpomate_theme_industry_9 {
		.sh_content {
			margin-bottom: 20px;
		}
	}
}
@media screen and (min-width:577px) and (max-width:767px) {
	#sh_corpomate_theme_industry_9 {
		margin-top: 50px;
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_9 {
		padding: 30px 0px 40px;
	}
}

/*------------------------
snnipet-9 end
------------------------*/


/*------------------------
snnipet-10 start
------------------------*/
#sh_corpomate_theme_industry_10 {
	padding: 100px 0px 80px;
	.sh_title {
		h6 {
			color: o-color('o-color-1');margin-bottom: 10px;border-left: 5px solid o-color('o-color-1');padding-left: 15px;font-size: 25px;font-weight: 600;
		}
		h2 {
  			@include sh_section_heading;
		}
    >.sh_icon{
      display:inline-block;line-height:1;position:absolute;font-size:50px;height:60px;width:60px;color:o-color('o-color-1');top:-20px;left:30px;text-align:center;opacity:.2
    }
	}
	.sh_content {
		position: relative;transition: all .4s;
		.sh_text {
			position: absolute;bottom: 20px;left: 0px;padding: 20px;
			span {
				color: #fff;font-size: 16px;
			}
			h4 {
				color: #fff;font-weight: 600;font-size: 20px;margin: 15px 0;
			}
			p {
				color: #fff;
				margin: 0;
			}
		}
		img {
			width: 100%;
			transition: all .4s;
		}
		&:hover {
			img {
				opacity: 0.8;
			}
		}
	}
	.sh_right_content {
		display: flex;align-items: center;background: #fff;margin-bottom: 20px;transition: all .4s;border-radius: 5px;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.15);
		.sh_text {
			padding-left: 20px;
			span {
				color: #3a3a3a;margin-bottom: 5px;display: block;font-size: 16px;
			}
			h4 {
				@include sh_content_sub_heading;
			}
			p {
				margin: 0;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;color: #3a3a3a;font-size: 16px;line-height: 25px;
			}
		}
		.sh_img {
			img {
				height: 189px;width: 189px;object-fit: cover;transition: all .4s;border-top-left-radius: 5px;border-bottom-left-radius: 5px;
			}
			position: relative;transition: all .4s;
			&:after {
				content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: o-color(o-color-2);border-top-left-radius: 5px;border-bottom-left-radius: 5px;opacity: 0;pointer-events: none;transition: all .4s;
			}
		}
		&:hover {
			.sh_img {
				img {
					opacity: 0.8;
				}
				&:after {
					opacity: .5;
				}
			}
		}
	}
	.owl-nav{
		display: none!important;
	}
}
@media (max-width: 991px) {
	#sh_corpomate_theme_industry_10 {
		.sh_content {
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 768px) {
	#sh_corpomate_theme_industry_10 {
		.sh_right_content {
			.sh_text {
				padding-right: 20px;
			}
		}
	}
}
@media screen and (min-width:577px) and (max-width:767px) {
	#sh_corpomate_theme_industry_10 {
		padding: 50px 0px;
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_10 {
		.sh_right_content {
			padding: 0px;
			text-align: center;
			display: block;
			.sh_text {
				padding-left: 0px;
				padding: 10px;
			}
			.sh_img {
				img {
					width: 100%;
				}
			}
		}
		padding: 30px 0px 20px;
	}
}

/*------------------------
snnipet-10 end
------------------------*/
/*----------------------------------------------------home page end----------------------------------------------------*/


/*----------------------------------------------------about us page start----------------------------------------------------*/
/*------------------------
snnipet-11 start
------------------------*/
#sh_corpomate_theme_industry_11 {
	@include sh_theme_2_sub_banner_mixin;	
}
/*------------------------
snnipet-11 end
------------------------*/


/*------------------------
snnipet-12 start
------------------------*/
#sh_corpomate_theme_industry_12 {
	padding: 100px 0px;
	.sh_left_content {
		h2 {
			@include sh_section_heading;
			@include sh_theme_heading_ellipsis;
			margin-bottom: 0;
		}
		p {
			@include sh_theme_description_ellipsis;
			color: #3a3a3a;margin-bottom: 30px;font-size: 16px;line-height: 28px;
		}
		.sh_flex_part {
			display: flex;
			.sh_img {
				img {
					width: 150px;height: 150px;object-fit: cover;object-position: left;border-radius: 5px;display: inline-table;transition: all .4s;max-width: fit-content !important;
				}
			}
			.sh_text {
				padding-left: 20px;
				h4 {
					font-size: 30px;font-weight: 600;color: o-color('o-color-1');
					@include sh_theme_heading_ellipsis;
				}
				p {
					font-size: 16px;color: #3a3a3a;margin: 0;line-height: 28px;
					@include sh_theme_description_ellipsis;
				}
			}
		}
	}
	.sh_right_content {
		>img {
			width: 100%;transition: all .4s;
		}
		.sh_bottom_img {
			position: absolute;bottom: -15%;left: 50%;transform: translateX(-50%);width: 50%;
			&:after {
				content: '';position: absolute;bottom: 0;right: 0;width: 0;height: 0;border-left: 40px solid transparent;border-right: 100px solid transparent;border-bottom: 40px solid o-color('o-color-1');animation: right_shape 5s infinite;
			}
		}
		position: relative;
		img {
			width: 100%;border-radius: 5px;max-height: 400px;object-fit: cover;
		}
		&:after {
			content: '';position: absolute;top: 0%;width: 0;height: 0;border-top: 40px solid transparent;border-left: 60px solid o-color('o-color-1');border-bottom: 150px solid transparent;left: 0;animation: top_shape 5s infinite;
		}
	}
}
@media (max-width: 991px) {
	#sh_corpomate_theme_industry_12 {
		.sh_right_content {
			img {
				margin-top: 30px;
			}
		}
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_12 {
		.sh_left_content {
			h2 {
				font-size: 22px;
			}
		}
		.sh_right_content {
			img {
				margin-top: 0;
			}
			&:after {
				border-top: 40px solid transparent;border-left: 40px solid o-color('o-color-1');border-bottom: 50px solid transparent;
			}
			margin-top: 20px;
			.sh_bottom_img {
				overflow: hidden;
			}
		}
		padding-bottom: 30px;
	}
}

/*------------------------
snnipet-12 end
------------------------*/


/*------------------------
snnipet-13 start
------------------------*/
#sh_corpomate_theme_industry_13 {
	margin-top: 50px;background: o-color('o-color-2');
	.col-md-6 {
		&:first-child {
			padding-left: 0px;
		}
	}
	.sh_left_img {
		img {
			width: 100%;height: 600px;object-fit: cover;transition: all .4s;
		}
		&:hover {
			img {
				opacity: 0.8;
			}
		}
	}
	.sh_right_content {
		@include media-breakpoint-down(md){text-align: center;}
		h2 {
			@include sh_section_heading;
			@include sh_theme_heading_ellipsis;
			color: #fff;margin-bottom: 30px;
		}
		>p {
			color: #fff;font-size: 16px;margin: 0;line-height: 28px;
			@include sh_theme_description_ellipsis;
			-webkit-line-clamp: 4;
		}
		.sh_flex_part {
			display: flex;justify-content: left;
			@include media-breakpoint-down(md){justify-content: center;}
			.sh_number {
				color: #fff;border-right: 1px solid #fff;margin-top: 30px;padding-right: 30px;
				&:last-child {
					border-right: 0;padding-right: 0;padding-left: 30px;
				}
			}
			h3 {
				font-size: 45px;font-weight: 600;color: o-color('o-color-1');
			}
			p {
				font-size: 17px;letter-spacing: 1px;color: #fff;
			}
		}
		padding: 50px 20px;
	}
	.row {
		align-items: center;
	}
}
@media (max-width: 991px) {
	#sh_corpomate_theme_industry_13 {
		.sh_right_content {
			.sh_flex_part {
				p {
					font-size: 16px;
				}
				h3 {
					font-size: 26px;
				}
			}
		}
	}
}
@media screen and (min-width:577px) and (max-width:767px) {
	#sh_corpomate_theme_industry_13 {
		.col-md-6 {
			&:first-child {
				padding-left: 15px;padding-top: 15px;
			}
		}
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_13 {
		.col-md-6 {
			&:first-child {
				padding-right: 0px;
			}
		}
		.sh_right_content {
			h2 {
				font-size: 22px;
			}
		}
	}
}

/*------------------------
snnipet-13 end
------------------------*/


/*------------------------
snnipet-14 start
------------------------*/
#sh_corpomate_theme_industry_14 {
	padding: 100px 0;
	.sh_left_part {
		position: relative;width: 100%;height: 420px;
		img {
			width: 100%;transition: all .4s;border-radius: 5px;height: 100%;
		}
		a {
			position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background: o-color('o-color-1');color: #fff;width: 80px;height: 80px;line-height: 80px;border-radius: 50%;padding: 0;font-size: 28px;text-align: center;margin: 0;
			span {
				width: 80px;
			}
		}
		&:hover {
			img {
				opacity: 0.8;
			}
		}
		&:after {
			content: '';position: absolute;top: 10%;width: 0;height: 0;border-top: 40px solid transparent;border-left: 60px solid o-color('o-color-1');border-bottom: 150px solid transparent;left: 0;animation: top_shape 5s infinite;
		}
	}
	.row {
		align-items: center;
	}
	.sh_right_part {
		p {
			@include sh_theme_description_ellipsis;
			margin-bottom: 20px;color: #3a3a3a;-webkit-line-clamp: 4;font-size: 16px;line-height: 28px;
			@include media-breakpoint-down(md){text-align: center;}
			&:last-child {margin-bottom: 0px;}
		}
		h2 {
			@include sh_section_heading;
			@include sh_theme_heading_ellipsis;
			@include media-breakpoint-down(md){text-align: center;}
			margin-bottom: 0;
		}
	}
}
@media (max-width: 768px) {
	#sh_corpomate_theme_industry_14 {
		.sh_left_part {
			margin-bottom: 20px;overflow: hidden;
		}
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_14 {
		.sh_left_part {
			overflow: hidden;
		}
		padding: 50px 0;
	}
}

/*------------------------
snnipet-14 end
------------------------*/
/*----------------------------------------------------about us page end----------------------------------------------------*/


/*---------------------------------------------------services page start----------------------------------------------------*/

/*------------------------
snnipet-15 start
------------------------*/
#sh_corpomate_theme_industry_15{
	@include sh_theme_2_sub_banner_mixin;
}
/*------------------------
snnipet-15 end
------------------------*/


/*------------------------
snnipet-16 start
------------------------*/
#sh_corpomate_theme_industry_16 {
	padding: 80px 0px;
	.sh_title {
		h6 {
			color: o-color('o-color-1');margin-bottom: 10px;border-left: 5px solid o-color('o-color-1');padding-left: 15px;font-size: 25px;font-weight: 600;
		}
		h2 {
			@include sh_section_heading;
			@include sh_theme_heading_ellipsis;
		}
		>.sh_icon {
			display: inline-block;line-height: 1;position: absolute;font-size: 50px;height: 60px;width: 60px;color: o-color('o-color-1');top: -20px;left: 30px;text-align: center;opacity: .2;
		}
	}
	.sh_content {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.15);padding: 30px 25px;margin-bottom: 30px;position: relative;transition: all .4s;text-align: center;border-radius: 5px;
		.sh_icon {
			span {
				width: 80px;background: #ebebeb;height: 80px;text-align: center;line-height: 80px;color: #333;border-radius: 50%;font-size: 30px;margin-bottom: 25px;transition: all .4s;
			}
		}
		h4 {
			font-weight: 600;font-size: 25px;color: o-color('o-color-2');margin-bottom: 20px;
		}
		p {
			color: #3a3a3a;font-size: 16px;line-height: 28px;
			@include sh_theme_description_ellipsis;
			-webkit-line-clamp:4;
		}
		a {
			padding: 0;font-weight: 600;color: o-color('o-color-1');box-shadow: none;
		}
		&:before {
			content: '';position: absolute;width: 0;height: 0;border-bottom: 50px solid #ebebeb;border-left: 50px solid transparent;bottom: 20px;right: 20px;transition: all .4s;
		}
		&:hover {
			.sh_icon {
				span {
					background: o-color('o-color-1');color: #fff;
				}
			}
			&:before {
				border-bottom: 50px solid o-color('o-color-1');
			}
		}
	}
}
@media (max-width: 576px) {
	#sh_corpomate_theme_industry_16 {
		.sh_title {
			h2 {
				font-size: 26px;
			}
		}
		padding: 50px 0 30px;
	}
}

/*------------------------
 snnipet-16 end
------------------------*/
/*---------------------------------------------------services page end----------------------------------------------------*/

/*---------------------------------------------------contact page start----------------------------------------------------*/
/*------------------------
snnipet-17 start
------------------------*/
#sh_corpomate_theme_industry_17{
	@include sh_theme_2_sub_banner_mixin;
}
/*------------------------
snnipet-17 end
------------------------*/


/*------------------------
snnipet-18 start
------------------------*/
#sh_corpomate_theme_industry_18 {
	margin-top: 0px;position: relative;z-index: 1;bottom: -50px;
	.sh_address {
		display: flex;justify-content: space-between;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.15);padding: 30px;background: #fff;width: 90%;margin: auto;transition: all .4s;
		.sh_map_address {
			text-align: center;width: 33.33%;transition: all .4s;
			&:hover {
				.sh_icon {
					span {
						transform: rotate(360deg);
					}
				}
			}
		}
		.sh_icon {
			span {
				font-size: 40px;color: o-color('o-color-1');margin-bottom: 20px;transform: rotate(0deg);transition: all .4s;
			}
		}
		h4 {
			font-size: 25px;font-weight: 600;color: o-color(o-color-2);
		}
		p {
			margin: 0;color: #3a3a3a;font-size: 16px;line-height: 25px;
			a {
				margin: 0;color: #3a3a3a;transition: all .4s;
				&:hover {
					color: o-color('o-color-1');
				}
			}
		}
		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0,0,0,.25),0 5px 15px 2px rgba(0,0,0,.2);
		}
	}
}
@media screen and (min-width:821px) and (max-width:991px) {
	#sh_corpomate_theme_industry_18 {
		.sh_address {
			p {
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 768px) {
	#sh_corpomate_theme_industry_18 {
		.sh_address {
			.sh_map_address {
				margin-bottom: 20px;width: 100%;
			}
		}
	}
}
@media screen and (min-width:577px) and (max-width:767px) {
	#sh_corpomate_theme_industry_18 {
		.sh_address {
			h4 {
				font-size: 19px;
			}
			width: 100%;
			padding: 20px;
			p {
				a {
					font-size: 14px;
				}
				font-size: 14px;
			}
		}
	}
}
@media (max-width:567px) {
	#sh_corpomate_theme_industry_18 {
		.sh_address {
			display: block;
		}
	}
}

/*------------------------
snnipet-18 end
------------------------*/


/*------------------------
snnipet-19 start
------------------------*/
#sh_corpomate_theme_industry_19 {
	background: url(/sh_corpomate_theme/static/src/images/theme_2/sh_industry_image_14.webp);background-size: cover;background-repeat: no-repeat;position: relative;padding: 130px 0 70px;
	&:after {
		content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: o-color('o-color-1');opacity: 0.7;pointer-events: none;
	}
	form {
		position: relative;z-index: 1;text-align: center;
		input {
			height: 50px;background: transparent;color: #fff;border: 1px solid #fff;margin-bottom: 25px;
			&::placeholder {
				color: #fff;
			}
		}
		textarea {
			&::placeholder {
				color: #fff;
			}
			height: 100px;background: transparent;color: #fff;border: 1px solid #fff;margin-bottom: 25px;
		}
		a.btn {
			border: 1px solid #fff;background: o-color('o-color-1');margin-top: 10px;text-decoration: none;
			&:hover {
				background: #fff;
				color: o-color(o-color-1);
			}
		}
	}
}

/*------------------------
snnipet-19 end
------------------------*/
#sh_corpomate_theme_industry_20 iframe{width: 100%; margin:50px 0px;}
/*---------------------------------------------------contact page end----------------------------------------------------*/