#js_id_model_sh_corpomate_offer_config{z-index: 99999;}
.sh_corpomate_remove_line_clamp p,.sh_corpomate_remove_line_clamp span, .sh_corpomate_remove_line_clamp div{-webkit-line-clamp: unset !important;}
.o_we_website_top_actions{display: flex;-webkit-box-pack: start;justify-content: flex-end !important;width: 291px;height: 46px;min-height: 46px;background-color: #141217;}
.o_lang_flag {width: 1em;height: 1em;margin-right: 0.5em;border-radius: 50rem;}
a:hover{text-decoration:none;}

/*###################################################################################################
										HEADER STYLE START
/*###################################################################################################*/

@media only screen and (max-width: 768px){
  .navbar-light{padding: 15px 10px !important;}
}
/*======================
TOP BAR 1 STRAT
=======================*/
#sh_top_bar_1{background-color:o-color('o-color-2')!important;color: #fff;font-size: 13px;line-height: 1;}
#sh_top_bar_1 .sh_main_content{display: flex; align-items: center; padding: 10px 0;}
#sh_top_bar_1 .sh_main_content .sh_icon{margin-right: 20px; color: o-color(o-color-1); font-size: 20px;}
#sh_top_bar_1 .sh_main_content .sh_text{font-size: 15px; color: #fff;}
#sh_top_bar_1 .sh_main_content .sh_text span{ color: o-color(o-color-1);  font-weight: 700;}
#sh_top_bar_1 .sh_contact_details{display: flex; align-items: center;}
#sh_top_bar_1 .sh_contact_details .sh_icon {font-size: 20px;color: #fff; margin-right: 15px;}
#sh_top_bar_1 .sh_tb_right{background: o-color(o-color-1); padding: 10px 35px;}
#sh_top_bar_1 .sh_contact_details .sh_content a{color: #fff; font-weight: 600; font-size: 15px; text-decoration: none;}
#sh_top_bar_1 .sh_contact_details.bdr{border-right: 1px solid #fff;}
#sh_top_bar_1 .sh_topbar_content{display: flex; align-items: center; justify-content: space-between;}
#sh_top_bar_1 .container-fluid{padding-right: 0px;}
.o_rtl #sh_top_bar_1 .js_language_selector .dropdown-menu {width: 200%;}

/*.....responsive.....*/

@media screen and (min-width:821px) and (max-width:991px){
   #sh_top_bar_1 .sh_main_content .sh_text{font-size:12px;}
   #sh_top_bar_1 .sh_main_content .sh_icon{margin-right:10px;}
   #sh_top_bar_1 .sh_contact_details .sh_content a{font-size:13px;}
}
@media (max-width: 820px){
#sh_top_bar_1{display: none;}
}
/*.....responsive.....*/
/*======================
TOP BAR 1 END
=======================*/

/*======================
	TOP BAR 2 start
=======================*/
#sh_top_bar_2{background: #fff;padding: 5px 0;}
#sh_top_bar_2 .sh_topbar_content{display: flex;justify-content: space-between;align-items: center;padding: 15px 0;}
#sh_top_bar_2 .sh_topbar_content .sh_logo img{object-fit: contain;display: block;max-width: 100%;height: 2.5rem;width: 250px;}
#sh_top_bar_2 .sh_topbar_content .sh_logo{width: 30%;}
#sh_top_bar_2 .sh_topbar_content .sh_logo .navbar-brand{display: flex;}
#sh_top_bar_2 .sh_info{display: flex;}
#sh_top_bar_2 .sh_info .sh_call_info{display: flex;align-items: center;margin-right: 20px;}
#sh_top_bar_2 .sh_info .sh_call_info .sh_icon{width: 50px;height: 50px;border: 1px solid #777; text-align: center;line-height: 50px;border-radius: 5px;font-size: 24px;color: o-color('o-color-1');}
#sh_top_bar_2 .sh_info .sh_call_info .sh_callus{margin-left: 20px;}
#sh_top_bar_2 .sh_info .sh_call_info .sh_callus h4{margin: 0;color: #000;font-size: 18px;font-weight: 600;}
#sh_top_bar_2 .sh_info .sh_call_info .sh_callus p{margin: 0;color: #777;}
#sh_top_bar_2 .sh_info .sh_call_info .sh_callus a{color: #777;font-size: 14px;transition: all .4s;}
#sh_top_bar_2 .sh_info .sh_call_info:last-child{margin-right: 0;}
#sh_top_bar_2 .sh_info .sh_call_info .sh_callus a:hover{color: o-color('o-color-1');}
#sh_copyright_15 .copyright-section:after {content: '';position: absolute;left: 0;top: 0; background: rgba(0, 0, 0, 0.4);width: 100%;height: 100%;}
@media (max-width: 768px){
   #sh_top_bar_2{display: none;}
}
/*======================
	TOP BAR 2 start
=======================*/

/*======================
	TOP BAR 3 start
=======================*/
#sh_top_bar_3{background: o-color('o-color-1');;padding: 5px 0;}
#sh_top_bar_3 .sh_topbar_content{display: flex;justify-content: space-between;align-items: center;}
#sh_top_bar_3 .sh_topbar_content .sh_left_content ul{display: flex;list-style: none;padding: 0;margin: 0;}
#sh_top_bar_3 .sh_topbar_content .sh_right_content ul{display: flex;list-style: none;padding: 0;margin: 0;}
#sh_top_bar_3 .sh_topbar_content .sh_left_content ul li{padding-right: 25px;}
#sh_top_bar_3 .sh_topbar_content .sh_left_content ul li a{color: #fff;font-size: 14px; transition:1s; font-weight: 600;}
#sh_top_bar_3 .sh_topbar_content .sh_left_content ul li:hover a{color: #05103b;font-size: 14px;font-weight: 600;}
#sh_top_bar_3 .sh_topbar_content .sh_left_content ul li a span{color:#fff; transition:1s;padding-right: 10px;font-size: 18px;}
#sh_top_bar_3 .sh_topbar_content .sh_left_content ul li:hover a span{color:#05103b;padding-right: 10px;font-size: 18px;}
#sh_top_bar_3 .sh_topbar_content .sh_center_content{margin:0px auto ;}
#sh_top_bar_3 .sh_topbar_content .sh_right_content ul li{margin: 0 5px; transition:1s;}
#sh_top_bar_3 .sh_topbar_content .sh_right_content ul li a{display: inline-block;text-align: center;color: #fff;width: 30px;height: 30px;line-height: 30px;}
#sh_top_bar_3 .sh_topbar_content .sh_right_content ul li a:hover{color: o-color('o-color-1'); background:#fff; border-radius:30px;}
#sh_top_bar_3 .sh_topbar_content .sh_right_content ul li a:hover li{background:#fff;}

@media (max-width: 768px){
   #sh_top_bar_3{display: none;}
}
/*======================
	TOP BAR 3 end
=======================*/


/*###################################################################################################
										TOP BAR STYLE END
/*###################################################################################################*/

/*###################################################################################################
										COPYRIGHT STYLE START
/*###################################################################################################*/
/*======================
COPYRIGHT 1 STRAT
=======================*/
#sh_copyright_1{background:#111111;padding: 20px 0px 0px; }
#sh_copyright_1 img{margin-left: 10px;}
#sh_copyright_1 .font-arial.fs-12, .font-arial.fs-11 {letter-spacing: .03em;list-style: none;padding: 0!important;text-align:right}
#sh_copyright_1 .inline {display: inline-block!important;}
#sh_copyright_1 .text-white {color:#fff;}
#sh_copyright_1 .p-r-10 {padding-right: 10px!important;    padding-left: 10px;}
#sh_copyright_1 .b-a, #sh_copyright_1 .b-r,#sh_copyright_1 .b-l,#sh_copyright_1 .b-t,#sh_copyright_1 .b-b {border-style: solid;border-width: 0;border-right-width: 1px;border-color: rgba(255,255,255,.3);}
#sh_copyright_1 .inline a{font-size: 16px;text-decoration: none; color: #fff !important;}
#sh_copyright_1 .small-text {margin: 0!important;letter-spacing: .03em;color:#fff;font-size: 11px!important;line-height: 21px!important;}
#sh_copyright_1 .hint-text{opacity: .7;}
#sh_copyright_1 .muted{color:#fff;font-size: 16px!important;margin-top: 5px;display:inline-block;}
#sh_copyright_1 .js_language_selector{display: inline;}
#sh_copyright_1  p.muted a{color: #fff !important;}
#sh_copyright_1 ul{margin-left: 45%; text-align: center;}
.o_footer #sh_copyright_1 .btn-outline-secondary:hover{background: transparent;color: #fff;}
.js_change_lang{
	display:flex;
}
@media (max-width: 991px){
.text-right{text-align: left!important;}
#sh_copyright_1 img{margin-left:0px;}
#sh_copyright_1 li a:first-child{padding-left:0px;}
}

@media screen and (max-width:768px) {
#sh_copyright_1 .muted {color: #fff;font-size: 13px !important;margin-top: 5px;}
}
@media screen and (max-width:576px) {
#sh_copyright_1 .muted {color: #fff;font-size: 13px !important;margin-top: 5px;text-align: center;}
#sh_copyright_1 ul{margin-left: 0 !important;}
#sh_copyright_1 .font-arial.fs-12, .font-arial.fs-11{text-align: center !important;}
#sh_copyright_1 .inline a{font-size: 13px;}
}
/*======================
COPYRIGHT 1 END
=======================*/

/*======================
	COPYRIGHT 2 STRAT
=======================*/
#sh_copyright_2 .copyright-section {background-color:o-color(o-color-2);position: relative;padding: 10px 0;}
#sh_copyright_2 .copyright-section .copyright {color:#ddd;padding: 15px 20px;font-size: 16px;margin-bottom: 0px;letter-spacing: 1px;position: relative;z-index: 1;}
#sh_copyright_2 .copyright-section .copyright a{color:$cr-text;font-weight:600}
#sh_copyright_2 .copyright-section .copyright a:before {content: '';background: currentColor;width: 30%;height: 2px;position: absolute;bottom:0px;left: 0;opacity: 0;}
#sh_copyright_2 .copyright-section{display: flex;align-items: center;justify-content: center;}
#sh_copyright_2 .copyright-section button{background: transparent;color: #fff;box-shadow: none;display: flex;align-items: center;}
#sh_copyright_2 .copyright-section .js_language_selector{z-index: 1;}
#sh_copyright_2 .copyright-section .js_language_selector .dropdown-menu .js_change_lang{display: flex;justify-content: flex-start;padding: 10px;}

/* 14-4-2021 */ 
.o_rtl #sh_copyright_2 .copyright-section .js_language_selector .dropdown-menu.show{right: auto !important;}
.o_rtl #sh_copyright_2 .js_language_selector .dropdown-menu {width: 200%;}

@media only screen and (max-width:567px) {
   #sh_copyright_2 .copyright-section .copyright {color: #ddd;padding: 15px 10px;font-size: 12px;margin-bottom: 0px;letter-spacing: 1px;position: relative;z-index: 1;}
}
/*======================
	COPYRIGHT 3 END
=======================*/
/*======================
COPYRIGHT 3 STRAT
=======================*/
#sh_copyright_3 .copyright-section {margin-top:10px; background:o-color(o-color-3);}
#sh_copyright_3 .copyright-section .copyright {color:$cr-text;padding: 15px 20px;font-size: 14px;margin-bottom: 0px;}
#sh_copyright_3 .copyright-section .copyright a{color:$cr-text;font-weight:600;}
#sh_copyright_3 .copyright-section .copyright a:before {content: '';background: currentColor;width: 30%;height: 2px;position: absolute;bottom:0px;left: 0;opacity: 0;}
#sh_copyright_3 .copyright-section{display: flex;align-items: center;justify-content: center;}
#sh_copyright_3 .copyright-section button{background: transparent;color: #fff;box-shadow: none;display: flex;align-items: center;}
.o_rtl #sh_copyright_3 .js_language_selector .dropdown-menu {width: 250%;}
#sh_copyright_3 .copyright-section .js_language_selector .dropdown-menu .js_change_lang{display: flex;justify-content: flex-start;padding: 10px;}

@media screen and (max-width:768px) {
#sh_copyright_3 .copyright-section .copyright a{color:$cr-text;font-weight:600; font-size:13px;}
}

/*======================
COPYRIGHT 3 END
=======================*/


/*======================
COPYRIGHT 4 STRAT
=======================*/
#sh_copyright_4{background:#f7f8fa;padding: 20px 0px 0px; border-top:1px solid #e8e8e8;}
#sh_copyright_4:before{content:''; position: absolute; top:0; left: 0; height:100%; width:100%; background:url(/sh_corpomate_theme/static/src/images/theme_18/images/bg_shapes/shape-5.png); background-position: center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;}

#sh_copyright_4 .font-arial.fs-12, .font-arial.fs-11 {letter-spacing: .03em;list-style: none;padding: 0!important;text-align:right}
#sh_copyright_4 .inline {display: inline-block!important;}
#sh_copyright_4 .text-white {color:#414141;}
#sh_copyright_4 .p-r-10 {padding-right: 10px!important;    padding-left: 10px;}
#sh_copyright_4 .b-a, #sh_copyright_4 .b-r,#sh_copyright_4 .b-l,#sh_copyright_4 .b-t,#sh_copyright_4 .b-b {border-style: solid;border-width: 0;border-right-width: 1px;border-color: rgba(255,255,255,.3);}
#sh_copyright_4 .inline a{font-size: 14px;text-decoration: none; color: #212121 !important;}
#sh_copyright_4 .small-text {margin: 0!important;letter-spacing: .03em;color:#414141;font-size: 11px!important;line-height: 21px!important;}
#sh_copyright_4 .hint-text{opacity: .7;}
#sh_copyright_4 .muted{color:#414141;font-size: 14px!important;margin-top: 5px;}
#sh_copyright_4 .js_language_selector{display: inline;}
#sh_copyright_4 .muted{display:inline-block;}
#sh_copyright_4 .js_language_selector{display: inline;}
#sh_copyright_4 ul{text-align: right;}
.o_footer #sh_copyright_4 .btn-outline-secondary{color: o-color(o-color-1);}
.o_footer #sh_copyright_4 .btn-outline-secondary:hover{background: transparent;color: o-color(o-color-2);}
@media (max-width: 991px){
.text-right{text-align: left!important;}
#sh_copyright_4 img{margin-left:0px;}
#sh_copyright_4 li a:first-child{padding-left:0px;}
}
@media screen and (max-width:768px) {
#sh_copyright_4 .muted {color: #414141;font-size: 13px !important;margin-top: 5px;}
}
@media screen and (max-width:576px) {
#sh_copyright_4 .muted {color: #414141;font-size: 13px !important;margin-top: 5px;text-align: center;}
#sh_copyright_4 .font-arial.fs-12, .font-arial.fs-11{text-align: center !important;}
}
/*======================
COPYRIGHT 4 END
=======================*/

#sh_copyright_5{background:o-color(o-color-1);padding: 20px 0px 0px;}
#sh_copyright_5.b-b{content:''; position: absolute; top:0; left: 0; height:100%; width:100%; background:url(/sh_corpomate_theme/static/src/images/theme_18/images/bg_shapes/shape-5.png); background-position: center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;}

#sh_copyright_5 .font-arial.fs-12, .font-arial.fs-11 {letter-spacing: .03em;list-style: none;padding: 0!important;text-align:right}
#sh_copyright_5 .inline {display: inline-block!important;}
#sh_copyright_5 .text-white {color:#fff;}
#sh_copyright_5 .p-r-10 {padding-right: 10px!important;    padding-left: 10px;}
#sh_copyright_5 .b-a, #sh_copyright_4 .b-r,#sh_copyright_4 .b-l,#sh_copyright_4 .b-t,#sh_copyright_4 .b-b {border-style: solid;border-width: 0;border-right-width: 1px;border-color: rgba(255,255,255,.3);}
#sh_copyright_5 .inline a{font-size: 14px;text-decoration: none; color: #fff !important;}
#sh_copyright_5 .small-text {margin: 0!important;letter-spacing: .03em;color:#fff;font-size: 11px!important;line-height: 21px!important;}
#sh_copyright_5 .hint-text{opacity: .7;}
#sh_copyright_5 .muted{color:#fff;font-size: 14px!important;margin-top: 5px;}
#sh_copyright_5 .muted a{color:#fff!important;}
#sh_copyright_5 .js_language_selector{display: inline;}
#sh_copyright_5 .muted{display:inline-block;}
#sh_copyright_5 .js_language_selector{display: inline;}
#sh_copyright_5 ul{text-align: right;}
.o_footer #sh_copyright_5 .btn-outline-secondary{color:#fff;}
.o_footer #sh_copyright_5 .btn-outline-secondary:hover{background: transparent;color:#fff;}
@media (max-width: 991px){
.text-right{text-align: left!important;}
#sh_copyright_5 img{margin-left:0px;}
#sh_copyright_5 li a:first-child{padding-left:0px;}
}
@media screen and (max-width:768px) {
#sh_copyright_5 .muted {color: #fff;font-size: 13px !important;margin-top: 5px;}
}
@media screen and (max-width:576px) {
#sh_copyright_5 .muted {color: #fff;font-size: 13px !important;margin-top: 5px;text-align: center;}
#sh_copyright_5 .font-arial.fs-12, .font-arial.fs-11{text-align: center !important;}
}

/*###################################################################################################
										COPYRIGHT STYLE END
/*###################################################################################################*/
/*---------------
button
-------------*/
.sh_btn_cm_1{color: #fff;padding: 14px 40px;display: inline-block;text-align: center;font-weight: 600;transition: all 0.3s linear;font-size: 14px;position: relative;text-decoration: none;margin: 2px;border-radius: 50px;z-index: 50;}
.sh_btn_cm_2{font-size: 14px;font-weight: 600;line-height: 30px;letter-spacing: 1px;fill: #ffffff;color: #ffffff;border-radius: 0px 20px 0px 20px;padding: 10px 40px 10px 40px;display: inline-block;}
.sh_btn_cm_3{padding: 14px 30px 14px; font-size: 16px; font-weight: 600; border-radius: 0;}
.sh_btn_cm_3:hover{background: rgba(0,0,0,0.5);transition: all 0.4s;}
.sh_btn_cm_4{font-weight: 600; font-size: 14px; line-height: 1.5; white-space: nowrap; overflow: hidden; display: -webkit-inline-box; display: -webkit-inline-flex; display: inline-flex; justify-content: center; align-items: center; /* height: 48px; */ border-radius: 0px; padding: 0 45px; box-shadow: 13px 15px 15px 0px rgba(105, 105, 105, 0.08); transition: all .2s;}
.sh_btn_cm_5{color: #ffffff;border:0px;background: linear-gradient(90deg, o-color('o-color-1'), o-color('o-color-1') 10%, o-color('o-color-1') 15%, o-color('o-color-2'));position: relative;line-height: 24px;overflow: hidden;text-decoration: none;font-weight: 600;font-size: 15px;letter-spacing: .6px;text-align: center;padding: 14px 30px !important;border-radius: 9px 27px 9px 27px; display: inline-block;transition: all .5s;opacity: 0.8;} 
.sh_btn_cm_5:hover{opacity: 1;}
.sh_btn_cm_6{padding: 10px 25px;color: #fff;font-size: 15px;border-radius: 7px;background: linear-gradient(to right, o-color('o-color-2') 40%, o-color('o-color-1'));margin-top: 10px;}
.sh_btn_cm_6:hover{background: linear-gradient(to right, o-color('o-color-1') 40%, o-color('o-color-2'));color: #fff;padding: 10px 50px;border-radius: 5px;border:none;font-size: 15px;border-radius: 7px;} 
.sh_btn_cm_7 { background:o-color('o-color-1'); color: #fff; padding: 6px 50px; border-radius: 30px; border: none; font-size: 14px; border: 2px solid o-color('o-color-1');} 
.sh_btn_cm_7.btn:hover { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23); border: 2px solid o-color('o-color-1'); background: #fff; color: o-color('o-color-1'); font-weight: bold;}
.sh_btn_cm_8 {border-radius: 5px;font-weight: 600;letter-spacing: 1px;padding: 10px 25px;}

/* 25-12-2020 */
.o_connected_user header.o_header_affixed{display: block;top: 46px;left: 0;bottom: auto;right: 0 !important;position: fixed;transition: margin-top 500ms ease 0s;} 
/* === 28-12-2020 === */
.o_connected_user header.o_header_affixed {transition: all 0.5s;}
.carousel .carousel-indicators{z-index: 1;}
.sh_bottom_nav .dropdown-menu:not(.show){opacity: 0;}
.sh_bottom_nav .dropdown-menu.show{opacity: 1;}

/* v15 7-10-2021 */ 
@media only screen and (max-width: 767.98px){
   .js_blog.website_blog .navbar.navbar-expand-sm.navbar-light > .container {display: block;}
}
/* stop double scrollbar */
// #wrapwrap{overflow: auto;}
// ::-webkit-scrollbar{width:10px;}

// full screen backdrop scss //
:not(:root):fullscreen::backdrop {position: fixed;top: 0px;right: 0px;bottom: 0px;left: 0px;background:#fff;}
.s_website_form_rows .text-danger.ml8{position: relative !important; top: 15px !important;left: 10px !important;}
.s_website_form_rows .fa.fa-close.mr4{top: 0px !important;left: -17px !important;color: #dd3e50 !important;}
.input-group .btn.js_subscribed_btn {line-height: 35px !important; background-color: o-color(o-color-1); border: transparent; }
.navbar-light .navbar-nav .nav-link:hover span:after {width: 100%;opacity: 0 !important;display: none !important;}



#wrapwrap {
	& .o_shop_discussion_rating{display: none;}
	&:not(.login_signup_reset_password_page) {
		&:not(.o_portal) {
			.o_header_standard.o_top_fixed_element {
				.sh_softhealer_website_navbar_brand_website_logo_scrolled {
					display: none;
				}
                .sh_softhealer_website_navbar_brand_website_logo {
                    display: block;
                }
			}
            .o_header_standard.o_header_affixed.o_header_is_scrolled.o_top_fixed_element {
				.sh_softhealer_website_navbar_brand_website_logo {
					display: none;
				}
                .sh_softhealer_website_navbar_brand_website_logo_scrolled {
                    display: block !important;
                }
			}
		}
	}
}

