@media screen and (min-width:992px) and (max-width:1199px){
#sh_corpomate_theme_accounting_25 .main-row .sh_our_contact h2{font-size: 40px;}
}
@media screen and (min-width:821px) and (max-width:991px){
#sh_corpomate_theme_accounting_25{margin-top:-140px;}
}
@media screen and (min-width:820px) and (max-width:991px){
#sh_corpomate_theme_accounting_25 .main-row .sh_our_contact{margin-top:20px;}
}
@media (max-width:820px) {
#sh_corpomate_theme_accounting_25 .main-row .sh_our_contact {margin-top: 50px;}
#sh_corpomate_theme_accounting_25 {margin-top: -150px;}
}
@media(max-width:567px) {
#sh_corpomate_theme_accounting_25 .main-row {padding: 50px 20px;}
#sh_corpomate_theme_accounting_25 .main-row .sh_our_contact h2 .sh_shape img {height: 50px;width: 50px;}
#sh_corpomate_theme_accounting_25 .main-row .sh_our_contact h2 {font-size: 27px;}
#sh_corpomate_theme_accounting_25 {margin-top: -130px;}
}