// Dark mode button

.js_cls_sh_website_theme_dark_mode_button{
	width: 40px;height: 40px;position: fixed;z-index: 999;right: 30px;top:50%;transform: translateY(-50%) !important;

	.dark_mode_inner{
		text-align: center;width: 40px;height: 40px;position: relative;border-radius: 6px;border: 1px solid o-color(o-color-1);cursor: pointer;background-color: #fff;
		.fa{
			position: absolute;top: 52%;left: 50%;transform: translate(-50%, -50%) !important;font-size: 22px;color:o-color(o-color-1);
		}
	}
}


//header
.dark_mode_is_on  .o_top_fixed_element .navbar-light .navbar-nav .nav-link{color:o-color(o-color-2)}
.dark_mode_is_on{
    .navbar-nav{
    .btn{
        .oi-search{
            color: o-color(o-color-2)!important;
        }  
    }
}
}

.dark_mode_is_on{
    .navbar-light{
        .btn-outline-secondary{
            color: o-color(o-color-2)!important;
        }
    }
}

.dark_mode_is_on {
    .o_top_fixed_element {
        .navbar-light {
            .navbar-nav {
                .nav-link {
                    color:rgba($color: o-color(o-color-2), $alpha: 1.0) !important;;
                     &:before{
                       border-left: 3px solid  o-color(o-color-2);border-top: 3px solid  o-color(o-color-2);
                     }
                     &:after{
                        border-right: 3px solid  o-color(o-color-2);border-bottom: 3px solid  o-color(o-color-2);
                     }           
                }
            }
        }
    }
}
.navbar-light .btn-outline-secondary.dropdown-toggle.show{
    color:o-color(o-color-1)!important;
}
//header

.dark_mode_is_on{
    .o_header_affixed {
        .navbar-light{
            background-color: #262433 !important;
            
        
        }
    }
    .navbar.navbar-light{
        background-color: #262433 !important;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .o_navbar_mobile{
            background:#0F0E15;
            .offcanvas-body {
                .navbar-nav{
                    .s_searchbar_input {
                        .input-group {
                            input{
                                background:#262433 !important;
                            }
                            .bg-o-color-3{
                                background:#262433 !important;
                            }
                        }
                     }
                     ul#top_menu{
                        background:#262433;
                     }
                }
            }
        }
    }
    #wrap{
        background:#0F0E15;
        
.sh_onemate_theme_2_banner{
    .sh_heading_box{
        .sh_heading{
            color:#fff;
        }
        .sh_text{
            color: #ffffff;
        }
    } 
}
.sh_onemate_theme_2_aboutus{
    background:#262433;
    .sh_about_us_desc_box{
        .sh_heading_box{
            .sh_sub_title{
                color: #fff;
            }
            .sh_heading {
                color: #fff;
            }
        }
        .sh_process_box{
            .sh_progress_content{
                .sh_left{
                    color: #fff;
                }
                .sh_right{
                    color: #fff;
                }
            }
        }
    }
    .sh_about_us_content{
        .sh_text{
            color: #fff;
        }
    }
}

.sh_onemate_theme_2_counter{
    background: #262433;
    color:#fff;
}

.sh_onemate_theme_2_pricing{
    background: #262433;
    .sh_sub_title{
        color: #fff;
    }
    .sh_heading{
        color: #fff;
    }
}

#blog26{
    background: #262433;
    .sh_sub_title{
        color: #fff;
    }
    .sh_heading_box{
        color: #fff;
    }
}
.s_text_block.pt40.pb40{
    color:#fff;
    p.text-center{
        color:#fff;
    }
}

}
footer#bottom{
    background: #0F0E15;
    #sh_footer6{
        background: #262433;
        .sh_footer_tags{
            a{
                color: #fff;
            }
        }
        .sh_footer_menu{
            li{
                a{
                    color: #fff;
                }
            }
        }
        .sh_copyright{
            .sh_copyright_content{
                a{
                    color: #fff;
                }
            }
        }
        .social_icons{
            .social_icon{
                a{
                    color: #fff;
                }
            }
        }
    }
}
.js_cls_bottom_nav_bar_wrapper{
    .sh_corpomate_main_navbar_section_style_1{
        background:#262433;box-shadow: 0px -3px 10px #8b8b8ba1;
    }
    .sh_corpomate_main_navbar_section_style_2{
        background:#262433;box-shadow: 0px -3px 10px #8b8b8ba1;
    }
    .sh_corpomate_main_navbar_section_style_3{
        background:#262433;box-shadow: 0px -3px 10px #8b8b8ba1;
    }
}
}