// snippet 1 start//
.sh_onemate_theme_2_banner {
	padding:180px 0px 120px; position: relative;background-color: transparent;
	// background-image: linear-gradient(180deg,#E9E5FF 0%,#F7F7FA00 100%) !important;
	@include media-breakpoint-down(xl){
		padding:150px 0px 120px;
	}
	@include media-breakpoint-down(lg){
		padding:100px 0px 70px;
	}
	@include media-breakpoint-down(md){
		padding:50px 0px 30px;
	}
	.sh_heading_box{
		.sh_heading{
			font-size:45px; text-transform: capitalize; font-weight:600; line-height: 135.5%;
			@include media-breakpoint-down(xl){
				font-size:36px;
			}
			span{
				color:o-color(o-color-1);
			}
			@include media-breakpoint-down(md){
				font-size:32px;
			}
		}
		.sh_text{
			font-size:16px; color:o-color(o-color-3); margin-top:20px; display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;  overflow: hidden;margin-bottom: 25px;line-height: 187.5%;
		}
	}
	.s_newsletter_subscribe_form{
		margin-bottom: 0;
		.sh_newslatter{
			background: #e4ebf1;border-radius: 30px;display: -webkit-box;display: -webkit-flex;display: flex;justify-content: space-between;
			input{
				margin: 10px 20px 10px 0;height: 30px;width: 100%;border: 0;padding: 0.375rem 1rem;color: #666;border-left: 1px solid #e9ecef;background: transparent;border-radius: 30px;
				&:focus{
					box-shadow: none;
				}
			}
			.sh_input_group_append{
				position: relative;display: flex;font-size: 17px;line-height: 25px;font-weight: 500;z-index: 1;background-color:o-color(o-color-1);width: 150px;text-align: center;justify-content: center;color: rgb(255, 255, 255) !important;overflow: hidden;padding: 9.5px 5.5px;border-radius: 30px;transition: all 500ms ease 0s;box-shadow:none;
				&:hover{
					background:o-color(o-color-3);
				}
				&:before{
					display:none;
				}
				.btn-fill-success, .btn-success, .btn-primary{
					background:transparent; opacity:1; border:transparent;
				}
			}
		}
	}
	.sh_slider{
		width:100%; overflow: hidden;
		@include media-breakpoint-down(lg){
			margin-top:30px;
		}
		.carousel-indicators{
			z-index:2;display:none;
		}
		.carousel-inner{
			z-index:1;
			.carousel-item{
				height:500px;width:100%; position: relative; border-radius:10px;
				@include media-breakpoint-only(lg){
					height:450px;
					}
					@include media-breakpoint-down(md){
						height:250px;
						}
				img{
					height:100%; width:100%; border-radius:10px; object-fit: cover;
				}
			}
		}
		.carousel-control-prev{
			display:none;
		}
		.carousel-control-next{
			display:none;
		}

	}
	.sh_box{
		display:flex; flex-direction: column; align-items: flex-start; justify-content: center;
		@include media-breakpoint-down(lg){
			flex-direction: row; justify-content:space-between; align-items: center;
		}
		@include media-breakpoint-down(md){
			flex-direction: column;
		}
	.sh_image_1{
		height:200px; width:100%; border-radius:10px;
		@include media-breakpoint-down(lg){
		width:50%;
		}
		@include media-breakpoint-down(md){
			width:100%; margin-top:20px;
		}
		img{
			height:200px; width:100%; border-radius:10px;box-shadow: -12px 12px 0px 0px rgba($color:o-color(o-color-2), $alpha: 0.65);
			@include media-breakpoint-between(lg,xl){
				height: 215px;object-fit: cover;
			}
			@include media-breakpoint-down(lg){
				object-fit: cover;
			}
		}
	}
	.sh_banner_content_box{
		margin-top:30px; background:o-color(o-color-1); border-radius:10px; padding:30px 20px 120px; position: relative; width: 100%;
		@include media-breakpoint-only(lg){
			padding:30px 20px 80px;
			}
		@include media-breakpoint-down(lg){
			width:45%;padding: 30px 20px 100px;
			}
			@include media-breakpoint-down(md){
				width:100%;padding: 40px 20px;
			}
		.sh_sub_title{
			color: #fffffff0;font-size: 12px;margin-bottom: 5px; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;
		}
		.sh_title{
			color: #FFFFFF;font-size: 20px;line-height: 26px;letter-spacing: -0.03em;font-weight: 700; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  overflow: hidden;
			@include media-breakpoint-only(lg){
				font-size:17px;
			}
			}
		.sh_btn{
			margin-top:20px; position: relative;
			a{
				color:#fff; font-weight: 700; font-size:16px; transition:0.3s all ease-in-out; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;
				@include media-breakpoint-only(lg){
					font-size:15px;
				}
				span.fa{
					padding-left:5px;transition:0.3s all ease-in-out;
				}
				&:hover{
					text-decoration:none;
					span.fa{
						padding-left:10px;
					}
				}
				
			}
			&::after{
				height:0; width:0; position: absolute; left:0; bottom:-5px; border-bottom:2px solid o-color(o-color-2); content:''; transition:0.3s all ease-in-out;
			}
			&:hover{
			   &::after{
				width:45%;
			   }
			}
		}
	}
}
.sh_sub_div{
	position: absolute; bottom:-65px; left:-65px; width:280px; padding: 5px 18px; background:#fff;border-radius:10px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;z-index: 1;animation: topAni 3s ease-in-out infinite;
	@include media-breakpoint-only(lg){
			bottom:-75px;
	}
	@include media-breakpoint-down(lg){
		display:none;
	}
	.sh_div_1{
		position: relative;display:flex; justify-content: center; align-items: center;position: relative;top: 35px;
		.sh_review_text{
			font-size:14px; color:o-color(o-color-3); text-transform: uppercase; font-weight:500;margin-right: 30px;
		}
		.sh_five_star{
			margin-left: 5px;
			span{
				font-size:16px; margin-right:2px; color:#FDB500;
			}
		}

	}
	.sh_div_2{
		display:flex; justify-content: center; align-items: center; margin-top:10px;
		.sh_image{
			height:auto; width:auto;
			img{
				height: auto;width: 90px;
			}
		}
		.sh_review_content{
			margin-left:40px;font-size:14px; color:o-color(o-color-3); text-transform: uppercase; font-weight:500;
		}
	}
}
@keyframes topAni {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(10px);
	}
	100% {
	  transform: translateY(0px);
	}
  }
}
// banner section end //

// our benifits section start //

.sh_onemate_theme_2_our_benifits{
	position: relative;padding: 50px 0px;width: 90%;margin: 0px auto;border-radius: 20px;background: #262433;color: #fff;margin-bottom: 100px;margin-top: 50px;
	@include media-breakpoint-down(md){
		padding:30px 0px;
	}
	.sh_our_benifit_left_content{
		width:100%;
		.sh_sub_title{
			opacity: 0.7;margin-bottom: 24px;font-size: 12px;font-weight: 600;letter-spacing: 0.12em;text-transform: uppercase;line-height: 135.5%;
		}
		.sh_title{
			font-size:40px; text-transform: capitalize; font-weight:600; line-height: 135.5%;
			@include media-breakpoint-down(xl){
				font-size:36px;
			}
			@include media-breakpoint-down(md){
				font-size:32px;
			}
		}
		.sh_text{
			font-size:16px; color:#fff; margin-top:20px; display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;  overflow: hidden;
		}
	}
	.sh_our_benifit_right_content{
		width:100%;
		.sh_benifit_box{
			text-align: center;padding: 40px 20px 40px 20px;border-radius: 16px;background-color: #fff;  transition: border-color 0.3s, background-color 0.3s;
			@include media-breakpoint-between(xl,xxl){
				padding: 40px 12px 40px 12px;
			}
			@include media-breakpoint-between(lg,xl){
				padding: 35px 12px 35px 12px;
			}
			@include media-breakpoint-down(md){
				padding: 30px 15px;
			}
			.sh_icon_box{
				margin-bottom:15px;
				.sh_icon{
					 svg{
						height:60px; width:60px; color:o-color(o-color-1); stroke:o-color(o-color-1);transition:0.3s all ease-in-out;
						 @include media-breakpoint-down(md){
							height:50px; width:50px;
						 }
					 }
				}
			}
			.sh_benifit_heading{
				font-size: 16px;margin-bottom: 4px;font-weight:700;transition: color 0.3s;color: o-color(o-color-3);transition:0.3s all ease-in-out;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;
				@include media-breakpoint-down(md){
					font-size:14px;
				 }
			}
			.sh_benifit_sub_title{
				font-size: 12px; color:o-color(o-color-3); transition:0.3s all ease-in-out; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;
				 @include media-breakpoint-down(md){
					font-size:11px;
				 }
			}
			&:hover{
				background:o-color(o-color-1);
				.sh_icon_box{
					.sh_icon{
						svg{
							stroke:#fff;
						}
					}
				}
				.sh_benifit_heading{
					color:#fff;
				}
				.sh_benifit_sub_title{
					color:#fff;
				}
			}
			
		}
	}
}
// our benifits section end //

// sh_onemate_theme_2_our_capabilities start //

.sh_onemate_theme_2_our_capabilities{
	padding:50px 0px; width:90%; margin:0px auto; border-radius:20px; background: #262433; color:#fff; margin-bottom:100px;margin-top:50px;
	.sh_heading_box{
		.sh_sub_title{
			opacity: 0.7;margin-bottom: 24px;font-size: 12px;font-weight: 600;letter-spacing: 0.12em;text-transform: uppercase;color:#fff;
		}
		.sh_heading{
			font-size:40px; text-transform: capitalize; font-weight:600;  display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;  overflow: hidden; width:60%;color:#fff; margin-bottom:50px;line-height: 135.5%;
			@include media-breakpoint-down(xl){
				width:80%;font-size:36px;
			}
			@include media-breakpoint-down(lg){
				width:100%;
			}
			@include media-breakpoint-down(md){
				font-size:32px;
			}
		}
	}
	.sh_slider_box{
		width:100%;
		@include media-breakpoint-down(lg){
			height:300px;
		}
		.sh_onemate_theme_slider{
			position: relative;z-index:1;
			.sh_capability_box{
				padding: 26px 30px 40px 30px;border-radius: 16px;color: #FFFFFF;background-color: o-color(o-color-5); 
				@include media-breakpoint-down(xl){
					padding:25px 20px 40px 20px;
				}
				.sh_icon_box{
					margin-bottom: 24px;
					.sh_icon{
						svg{
							stroke:o-color(o-color-2); height:70px; width:70px;
						}
					}
					
				}
				.sh_heading_title{
					margin-bottom: 12px;font-size: 20px;font-weight: 700;letter-spacing: -0.02em;transition: color 0.3s; color:#fff;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  overflow: hidden;
					@include media-breakpoint-down(xxl)	{
						height:45px;
					}
					@include media-breakpoint-down(lg){
						font-size:18px;
					}
				}
				.sh_sub_text{
					color:#fff;font-size: 14px;transition: color 0.3s; font-weight:400;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;  overflow: hidden;
				}
				.sh_btn{
					margin-top:20px; position: relative;
					a{
						color:#fff; font-weight: 700; font-size:16px; transition:0.3s all ease-in-out; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;
						@include media-breakpoint-only(lg){
							font-size:15px;
						}
						span.fa{
							padding-left:5px;transition:0.3s all ease-in-out;
						}
						&:hover{
							span.fa{
								padding-left:10px;
							}
						}
						
					}
					&::after{
						height:0; width:0; position: absolute; left:0; bottom:-5px; border-bottom:2px solid o-color(o-color-2); content:''; transition:0.3s all ease-in-out;
					}
					&:hover{
					   &::after{
						width:40%;
					   }
					}
					
				}
			}

		}
	}
	.owl-carousel .owl-nav{
		position: relative;top: -425px;display: flex!important; justify-content:flex-end;z-index:0;
		@include media-breakpoint-down (md){
			display:none !important;
		}
		.owl-prev{
			display:none !important;
		}
		.owl-next{
			display:none !important;
		}
		// .owl-prev{
		// 	font-size: 35px;height: 50px;width: 50px;display: flex;border-radius: 100px;background: rgba($color: o-color(o-color-2), $alpha: 0.6);display: flex;justify-content: center;align-items: center;font-weight: 500;left: -50px;position: relative;
		// }
		// .owl-next{
		// 	font-size: 35px;height: 50px;width: 50px;display: flex;border-radius: 100px;background: rgba($color: o-color(o-color-2), $alpha: 0.6);display: flex;justify-content: center;align-items: center;font-weight: 500;left: -50px;position: relative;
		// }
	}
	// sh_corpomate_theme_digital_marketing_5 start //
#sh_corpomate_theme_digital_marketing_5 {
	width: 100%;padding: 40px 0 0 0;background: transparent; border-top:2px solid rgba(232, 232, 232,0.5); position: relative;text-align: center;
	@include media-breakpoint-down(lg){
		margin-top:40px;
	}
	&::after {
		content: '';position: absolute;top: 0;left: 0;height: 100%;width: 100%;
	}
	h3 {
		color: o-color('o-color-1');font-weight: 500;font-size: 16px;text-align: center;margin: 0 0 10px 0;
	}
	h2 {
		font-weight: 600;font-size: 30px;text-align: center;margin-bottom: 50px;
	}
	.owl-carousel {
		.owl-dots.disabled {
			display:none;
		}
		.owl-nav.disabled{
			.owl-prev{
				display:none;
			}
			.owl-next{
				display:none;
			}

		}
		.owl-nav {
			display:none;
		}
		.owl-dots {
			display:none;
		}
		.owl-item {
			overflow: hidden;
			img {
				height: 50px !important; object-fit: contain !important; transition:0.3s ease-in-out;
				&:hover{
					transform: scale(1.1); filter: brightness(170%);
				}
			}
		}
	}
}
@media screen and (max-width:567px) {
	#sh_corpomate_theme_digital_marketing_5 {
		width: 100%;padding: 40px 0 40px 0;position: relative;text-align: center;
		h2 {
			font-weight: 600;font-size: 25px;text-align: center;margin-bottom: 30px;
		}
		.owl-theme {
			.owl-nav {
				display: none !important;
			}
		}
	}
}


// sh_corpomate_theme_digital_marketing_5 end //
}
// sh_onemate_theme_2_our_capabilities end //

// sh_onemate_theme_2_aboutus start //
.sh_onemate_theme_2_aboutus{
	position: relative;padding:50px 0px; width:90%; margin:0px auto; border-radius:20px; background:#E4E7F4; color:#fff; margin-top:250px;margin-bottom:100px;
	@include media-breakpoint-down(xl){
		margin-top:180px;
	}
	@include media-breakpoint-down(md){
		margin-top:100px;
	}
	.sh_about_us_image{
		height:500px; width:100%; border-radius:30px; text-align: center; margin: 0px auto; margin: -15% 0% 2%;
		img{
			height:100%; width:100%;border-radius:30px; object-fit: cover; object-position: center;
		}
		@include media-breakpoint-down(md){
			height:300px; margin-top:-30px;
		}
	}
	.sh_about_us_desc_box{
		margin-top:50px; width:100%;
		@include media-breakpoint-down(md){
			margin-top:20px;
		}
		.sh_heading_box{
			.sh_sub_title{
				opacity: 0.7;margin-bottom: 24px;font-size: 12px;font-weight: 600;letter-spacing: 0.12em;text-transform: uppercase;color:o-color(o-color-3);
				@include media-breakpoint-down(md){
					margin-bottom: 14px;
				}
			}
			.sh_heading{
				font-size:35px; text-transform: capitalize; font-weight:600;color:o-color(o-color-3); margin-bottom:30px;line-height: 135.5%;
				@include media-breakpoint-down(lg){
					width:100%;
				}
				@include media-breakpoint-down(md){
					font-size:22px;
				}
			}
			
		}
		.sh_process_box{
			width:100%;
			.sh_progress_content{
				display:flex; justify-content: space-between; align-items: center; padding:0px 5px;
				.sh_left{font-size:14px; color:o-color(o-color-3);}
				.sh_right{font-size:14px; color:o-color(o-color-3);}
			}
			.progress{
				height: 18px;display: block;padding: 4px;border-radius: 20px;background-color: #D8DCEE;margin-bottom:15px;
				.progress-bar{
					height:100%; border-radius:20px; background:o-color(o-color-1);
				}
			}
		}
	}
	.sh_about_us_content{
		margin-top:50px; width:100%;
		@include media-breakpoint-down(md){
			margin-top:0px;
		}
		.sh_text{
			font-size:16px; color:o-color(o-color-3); margin-top:30px; display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;  overflow: hidden;line-height: 187.5%;
		}
	}
}
// sh_onemate_theme_2_aboutus end //

// sh_onemate_theme_3_Counter start //
.sh_onemate_theme_2_counter{
	position: relative;padding:50px 0px; width:90%; margin:50px auto; border-radius:20px; background:#E4E7F4; 
	.sh_counter_heading{
		margin-bottom: 0;font-size: 35px;font-weight: 600;line-height: 135.5%;
		@include media-breakpoint-down(md){
			font-size:32px;
		}
	}
	.sh_counter_box{
		width:100%;display: flex;justify-content: center;align-items: center;flex-direction: column;margin-top:25px;
		.sh_counter_border{
			border-radius: 50%;padding: 20px 20px;height: 190px;width: 190px;background:#fff;
			@include media-breakpoint-down(xl){
				height:170px; width:170px;
			}
			.sh_inner_border{
				border:1px solid o-color(o-color-1); border-radius:50%; height:150px; width:150px;font-size:35px; font-weight:600; color:o-color(o-color-3);display: flex;justify-content: center;align-items: center;
				@include media-breakpoint-down(xl){
					height:130px; width:130px;
				}
				@include media-breakpoint-down(md){
					font-size:30px; 
				}
				.sh_counter_number{
					font-size:35px; font-weight:600; color:o-color(o-color-3);display: -webkit-box;-webkit-box-orient: vertical;  overflow: hidden;margin-bottom: 0px;
				}

			}
			
		}
		.sh_counter_text{
			margin-top:15px; font-size:18px; font-weight:600;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;
			@include media-breakpoint-down(md){
				margin-bottom:15px;
			}
		}
	}
	.sh_counter_desc_box{
		padding:50px 20px; border-radius: 20px; display:flex; justify-content: center; align-items: center; flex-direction: column; background:#fff;
		 @include media-breakpoint-down(lg){
			margin-top: 30px;
		 }
		.sh_desc_title{
			.sh_counter_number{
				font-size:35px; font-weight:600; color:o-color(o-color-3);display: -webkit-box;-webkit-box-orient: vertical;  overflow: hidden;margin-bottom: 0px;
			}
		}
		.sh_counter_subtitle{
			margin-bottom:16px; font-size:16px; color:#000;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;text-align: center;
		}
		.sh_btn{
			margin-top: 10px;
			a{
				color:#fff;background:o-color(o-color-3);border-radius: 10px;padding: 13px 29px;transition: all .3s;
				&:hover{
					background:o-color(o-color-1);
				}
			}
		}
	}
}
// sh_onemate_theme_3_Counter end //

// sh_onemate_theme_2_service start //
.sh_onemate_theme_2_service{
	padding:50px 0px; width:90%; margin:0px auto; border-radius:20px; background: #262433; color:#fff; margin-bottom:50px;margin-top: 100px;
	.sh_sub_heading{
		opacity: 0.7;margin-bottom: 24px;font-size: 12px;font-weight: 600;letter-spacing: 0.12em;text-transform: uppercase;color: #fff;
	}
	.sh_heading{
		font-size: 40px;text-transform: capitalize;font-weight: 600;width: 65%;color: #fff;margin-bottom: 50px;line-height: 135.5%;
		@include media-breakpoint-down(xl){
			width:100%;font-size:36px;
		}
		@include media-breakpoint-down(md){
			font-size:32px;width:100%;
		}
	}
	.sh_service_slider{
		margin-top:50px; overflow: hidden;
		.sh_service_box{
			height:400px; width:100%; border-radius:10px;overflow:hidden; position: relative;
			.sh_services_image{
				height:400px;width:100%; border-radius:10px;overflow:hidden;
				img{
					height:100%; width:100%; border-radius:10px;object-fit: cover;
				}
			}
			.sh_overlay{
				position: absolute; top:0; left:0; height:100%; width:100%;background:rgba(0,0,0,0.3);
				.sh_overlay_top{
					position: absolute; left:15px; top:15px;font-size:12px; color:black; background:o-color(o-color-2); padding:8px 10px; border-radius:20px;
				}
				.sh_overlay_bottom{
					position: absolute; bottom:18px; left:5%; width:90%; padding:30px 20px; background:#fff; border-radius:10px;
					@include media-breakpoint-down(lg){
						padding:25px 10px;
					}
					.sh_desc_title{
						font-size: 20px;font-weight: 700;letter-spacing: -0.02em; color:o-color(o-color-3);display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;margin-bottom: 0px;
						@include media-breakpoint-down(lg){
							font-size:17px;
						}
					}
					.sh_text{
						font-size:14px; transition:0.4s all ease-in-out;color:#000; transform: translateY(5px); height:0; opacity:0;overflow: hidden;line-height:30px;
					}
					.sh_btn{
						margin-top:15px;background: #fff;position: relative;z-index: 1;
						a{
							text-decoration:none; font-size:16px; color:#000; position: relative;
							@include media-breakpoint-down(lg){
								font-size:14px;
							}
							span{
								padding-left: 5px; transition:0.3s all ease-in-out;
							}
							&:hover{
								span{
									padding-left: 10px;
								}
							}
							&::after{
								height:0; width:0; position: absolute; left:0; bottom:-5px; border-bottom:2px solid o-color(o-color-1); content:''; transition:0.3s all ease-in-out;
							}
							&:hover{
							   &::after{
								width:75%;
							   }
							}
						}
						
					}
				}
			}
			&:hover{
				.sh_overlay{
					.sh_overlay_bottom{
						.sh_text{
							opacity:1; height:100px;
						}
					}

				}
			}
		}
		.sh_service_box.sh_disable_hover_cls{
			.sh_overlay{
				display:none;
			}
		}
	}
	.owl-carousel .owl-nav.disabled{
		display: none !important;
	}
}

// sh_onemate_theme_2_service end //

// sh_onemate_theme_2_pricing start //
.sh_onemate_theme_2_pricing{
	position: relative;padding:50px 0px; width:90%; margin:0px auto; border-radius:20px; background:#E4E7F4; margin-bottom:0px;margin-top: 100px;
	@include media-breakpoint-down(md){
		padding:50px 0px 0px;
	}
	.sh_sub_title{
		opacity: 0.7;margin-bottom: 24px;font-size: 12px;font-weight:600;letter-spacing: 0.12em;text-transform: uppercase;color: #000;
	} 
	.sh_heading{
		font-size: 40px;text-transform: capitalize;font-weight: 600;width: 60%;color: #000;margin-bottom: 50px;line-height: 135.5%;
		@include media-breakpoint-down(xl){
			width:100%;font-size:36px;
		}
		@include media-breakpoint-down(md){
			font-size:32px;width:100%;
		}	
	}
	.sh_pricing_box{
		background:#fff;padding:60px 20px 60px;box-shadow: 12px 12px 0px 0px rgba($color:o-color(o-color-2), $alpha: 0.65);transition:  .3s,border .3s,border-radius .3s,box-shadow .3s; position: relative; border-radius:16px; margin-bottom:30px;
		@include media-breakpoint-down(xxl){
			box-shadow: 5px 5px 0px 0px rgba($color:o-color(o-color-2), $alpha: 0.65);
		}
		.sh_pricing_heading{
			font-size:35px; color:#000; font-weight:600; text-align: center;margin-bottom:20px;
			@include media-breakpoint-down(xxl){
				font-size:29px;
			}
		}
		.sh_pricing_subtitle{
			font-size:18px; color:#000; font-weight:600; text-align: center;margin-bottom:20px; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;
		}
		.sh_price{
			font-size:35px; color:o-color(o-color-1); font-weight:600; text-align: center; padding-bottom:20px; border-bottom:1px solid #ddd8d8;
			span{
				font-size:16px; color:#000; font-weight:400; padding-left:5px;
			}
		}
		.sh_pricing_text{
			padding:20px; text-align: center; font-size:16px; color:#000; border-bottom:1px solid #ddd8d8;
		}
		.sh_btn{
			margin-top:50px; text-align: center;
			a{
				font-size:16px; color:#000; padding-bottom:10px; border-bottom:1px solid #ddd8d8;

			}
		}
	}
}
// sh_onemate_theme_2_pricing end //


// sh_onemate_theme_2_marquee start //
.sh_onemate_theme_2_marquee{
	padding:100px 0px; position: relative; overflow: hidden;
	@include media-breakpoint-down(lg){
		padding:80px 0px;
		}
	@include media-breakpoint-down(md){
		padding:50px 0px;
	}
	.sh_left_side_marquee{
		display: flex;overflow:hidden;white-space: nowrap;
		
		.sh_marquee_group{
			display: flex;animation: sh_left 85s infinite linear;
			&:hover{
				-moz-animation-play-state: paused;-webkit-animation-play-state: paused;animation-play-state: paused;
			}
			
			.sh_marquee_text{
				padding: 5px 20px 5px 20px;border-radius: 40px 40px 40px 40px;background-color: #E4E7F4; display:flex; align-items: center; justify-content: space-between; margin:0px 20px;
				.sh_icon{
					background-color: #FFFFFF; color:#222;font-size: 10px;border-radius: 50px;margin-right: 8px;height: 25px;width: 25px;text-align: center;line-height: 25px;transition:0.3s all ease-in-out;
					
				}
				.sh_text{
					transition: background-color 0.3s, color 0.3s; font-size:16px; color:#181925;line-height: 187.5%;
				}
				&:hover{
						background:o-color(o-color-1);
						.sh_icon{
							background-color: #211D314D;color:#fff;
						}
						.sh_text{
							color: #fff;
						}
					
				}
			}
			
		}
	}
	@keyframes sh_left {
		0% {
			transform: translateX(0);
		}
		
		100% {
			transform: translateX(-100%);
		}
		
	}
	.sh_right_side_marquee{
		display: flex;overflow: hidden;white-space: nowrap; margin-top:40px; flex-direction: row-reverse;
		.sh_marquee_group{
			display: flex;animation: sh_right 85s infinite linear;
			&:hover{
				-moz-animation-play-state: paused;-webkit-animation-play-state: paused;animation-play-state: paused;
			}
			.sh_marquee_text{
				padding: 5px 20px 5px 20px;border-radius: 40px 40px 40px 40px;background-color: #E4E7F4; display:flex; align-items: center; justify-content: space-between; margin:0px 20px; transition:0.3s all ease-in-out;
				.sh_icon{
					background-color: #FFFFFF; color:#222;font-size: 10px;border-radius: 50px;margin-right: 8px; transition:0.3s all ease-in-out;height: 25px;width: 25px;text-align: center;line-height: 25px;
				}
					.sh_text{
						transition: background-color 0.3s, color 0.3s; font-size:16px; color:#181925; transition:0.3s all ease-in-out;line-height: 187.5%;
					}
					&:hover{
						background:o-color(o-color-1);
						.sh_icon{
							background-color: #211D314D;color:#fff;
						}
						.sh_text{
							color: #fff;
						}
				}

			}
			
		}
	}
	@keyframes sh_right {
		0% {
			transform: translateX(0);
		}
		
		100% {
			transform: translateX(100%);
		}
		
	}
}

// sh_onemate_theme_2_marquee end //


.sh_onemate_theme_2_testimonial{
	padding: 50px 0px;width: 90%;margin: 0px auto;border-radius: 20px;background:#262433;color: #fff;margin-bottom: 50px;
	.sh_sub_title{
		opacity: 0.7;margin-bottom: 24px;font-size: 12px;font-weight: 600;letter-spacing: 0.12em;text-transform: uppercase;color: #fff;
	} 
	.sh_heading_text{
		font-size: 40px;text-transform: capitalize;font-weight: 600;width: 63%;color: #fff;margin-bottom: 25px;line-height: 135.5%;
		@include media-breakpoint-down(xl){
			width:100%;font-size:36px;
		}
		@include media-breakpoint-down(md){
			font-size:32px;width:100%;
		}	
	}
	.testimonial-slider{
			margin-top: 45px; padding:0px 30px; overflow: hidden;margin-bottom:45px;
			@include media-breakpoint-down(md){
				padding:0px 20px;
			}
		.col-12{ 
			padding:0px !important;
				.sh_testimonial_box{
						width:100%; border-radius:20px; background:o-color(o-color-5); padding:85px 100px 85px 50px;border-top-right-radius:0;border-bottom-right-radius:0;
						@include media-breakpoint-down(lg){
							border-radius:20px;
							padding: 70px 50px 70px 40px 
						}
						@include media-breakpoint-down(md){
							padding:45px 30px 45px 30px; 
						}
						.sh_testimonial_content{
							color:#fff; font-size:16px; margin-bottom:50px; line-height: 1.5;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;line-height: 187.5%;
						}
						.sh_testimonial_desc{
							display: flex; justify-content: flex-start; align-items: center;
							.sh_test_img{
								height:80px; width:80px; border-radius:80px;
								img{
									height:100%; width:100%; border-radius:100%;object-fit: cover;
								}
								@include media-breakpoint-down(md){
									height:50px; width:50px;
								}
							}
							.sh_test_name{
								padding-left:15px;
								.sh_name{
									font-size:18px; color:#fff; font-weight:700;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;
								}
								.sh_position{
									font-size:16px; color:#fff; font-weight:400;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;
								}
							}
						}
					}
					.sh_testimonial_image{
						width: 100%;height: 450px;overflow: hidden;position: absolute;top: 10px;right: 55px;bottom: -90px;width: 35.65%;border-radius: 20px;
						@include media-breakpoint-between(lg,xl){
							top: 25px;right: 15px; 
						}
						@include media-breakpoint-between(md,lg){
							top: 15px;right: 15px;
						}
						@include media-breakpoint-down(md){
							top: -23px;right: 0px; 
						}
						img{
							height:100%; width:100%;border-top-right-radius: 20px;border-bottom-right-radius: 20px; object-fit: cover;
							@include media-breakpoint-down(lg){
								border-radius:0px 0px 20px 20px;
							}
							
						}
						@include media-breakpoint-down(md){
							height:250px;position: relative;width: 100%;
						}
					} 
			}
		}
		.js_cls_testimonial_onemate_2{
			.owl-nav{
				display: block;margin-top: 10px;font-size:55px;position: absolute;bottom: 40px;left: 54%;color: #fff;
				@include media-breakpoint-down(lg){
					bottom: 50px;left: 53%;
				}
				
				@include media-breakpoint-down(md){
					top:auto;left: 42%;font-size: 60px; bottom:-30px;
				}
				&:hover{
					background: transparent !important; 
				}
				.owl-prev{
					&:hover{
						background:transparent;
					}
				}
				.owl-next{
					&:hover{
						background:transparent;
					}
				}
			}
			.owl-dots{
				display:none;
			}
		}
	}
// testimonial end //


// sh_blog_snippet start //
#blog26{
	position: relative;padding: 50px 0px;width: 90%;margin: 0px auto;border-radius: 20px;background: #E4E7F4;margin-bottom: 0px;margin-top: 100px;
	.sh_sub_title{
		opacity: 0.7;margin-bottom: 24px;font-size: 12px;font-weight: 600;letter-spacing: 0.12em;text-transform: uppercase;color: #000;
	} 
	.sh_heading_box{
		font-size: 40px;text-transform: capitalize;font-weight: 600;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;width: 60%;color: #000;margin-bottom: 50px;line-height: 135.5%;
		@include media-breakpoint-down(xl){
			width:75%;font-size:33px;
		}
		@include media-breakpoint-down(md){
			font-size:32px;width:100%; margin-bottom: 0px;
		}	
	}
	.js_cls_corpomate_blog_slider_nav_tabs_ul_8{
		position: absolute;top: 30px;right: 20px;
		@include media-breakpoint-down(xl){
			top:50px; right:0;
		}
		@include media-breakpoint-down(md){
			top: 10px;right: 0;position: relative;justify-content: flex-start !important;
		}
		.nav-item{
			display: flex;align-items: center;margin:0px 5px;
			a.js_cls_tab_a{
				 background:o-color(o-color-3); color:#fff !important;font-size: 16px !important;font-weight: 600 !important;padding: 5px 30px !important;border-radius: 10px;width:120px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding: 15px 20px !important; text-align: center;
				&:hover{
					background-color: o-color(o-color-1) !important;border-radius: 10px;overflow: visible;
				}
				@include media-breakpoint-down(lg){
					width: 100%;
				}
			}
			a.js_cls_tab_a.active{
				background-color: o-color(o-color-1) !important;color:#fff !important;padding: 15px 20px !important;border-radius: 10px;text-align: center;border: 0px;
			}
			
		}
	}
	.js_cls_corpomate_blog_slider_tab_content_8{
		.js_cls_tab_pane_content{
			.owl-item{
				.item{
					margin: 10px;
				}
			}
			.sh_single_blog{
				margin-bottom: 25px;transition: .5s;
				&:hover{
					transform: translateY(-5px);
				}
				@include media-breakpoint-down(md) {
					flex-direction:column; margin-bottom:20px;
					
				}
				.sh_thumb{
					
					@include media-breakpoint-down(md) {
						width:100%;
					}
					a{
						transition:0.3s all ease-in-out;
						.o_blog_cover_container{
							min-height:auto !important;
							
						}
					}
					
					
				}
				.sh_blog_details{
					width: 100%;position: relative;background-color: #fff;box-shadow: 0px 4px 20px rgba(27, 21, 37, 0.08);border-radius: 10px;padding: 35px 25px;max-width: 380px;margin: -55px auto 0;
					@include media-breakpoint-down(md) {
						width:100%; padding:10px 0px 20px 10px;
					}
					.date{
						background-color: o-color(o-color-2);display: inline-block;padding: 10px 15px;text-align: center;border-radius: 5px;position: absolute;right: 25px;top: -20px;
						p{
						 text-transform: uppercase;margin-bottom: 0;display: block;color: #1B1925;font-size: 12.5px;font-weight: bold;line-height: 1;
						}
					}
					.title{
						display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;font-size: 22px;font-weight: 600;height: 52px;
					}
					.content{
						display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden; font-size:14px;height: 50px;
					}
					.sh_btn{
						a{
							color:o-color(o-color-3); position: relative; font-weight:600;
							&::after{
								height:0; width:0; position: absolute; left:0; bottom:0; border-bottom:2px solid o-color(o-color-1); content:''; transition:0.3s all ease-in-out;
							}
							.fa{
								padding-left:5px;
							}
							&:hover{
								&:after{
									width:85%;
								}
							}
						}
					}
				}
			}
		}
		.owl-carousel{
			.owl-nav.disabled{
				display:none !important;
			}
			.owl-dots{
				display:none !important;
			}
		}
	}
}
// sh_blog_snippet end //



// sh_onemate_theme_2_contact start//
.sh_onemate_theme_2_contact{
	position: relative;padding:50px 0px;width:90%; margin:0px auto; border-radius:20px; background:#262433;margin-top:100px;
	.sh_sub_title{
		opacity: 0.7;margin-bottom: 24px;font-size: 12px;font-weight: 600;letter-spacing: 0.12em;text-transform: uppercase;color: #fff;
	} 
	.sh_heading_box{
		font-size: 40px;text-transform: capitalize;font-weight: 600;width:60%;color: #fff;margin-bottom: 20px;
		@include media-breakpoint-down(xl){
			width:100%;font-size:36px;
		}
		@include media-breakpoint-down(md){
			font-size:32px;width:100%; margin-bottom: 0px;
		}	
	}
	.sh_text{
		font-size:16px; color:#fff; margin-bottom:30px;  border-bottom:1px solid #e8e8e8; padding-bottom:20px; width:90%; display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;  overflow: hidden;line-height: 187.5%;
		 @include media-breakpoint-down(md){
			padding-bottom:0; border-bottom: 0;
		 }
	}
	.sh_contact_form_text_group{
		@include media-breakpoint-between(xl,md){
			margin-bottom:25px;
		}
		@include media-breakpoint-down(md){
			margin-top:10px;
		}
		.sh_form_text_box{
			display:flex; align-items: center;justify-content:flex-start;margin-bottom:20px;
			.sh_icon{
				span{
					height: 30px;width: 30px;border-radius: 100%;background:#fff;display: flex;justify-content: center;align-items: center; font-size:16px;
				}
			}
			.sh_content{
				font-size:16px;color:#fff; line-height:1.5; padding-left:20px; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  overflow: hidden;
			}
		}
		.sh_contact_appointment_image{
			background-image: url("/sh_corpomate_theme/static/src/images/onemate_2/home/contact/sh_Contact.jpg");background-position: center center;background-size: cover;background-repeat: no-repeat;height: 500px!important;width: 100%;border-radius: 20px;position: relative;
			@include media-breakpoint-down(lg){
				margin-bottom:25px;
			}
			.video-btn{
				z-index: 1;width: 70px;height: 70px;font-size: 25px;position: absolute;left: 0;right: 0;margin: auto;top: 50%;transform: translateY(-50%) !important;text-align: center;border-radius: 50%;display: inline-block;color: #ffffff;background-color: o-color(o-color-1);transition: .5s;
				span{
					left: 0;right: 0;top: 50%;position: absolute;transform: translateY(-50%) !important;margin: auto;
				}
				&::after,&::before {
					content: "";display: block;position: absolute;top: 0;right: 0;z-index: -1;bottom: 0;left: 0;border-radius: 50%;border: 1px solid o-color(o-color-1);
				}
				&::before {
					animation: ripple 2s linear infinite;
				}
				&::after{
					animation: ripple 2s linear 1s infinite;
				}
			}
			@keyframes ripple {
				0% {
				  transform: scale(1);
				}
				75% {
				  transform: scale(1.75);opacity: 1;
				}
				100% {
				  transform: scale(2);opacity: 0;
				}
			  }
		}
	}
	.sh_contact_form_box{
		padding: 40px 35px 55px;background-color:#fff;border-radius:20px;box-shadow: 10px 7px 0 0 #000;
		@include media-breakpoint-down(md){
			padding:40px 35px 40px;margin-bottom: 25px;
		}
		.sh_title{
			font-size: 30px;color: #000;font-weight: 600;text-align: left;margin-bottom: 20px;
			@include media-breakpoint-down(xl){
				font-size:29px;
			}
			@include media-breakpoint-down(md){
				font-size:25px;
			}
		}
		.sh_divider{
			width: 100%;position: relative;background-color:#E4E7F4;border-radius: 7px;overflow: hidden; height:5px; margin:0px 0px 40px;
			&:after{
				top:0; left:0; width:30%; content:'0'; height:100%; background:o-color(o-color-1);position: absolute;
			}
		}
	.s_website_form{
		#contactus_form{
			.s_website_form_input{
				border:1px solid #e2e2e2;border-radius: 10px;transition: 300ms;padding: 15px 22px; margin-bottom:20px;background:#fff;
				 &:hover{
					box-shadow:none; outline:0; border:1px solid o-color(o-color-1);
				 }
				 &:focus{
					box-shadow:none; outline:0; border:1px solid o-color(o-color-1);
				 }
				 &:focus-within{
					box-shadow:none; outline:0; border:1px solid o-color(o-color-1);
				 }
			}
			.sh_btn{
				width:100%; padding:15px 22px; border-radius:10px;transition:0.3s all ease-in-out; font-size:16px;
				&:hover{
					background:#222;
				}
			}
		}  
	}
}
}
// sh_onemate_theme_2_contact end //