/*------------------
	Start Snippet 1
-------------------*/
.o_rtl .owl-carousel.owl-rtl {direction: ltr !important;}
#sh_blog_snippet_1 {
	padding: 50px 0 45px 0;
}
#sh_blog_snippet_1 .heading h3 {
	font-weight: bold;
}
#sh_blog_snippet_1 .nav {
	justify-content: center;
}
#sh_blog_snippet_1 .nav-tabs .nav-link.active,
#sh_blog_snippet_1 .nav-tabs .nav-item.show .nav-link {
	background: #fff;
	box-shadow: 0px 5px 3px -2px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.14),
		0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	color: #212121;
	font-weight: 600;
	border-radius: 5px;
	padding: 8px 18px;
}
#sh_blog_snippet_1 .nav-tabs .nav-link {
	line-height: 15px;
	font-weight: 600;
	text-transform: capitalize;
}
#sh_blog_snippet_1 .nav-tabs {
	border-bottom: none;
}
#sh_blog_snippet_1 .heading {
	padding-bottom: 16px;
}
#sh_blog_snippet_1 .box .content {
	padding: 15px 15px;
	position: relative;
}
#sh_blog_snippet_1 .box .content p {
	color: #a7a7a7;
	font-size: 15px;
}
#sh_blog_snippet_1 .box {
	margin: 25px 10px 10px 10px;
	border-radius: 10px;
	border: none;
	overflow: hidden;
}
#sh_blog_snippet_1 .box .img img {
	width: 100%;
	object-fit: cover;
}
#sh_blog_snippet_1 .img-container img {
	max-width: 100%;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	transition: 0.5s ease;
}
#sh_blog_snippet_1 .box {
	border-radius: 10px;
	transition-property: transform;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}
#sh_blog_snippet_1 .img-container {
	position: relative;
	overflow: hidden;
	width: auto;
}
#sh_blog_snippet_1 .content .card-title {
	padding-top: 8px;
	font-weight: bold;
	color: #212121;
	font-size: 17px;
	margin-bottom: 5px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-width: 100%;
}
#sh_blog_snippet_1 .nav-item {
	margin-right: 5px;
	margin-left: 5px;
}
#sh_blog_snippet_1 .content .card-title a {
	text-decoration: none;
}
#sh_blog_snippet_1 .content .card-text {
	color: #a7a7a7;
	font-size: 15px;
}
#sh_blog_snippet_1 .content .card-text a {
	color: #9e9e9e;
	font-size: 16px;
	margin-bottom: 15px;
	text-decoration: none !important;
	font-weight: 600;
}
#sh_blog_snippet_1 .content .cart-icon {
	position: absolute;
	top: -19px;
	right: 21px;
	border-radius: 5px;
}
#sh_blog_snippet_1 .content .cart-icon p {
	margin-bottom: 0;
	color: #fff;
	transition: all 0.4s;
	background: o-color(o-color-1);
	border-radius: 5px;
	padding: 8px 25px;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}
#sh_blog_snippet_1 .content .cart-icon p:hover {
	transform: translateY(-5px);
	cursor: pointer;
}
#sh_blog_snippet_1 .owl-carousel .owl-dots .owl-dot.active span,
#sh_blog_snippet_1 .owl-carousel .owl-dots .owl-dot:hover span {
	background: o-color("o-color-1");
}
#sh_blog_snippet_1 .owl-nav .owl-next span,
#sh_blog_snippet_1 .owl-nav .owl-prev span {
	display: none;
}
#sh_blog_snippet_1 .owl-nav .owl-next:before {
	content: "\f054";
	position: absolute;
	font-family: FontAwesome;
	color: #fff;
	top: 50%;
	transform: translate(0%, -50%);
	background: #fff;
	padding: 8px 14px 8px 15px;
	border-radius: 50%;
	right: -12px;
	border: 1px solid o-color("o-color-1");
	color: o-color("o-color-1");
}
#sh_blog_snippet_1 .owl-nav .owl-prev:before {
	content: "\f053";
	position: absolute;
	font-family: FontAwesome;
	color: #fff;
	top: 50%;
	transform: translate(0%, -50%);
	background: #fff;
	padding: 8px 15px 8px 14px;
	border-radius: 50%;
	left: -12px;
	border: 1px solid o-color("o-color-1");
	color: o-color("o-color-1");
}

@media only screen and (max-width: 414px) {
	#sh_blog_snippet_1 .owl-nav .owl-next:before,
	#sh_blog_snippet_1 .owl-nav .owl-prev:before {
		display: none;
	}
	#sh_blog_snippet_1 .box {
		margin: 25px 5px 5px 5px;
	}
}

/*------------------
	End Snippet 1
-------------------*/


/*-----------------------------
	Theme 1 BLOG start
------------------------------*/
#sh_corpomate_theme_accounting_11{padding:50px 0px 50px 0; position: relative;} 
#sh_corpomate_theme_accounting_11 .main-row{margin-top: 50px;}
#sh_corpomate_theme_accounting_11 .main-row .sh_our_service h5{font-size: 18px; color: o-color(o-color-1); margin-bottom: 10px; font-weight: 600; padding-left: 80px; text-align: left;}
#sh_corpomate_theme_accounting_11 .main-row .sh_our_service h2{font-size: 45px; color: #222; position: relative; font-weight: 600; padding-left: 80px; text-align: left;}
#sh_corpomate_theme_accounting_11 .main-row .sh_our_service h2 .sh_shape{position: absolute; top: 0; left: 0; height: 80px; width: 80px;}
#sh_corpomate_theme_accounting_11 .main-row .sh_our_service h2 .sh_shape img{height: 60px; width: 60px;}
#sh_corpomate_theme_accounting_11 .main-row .sh_service_text{margin-top: 40px; display: -webkit-box;max-width: 100%;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden; text-align: left;line-height: 1.7;color: #5f6368;font-size: 18px;}
#sh_corpomate_theme_accounting_11   .o_blog_cover_component.o_blog_cover_image{height:400px !important; width:95% !important;}
#sh_corpomate_theme_accounting_11 .nav-tabs .nav-link{border: 0;border-radius: 0;background: #fff;margin: 15px 5px;font-weight: 600;letter-spacing: 1px;color: #414141;}
#sh_corpomate_theme_accounting_11 .card{border: transparent;}
#sh_corpomate_theme_accounting_11 .card-header{background: #fff; display: flex; justify-content: center; border-bottom: transparent; margin-bottom:30px;}
#sh_corpomate_theme_accounting_11 .nav-tabs .nav-link.active, 
#sh_corpomate_theme_accounting_11 .nav-tabs .nav-item.show .nav-link{background:o-color('o-color-1');color: #fff;border-radius:0px;}
#sh_corpomate_theme_accounting_11  .sh_des{padding:20px 30px;} 
#sh_corpomate_theme_accounting_11  .sh_des .sh_date{font-size: 18px; color: #5f6368; font-weight: 600;}
#sh_corpomate_theme_accounting_11  .sh_des .sh_date span{margin-right: 30px; font-size: 17px; color: o-color(o-color-1); font-weight: 600;} 
#sh_corpomate_theme_accounting_11  .sh_des  p:last-child{font-size: 22px; font-weight:600; margin-top:20px; padding-right: 50px;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}  
#sh_corpomate_theme_accounting_11 .sh_content{display: flex;align-items: flex-start; margin:50px 0px;}
#sh_corpomate_theme_accounting_11 .sh_des{padding: 20px 30px;  margin-top: 0px;}
#sh_corpomate_theme_accounting_11 .sh_des p{padding-right:0px;}
#sh_corpomate_theme_accounting_11 .sh_box .sh_single_blog{display: flex;}
#sh_corpomate_theme_accounting_11 .o_half_screen_height, #sh_corpomate_theme_accounting_11 .cover_mid{    min-height: 45vh !important;}
#sh_corpomate_theme_accounting_11 .o_blog_cover_component.o_blog_cover_image{height: 200px !important; width: 180px !important;background-size:cover;}
#sh_corpomate_theme_accounting_11 .owl-item .item{margin-right: 15px;}
#sh_corpomate_theme_accounting_11 .sh_box .sh_single_blog_left .o_blog_cover_image{width: 100%!important;background-size: cover;height: 400px!important;}
// @media screen and (min-width:821px) and (max-width:991px){
//     #sh_corpomate_theme_accounting_11 .o_half_screen_height{min-height:55vh !important;}
// }


@media screen and (min-width:992px) and (max-width:1199px){
	#sh_corpomate_theme_accounting_11 .sh_des p:last-child{line-height:2.1rem;}
}

@media (max-width:820px) {
#sh_corpomate_theme_accounting_11 .sh_box .sh_content  .o_blog_cover_container.o_record_has_cover.o_half_screen_height {min-height: 0vh !important;}   
#sh_corpomate_theme_accounting_11 .sh_box:nth-child(1){margin-bottom: 40px;}
#sh_corpomate_theme_accounting_11 .sh_des{margin-top: 0px;}
#sh_corpomate_theme_accounting_11 .sh_box{margin-bottom: 40px;}
#sh_corpomate_theme_accounting_11 .sh_content{align-items: center !important;}

}
@media (max-width:567px) {
#sh_corpomate_theme_accounting_11{padding:20px 0px; padding-bottom:60px;}
#sh_corpomate_theme_accounting_11 .card-header{margin-bottom: 0px;}
#sh_corpomate_theme_accounting_11 .main-row .sh_our_service h2{font-size: 27px;}
#sh_corpomate_theme_accounting_11 .main-row .sh_our_service h2 .sh_shape img{height:50px; width:50px;}
#sh_corpomate_theme_accounting_11 .main-row .sh_service_text{margin-bottom: 20px;}
//#sh_corpomate_theme_accounting_11  .o_blog_cover_component.o_blog_cover_image{height:300px !important; width: 100% !important;}
#sh_corpomate_theme_accounting_11 .sh_des p:last-child{padding-right: 0px;}
#sh_corpomate_theme_accounting_11 .sh_content{flex-direction: column;}
#sh_corpomate_theme_accounting_11 .sh_content .sh_img{width:100%;}
#sh_corpomate_theme_accounting_11 .o_blog_cover_component.o_blog_cover_image{height:300px !important; width:100% !important;}
#sh_corpomate_theme_accounting_11 .sh_des p:last-child{font-size: 25px; }
#sh_corpomate_theme_accounting_11 .card-body{padding:0px;}
// #sh_corpomate_theme_accounting_11 .o_blog_cover_component.o_blog_cover_image{width: 100% !important;}

}
/*------------------------
Theme 1 BLOG end
------------------------*/







/*------------------------
theme 2 blog-2 start
--------------------------*/
#sh_corpomate_theme_crypto_8{width: 100%; padding: 0px 0px 100px 0px;  position: relative; margin-bottom: 80px;}
#sh_corpomate_theme_crypto_8 .sub-div .img{position:absolute; top:30%; left:30%; height:350px;width:350px;}
#sh_corpomate_theme_crypto_8 .sub-div .img-1{position: absolute; top:45%; left:39%; margin: 0px auto; height: 150px; width: 150px;}
#sh_corpomate_theme_crypto_8 .sub-div-1 img{position: absolute; top:12%; left:49%; margin: 0px auto; height: 80px; width: 80px;}
#sh_corpomate_theme_crypto_8 .card{border: 0;background: transparent !important;}
#sh_corpomate_theme_crypto_8 .card .card-header{background: transparent;border: 0;}
#sh_corpomate_theme_crypto_8 .heading p{color: #777;font-weight: 600;font-size: 16px;letter-spacing: 1px;}
#sh_corpomate_theme_crypto_8 h1 {padding:30px 0px;position: relative;font-weight: 700;color:o-color(o-color-1);font-size: 40px;-webkit-text-stroke: 1px #ccc;-moz-text-stroke: 1px #ccc;color: transparent;font-size: 100px;top: 0;display: flex;align-items: center;justify-content: center;}
#sh_corpomate_theme_crypto_8 h1:before{left: 50%;transform: translate(-50%);}
#sh_corpomate_theme_crypto_8 h1 span{color: transparent;background-color:o-color(o-color-2);-webkit-background-clip: text;position: absolute;font-size: 40px;-webkit-text-stroke: 0px transparent;top:70px}
#sh_corpomate_theme_crypto_8 .card .card-header ul{justify-content: center; margin-bottom: 30px; } 
#sh_corpomate_theme_crypto_8 .nav-tabs .nav-link{border: 0;border-radius: 30px;background: transparent;margin:  0px;font-weight: 600;letter-spacing: 1px;color: #414141;padding: 8px 30px;}
#sh_corpomate_theme_crypto_8 .nav-tabs .nav-link.active, 
#sh_corpomate_theme_crypto_8 .nav-tabs .nav-item.show .nav-link{background: linear-gradient(to right, o-color(o-color-1), o-color(o-color-2)); color: #fff;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_img img{width: 100%;height: 225px;object-fit: cover;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des{padding: 5px;background: #fff; margin-top:0px;}
#sh_corpomate_theme_crypto_8 .sh_content{ box-shadow: 0 10px 40px -10px rgba(0, 64, 128,0.20);display: flex;align-items: center;background: #fff;border-radius: 10px; position: relative; overflow: hidden;  margin-bottom:30px;}
#sh_corpomate_theme_crypto_8 .sh_content:before{top:0; left:0; position: absolute; content: ''; height:100%; width:5px; background:linear-gradient(to bottom, o-color(o-color-1),o-color(o-color-2));}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des .sh_btn{margin-top:10px;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des .sh_btn a{color:#777;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des .sh_btn a:hover{color: o-color(o-color-2);}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des .sh_btn a span{margin-left:5px;}
#sh_corpomate_theme_crypto_8 .sh_box{padding:20px 50px; position: relative;}
#sh_corpomate_theme_crypto_8 .sh_box:before{content:'01'; position: absolute; top:40%; left: -3%;font-size: 35px;color: #777;opacity: 0.2;font-weight: 600;}
#sh_corpomate_theme_crypto_8 .sh_box:before:nth-child(1){content:'02';}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des .sh_date{font-size: 16px; color:#777;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des h4 a{color: #414141;font-size: 20px;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des p{color: #777;margin: 0;font-size: 18px; font-weight: 600; color:o-color(o-color-1);padding-top: 10px;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des p span{color: o-color('o-color-1');padding-right: 5px;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_img{padding: 15px;background: #fff;border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
#sh_corpomate_theme_crypto_8 .nav-tabs .nav-item:first-child{border-top-left-radius: 30px;border-bottom-left-radius: 30px;}
#sh_corpomate_theme_crypto_8 .nav-tabs .nav-item:last-child{border-top-right-radius: 30px;border-bottom-right-radius: 30px;}
#sh_corpomate_theme_crypto_8 .nav-tabs .nav-item{background: #fff;padding: 5px;}
#sh_corpomate_theme_crypto_8 .card-body{background: transparent !important; height: 500px;}
#sh_corpomate_theme_crypto_8 .owl-nav{display: none;}
#sh_corpomate_theme_crypto_8 button.owl-prev{width: 30px;height: 30px;color: #fff;background: o-color('o-color-1');font-size: 23px;line-height: 0;border-radius: 50%;font-weight: 600;position: absolute;left: -25px;top: 50%;transform: translateY(-50%); display: none;}
#sh_corpomate_theme_crypto_8 button.owl-next{width: 30px;height: 30px;color: #fff;background: o-color('o-color-1');font-size: 23px;line-height: 0;border-radius: 50%;font-weight: 600;position: absolute;right: -25px;top: 50%;transform: translateY(-50%); display: none;}
#sh_corpomate_theme_crypto_8 .owl-dots{display: none;}
#sh_corpomate_theme_crypto_8 .o_blog_cover_component.o_blog_cover_image {border-radius: 10px; height: 150px !important;}
#sh_corpomate_theme_crypto_8 .o_half_screen_height{min-height: auto !important;}
#sh_corpomate_theme_crypto_8 .owl-item .item{margin-right: 15px;}

@media screen and (max-width:991px) {
#sh_corpomate_theme_crypto_8 .card-body{height: 760px;}
#sh_corpomate_theme_crypto_8{margin-bottom: 0px;}
}
@media screen and (max-width:991px){
    #sh_corpomate_theme_crypto_8 h1{font-size: 80px;}
    #sh_corpomate_theme_crypto_8 h1 span{font-size: 35px; top:60px;}
}
@media (max-width:768px) {
#sh_corpomate_theme_crypto_8 .o_blog_cover_component.o_blog_cover_image{width:280px !important; border-radius: 0px;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_img{padding: 0px; overflow: hidden;}
#sh_corpomate_theme_crypto_8 .sub-div .img-1{left: 44%; top:43%;} 
#sh_corpomate_theme_crypto_8 .sh_content{flex-direction: column;}
#sh_corpomate_theme_crypto_8 .sh_box{padding: 20px 15px;}
#sh_corpomate_theme_crypto_8 .sh_box:before{left:-4%; font-size: 30px;}
#sh_corpomate_theme_crypto_8 .card-body{height:800px;}
#sh_corpomate_theme_crypto_8 .sh_content{height: auto;padding: 20px; flex-direction: row;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des{padding: 20px 10px;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des p{display: -webkit-box;max-width: 100%;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}
}
@media (max-width: 576px){
#sh_corpomate_theme_crypto_8 .sh_content{display: block;}
#sh_corpomate_theme_crypto_8 .sh_box:before{display: none;}
#sh_corpomate_theme_crypto_8 .owl-nav{display: none;}
#sh_corpomate_theme_crypto_8 .o_blog_cover_component.o_blog_cover_image{width: 100% !important;height: 150px !important; border-radius:10px;}
#sh_corpomate_theme_crypto_8 .sub-div .img{display: none;}
#sh_corpomate_theme_crypto_8 .sub-div .img-1{display: none;}
#sh_corpomate_theme_crypto_8 .sub-div-1 img{display: none;}
#sh_corpomate_theme_crypto_8 .item{padding: 20px 10px;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des{padding: 20px 20px;}
#sh_corpomate_theme_crypto_8 .sh_content .sh_des p{font-size: 17px; }
#sh_corpomate_theme_crypto_8 .item:before{display: none;}
#sh_corpomate_theme_crypto_8 h1{font-size: 50px;}
#sh_corpomate_theme_crypto_8 h1 span{font-size:30px; top:50px;}
#sh_corpomate_theme_crypto_8 h1[data-watermark]:before{font-size: 80px; top:8px;}
#sh_corpomate_theme_crypto_8 .card-body{height:auto; padding: 0px;}
#sh_corpomate_theme_crypto_8 .o_blog_cover_component.o_blog_cover_image{width: 100% !important;}
}

/*------------------------
Theme 2 BLOG end
------------------------*/







/*------------------------
Theme 3 BLOG start
------------------------*/

#sh_corpomate_theme_industry_10{padding: 100px 0px 80px;}
#sh_corpomate_theme_industry_10 .sh_title h6{color: o-color('o-color-1');margin-bottom: 10px;border-left: 5px solid o-color('o-color-1');padding-left: 15px;font-size: 25px;font-weight: 600;}
// #sh_corpomate_theme_industry_10 .sh_title h2{font-weight: 600;margin-bottom: 50px;font-size: 52px;color:o-color(o-color-2);}
#sh_corpomate_theme_industry_10 .sh_content{position: relative;transition: all .4s;}
#sh_corpomate_theme_industry_10 .sh_content .sh_text{position: absolute;bottom: 20px;left: 0px;padding: 20px;}
#sh_corpomate_theme_industry_10 .sh_content .sh_text span{color: #fff;font-size: 16px;}
#sh_corpomate_theme_industry_10 .sh_content .sh_text h4{color: #fff;font-weight: 600;font-size: 20px;margin: 15px 0;}
#sh_corpomate_theme_industry_10 .sh_content .sh_text p{color: #fff;margin: 0;}
#sh_corpomate_theme_industry_10 .sh_content img{width: 100%;transition: all .4s;}
#sh_corpomate_theme_industry_10 .sh_right_content{display: flex;align-items: center;background: #fff;margin-bottom: 40px;transition: all .4s;border-radius: 5px;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.15);}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_text{padding-left: 20px;}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_text span{color:o-color(o-color-1);margin-bottom: 0px;display: block;font-size: 16px;padding-left: 5px;}
// #sh_corpomate_theme_industry_10 .sh_right_content .sh_text h4{font-weight: 600;font-size: 20px;color:o-color(o-color-2);}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_text .sh_date{@include sh_content_sub_heading;}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_text p{margin: 0;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;color: #3a3a3a;font-size: 18px; margin:15px 0px; line-height: 25px;}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_img img {height: 189px; width: 189px;object-fit: cover;transition: all .4s;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#sh_corpomate_theme_industry_10 .sh_content:hover img{opacity: 0.8;}
#sh_corpomate_theme_industry_10 .sh_right_content:hover .sh_img img{opacity: 0.8;}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_img{position: relative;transition: all .4s;}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_img:after {content: '';position: absolute;top: 0;left: 0;width: 100%; height: 100%;background:o-color(o-color-2);border-top-left-radius: 5px;border-bottom-left-radius: 5px;opacity: 0;pointer-events: none;transition: all .4s;}
#sh_corpomate_theme_industry_10 .sh_right_content:hover .sh_img:after{opacity: .5;}
#sh_corpomate_theme_industry_10 .sh_title > .sh_icon{display: inline-block;line-height: 1;position: absolute;font-size: 50px;height: 60px;width: 60px;color: o-color('o-color-1');top: -20px;left: 30px;text-align: center;opacity: .2;}
#sh_corpomate_theme_industry_10 .card .card-header ul{justify-content: center;}
#sh_corpomate_theme_industry_10 .nav-tabs .nav-link{border: 0;border-radius: 0;background: #fff;margin: 15px 5px;font-weight: 600;letter-spacing: 1px;color: #414141;}
#sh_corpomate_theme_industry_10 .nav-tabs .nav-link.active, 
#sh_corpomate_theme_industry_10 .nav-tabs .nav-item.show .nav-link{background:o-color('o-color-1');color: #fff;border-radius:0px;}
#sh_corpomate_theme_industry_10 .sh_des.sh_text .sh_btn a{font-size: 18px;display: flex;align-items: center;color: o-color('o-color-1');}
#sh_corpomate_theme_industry_10 .sh_des.sh_text .sh_btn a:hover{color: o-color('o-color-2');}
#sh_corpomate_theme_industry_10 .sh_des.sh_text .sh_btn a:hover span{color: o-color('o-color-2');} 
#sh_corpomate_theme_industry_10 .owl-item .item{margin-right: 15px;}
@media (max-width: 991px){
#sh_corpomate_theme_industry_10 .sh_content{margin-bottom: 20px;}
}
@media (max-width: 768px){
#sh_corpomate_theme_industry_10 .sh_right_content .sh_text{padding-right: 20px;}
}
@media (max-width: 576px){
#sh_corpomate_theme_industry_10 .sh_right_content{padding: 0px;text-align: center;display: block;}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_text{padding-left: 0px;}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_img img{width: 100%;}
#sh_corpomate_theme_industry_10 .sh_right_content .sh_text{padding: 10px;}
#sh_corpomate_theme_industry_10 .sh_title h2{font-size: 22px;}
#sh_corpomate_theme_industry_10{padding: 50px 0px 20px;}
#sh_corpomate_theme_industry_10 .o_blog_cover_component.o_blog_cover_image{width: 100% !important;}
}
/*------------------------
theme  3 snnipet-10 end
------------------------*/



/*------------------------
Theme 4 BLOG start
------------------------*/

// ===== Snnipet-10 start ===== //
#sh_corpomate_theme_transport_10 { width:100%; padding:50px 0px  0px 0px; position: relative; background:#fff;margin-top: 50px; background: url(&quot;/sh_corpomate_theme/static/src/images/theme_3/images/sh_transport_import_35.jpeg&quot;) center center / cover fixed;}
#sh_corpomate_theme_transport_10:before{position: absolute; content: ''; top: 0; left:0; height:100%; width:100%;background: rgba(31, 31, 46, 0.9);}
#sh_corpomate_theme_transport_10 .main-content{width:100%; padding:0px;}
#sh_corpomate_theme_transport_10 .main-content h3{color:#fff; font-weight: bold;font-size: 1.7rem;line-height: 1.41;letter-spacing: -.02em;margin-top: 20px;}
#sh_corpomate_theme_transport_10 .main-content .sh_heading{vertical-align: middle;color: o-color('o-color-1');;text-align:left;text-transform:capitalize;left:5%;font-weight:600;font-size: 15px !important;position: relative;}
#sh_corpomate_theme_transport_10 .lorem-content {font-size:16px; line-height:28px; color:#fff; display: -webkit-box;max-width: 100%;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;}
#sh_corpomate_theme_transport_10 .main-content  .sh_heading:before {content: '';position: absolute;top: 10px;left:-4%;height: 3px; background: o-color('o-color-1');;width: 2.5%;}

#sh_corpomate_theme_transport_10 .our-blog-details{top:-20%; background:#fff; box-shadow:0 5px 83px rgba(40, 40, 40,0.12); border-radius: 10px; overflow: hidden; position:relative;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-sub-div{position: absolute; transition: 1s; bottom:-5%; right:-5%; z-index:0; opacity: 0.2; height:100px; width:100px;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-sub-div img{height:100%; width:100%; transition:1s; object-fit: cover;}
#sh_corpomate_theme_transport_10 .our-blog-details:hover .our-blog-details-sub-div img{transform: rotate(90deg); right:-5%; bottom: -5%;}
#sh_corpomate_theme_transport_10 .our-blog-details:hover .our-blog-details-sub-div{right:0%; bottom: 0%;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-img{width:100%; height:250px !important; border-radius:10px; position: relative;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-img img{width:100%; height:100% !important; border-top-left-radius:10px; transition: 1s; border-top-right-radius:10px;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-img .our-blog-detais-sub-icon{position:absolute; z-index:2; bottom:-10%; right:5%; background: o-color('o-color-1');; border-radius:5px; display: flex; justify-content: center; align-items: center; height:50px; width:50px;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-img .our-blog-detais-sub-icon a{text-decoration: none;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-img .our-blog-detais-sub-icon a span{font-size:30px; color:#fff;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content{width:100%; padding:20px 20px; background:transparent;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content h5 a{margin-top:10px; color: o-color('o-color-1');; font-weight: normal;font-size: 1.1rem;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content p{margin-top:0px;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content .our-blog-details-btn .our-blog-details-btn-icon  span{height: 25px; width: 25px;text-align: center;line-height: 25px;color:#fff;font-size: 15px;border-radius: 30px;margin-top: 10px; background:o-color('o-color-1');;}
#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content .our-blog-details-btn .our-blog-details-btn-icon .our-blog-details-link a{color: #212121; background:#fff; border:0px; padding-left:5px;font-weight: 600;font-size: 15px;}
#sh_corpomate_theme_transport_10 .unique-bg{ position:relative; margin-top:100px; background:#fff;  width:100%; z-index:1;}
#sh_corpomate_theme_transport_10 .our-blog{margin-top:0;}
#sh_corpomate_theme_transport_10 .unique-bg .rotateme {-webkit-animation-name: rotateme;animation-name: rotateme;-webkit-animation-duration: 10s;animation-duration: 60s;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-timing-function: linear;animation-timing-function: linear;}
#sh_corpomate_theme_transport_10 .tab-content{position: relative; top:100px; margin-bottom: 50px;}
#sh_corpomate_theme_transport_10 .card .card-header ul{justify-content: center;}
#sh_corpomate_theme_transport_10 .nav-tabs .nav-link{border: 0;border-radius: 0;background: #fff;margin: 15px 5px;font-weight: 600;letter-spacing: 1px;color: #414141;}
#sh_corpomate_theme_transport_10 .nav-tabs .nav-link.active, 
#sh_corpomate_theme_transport_10 .nav-tabs .nav-item.show .nav-link{background:o-color('o-color-1');color: #fff;border-radius:0px;}
#sh_corpomate_theme_transport_10 .owl-item .item{margin-right: 15px;}
#sh_corpomate_theme_transport_10 .js_cls_render_dynamic_post_area .js_cls_corpomate_blog_slider_nav_tabs_ul_4 {margin: 0px!important;}
@keyframes rotateme {
	from {
	  -webkit-transform: rotate(0deg);
	   transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-webkit-keyframes rotateme {
	from {
	  -webkit-transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	}
  }
#sh_corpomate_theme_transport_10 .unique-bg-1{content:''; opacity: 0.5; position:absolute; top: 25%; right: 21%;z-index: 0;height: 250px; width: 250px; background:url("/sh_corpomate_theme/static/src/img/theme_3/images/sh_transport_image_20.png"); background-position:center; background-size:cover; background-repeat: no-repeat;}
#sh_corpomate_theme_transport_10 .unique-bg-2{content:''; position:absolute; z-index: 0; top: 65%;left: 7%; height:100px; width:100px; background:url("/sh_corpomate_theme/static/src/img/theme_3/images/sh_transport_image_21.png"); background-position:center; background-size:cover; background-repeat: no-repeat;}
#sh_corpomate_theme_transport_10 .o_blog_cover_container .o_blog_cover_image{height: 250px !important;}
#sh_corpomate_theme_transport_10 .o_half_screen_height{min-height: unset !important;}

@media screen and (min-width:821px) and (max-width:991px){
#sh_corpomate_theme_transport_10 .col-md-6{margin-bottom:20px;}
}
@media screen   and (max-width:800px) {
	#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-img{width:100%; height:196px !important; border-radius:10px; position: relative;}
	#sh_corpomate_theme_transport_10 .col-md-6{margin-bottom:20px;}
	#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content p{margin-top:0px; font-size:12px; line-height:30px; color:#212121;}
	#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content h5{margin-top:10px;}
	#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content h5 a{margin-top:10px; font-size: 15px; color: o-color('o-color-1');; font-weight: bold;}
	#sh_corpomate_theme_transport_10 .o_blog_cover_container .o_blog_cover_image{height: 196px !important;}
	#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content .our-blog-details-btn .our-blog-details-btn-icon  span{height: 25px; width: 25px;text-align: center;line-height: 25px;color:#fff;font-size: 17px;border-radius: 30px;margin-top: 10px; background:o-color('o-color-1');;}
	#sh_corpomate_theme_transport_10 .our-blog-details{margin-bottom: 20px;}
}
@media screen and (max-width:767px) {
	#sh_corpomate_theme_transport_10 { width:100%; padding:20px 0px 0px 0px; position: relative; background:#fff;}
	#sh_corpomate_theme_transport_10 .our-blog{margin-top:-7%;}
	#sh_corpomate_theme_transport_10 .our-blog-details{margin:0px auto;margin-bottom:30px;}
}

@media screen and (max-width:576px) {
	#sh_corpomate_theme_transport_10{overflow: hidden;}
	#sh_corpomate_theme_transport_10 .main-content h3{font-size: 21px;}
	#sh_corpomate_theme_transport_10 .lorem-content{line-height: 25px;}
	#sh_corpomate_theme_transport_10 .our-blog-details .our-blog-details-content .our-blog-details-btn .our-blog-details-btn-icon .our-blog-details-link a{font-size: auto;}
	#sh_corpomate_theme_transport_10 .o_blog_cover_component.o_blog_cover_image{width: 100% !important;}

}

// ===== Snnipet-10 end ===== //


/*------------------------
Theme 4 BLOG end
------------------------*/




/*------------------
Theme 6 BLOG end
-------------------*/
#sh_corpomate_theme_cyber_11{width: 100%; padding:100px 0px 50px 0px; position: relative; margin-bottom: 100px;}
#sh_corpomate_theme_cyber_11 h3{color: o-color('o-color-1'); font-weight: 500; font-size: 16px; text-align: center;}
#sh_corpomate_theme_cyber_11 h2{font-weight: 600; font-size:30px; text-align: center;  margin-bottom: 0px;}
#sh_corpomate_theme_cyber_11 .main-row .blog-box{padding:20px 20px; background:#fff; box-shadow: 0 11px 20px 3px rgba(34,34,34,0.1);}
#sh_corpomate_theme_cyber_11 .main-row .blog-img{height:250px; width:100%;overflow: hidden;}
#sh_corpomate_theme_cyber_11 .main-row .blog-box:hover img{transform: scale(1.5); filter: brightness(120%);}
#sh_corpomate_theme_cyber_11 .main-row .blog-img img{height:100%; width:100%; transition:2s; object-fit: cover; object-position: center; position: relative;}
#sh_corpomate_theme_cyber_11 .main-row .blog-content{position: relative;display: block;}
#sh_corpomate_theme_cyber_11 .main-row .blog-content h5{display: block;font-size: 18px;line-height: 28px;font-weight: 600;padding-bottom: 22px;margin-bottom: 17px;border-bottom: 1px solid #e7e2e3;margin-top:20px;}
#sh_corpomate_theme_cyber_11 .main-row .blog-content h5 a{display: inline-block;  color: #212121;font-size: 19px;font-weight: 600;}
#sh_corpomate_theme_cyber_11 .main-row .blog-content .bottom-part .link a{position: relative;display: inline-block;font-size: 16px;color: #919191;font-weight: 700;}
#sh_corpomate_theme_cyber_11 .main-row .blog-content .bottom-part .link a span{padding-right: 10px;}
#sh_corpomate_theme_cyber_11 .o_half_screen_height, #sh_corpomate_theme_cyber_11 .cover_mid {min-height: auto !important;overflow: hidden;}
#sh_corpomate_theme_cyber_11 .o_blog_cover_image:hover{transition: 2s;}
#sh_corpomate_theme_cyber_11 .o_blog_cover_image:hover{transform: scale(1.5); filter: brightness(120%);}

#sh_corpomate_theme_cyber_11 .card {border: 0;background: transparent !important;}
#sh_corpomate_theme_cyber_11 .card .card-header{background: transparent;border: 0;}
#sh_corpomate_theme_cyber_11 .heading h2{font-weight: 600; font-size:30px; text-align: center; }
#sh_corpomate_theme_cyber_11 .heading h3{color: o-color('o-color-1');font-weight: 500;font-size: 16px; text-align: center;}
#sh_corpomate_theme_cyber_11 .card .card-header ul{justify-content: center;}
#sh_corpomate_theme_cyber_11 .nav-tabs .nav-link{border: 0;border-radius: 0;background: #fff;margin: 15px 5px;font-weight: 600;letter-spacing: 1px;color: #414141;}
#sh_corpomate_theme_cyber_11 .nav-tabs .nav-link.active, 
#sh_corpomate_theme_cyber_11 .nav-tabs .nav-item.show .nav-link{background:o-color('o-color-1');color: #fff;border-radius:0px;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img img{width: 100%;height: 225px;object-fit: cover;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img .sub-img-div{position: absolute; top:3%; right:8%; height:80px; width:60px; display:flex; justify-content:center; align-items:center; flex-direction: column; border-radius:0px; background:o-color('o-color-1'); color: #fff;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img .sub-img-div p{font-size: 18px; margin-bottom: 0px; font-weight: 600;color: #fff;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img .sub-img-div span{    font-size: 16px;font-weight: 600;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img .sub-img-div-1{position: absolute; bottom:43%; left:6%; padding:10px 20px;  border-radius:0px; background:o-color('o-color-1'); color: #fff;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img .sub-img-div-1 span{font-size: 12px; padding-right:5px; font-weight: 600;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_des p a span {color: #616161;padding-right: 10px;font-size: 17px;}   
#sh_corpomate_theme_cyber_11 .sh_content .sh_des p a{color:#616161;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_des p.top-border{border-top:2px solid #e8e8e8;padding:10px 5px;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_des{padding: 15px;background: #fff;}
#sh_corpomate_theme_cyber_11 .sh_content{box-shadow: 0 11px 20px 3px rgba(34, 34, 34,0.10);margin-bottom: 20px; position: relative;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_des h4 a{color: #414141;font-size: 18px; line-height:25px;display: -webkit-box; font-weight:600;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden; margin-bottom: 20px;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_des p{color: #616161;margin: 0; margin-top: 15px; padding:10px 5px; border-top: 2px solid #e8e8e8;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_des p span{color: o-color('o-color-1');padding-right: 5px;}
#sh_corpomate_theme_cyber_11 .card-body{background: transparent !important;}
#sh_corpomate_theme_cyber_11 .o_half_screen_height{min-height: auto !important;}
#sh_corpomate_theme_cyber_11 .owl-item .item{margin-right: 15px;}
#sh_corpomate_theme_cyber_11 .owl-nav{display: none!important;}

@media screen and (max-width:1024px) {
#sh_corpomate_theme_cyber_11 {width: 100%;padding: 0px 0px 20px 0px;position: relative;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img .sub-img-div-1{bottom: 45%;}
}

@media screen and (max-width:768px) {
#sh_corpomate_theme_cyber_11 {width: 100%;padding: 0px 0px 20px 0px;position: relative;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img .sub-img-div-1 {position: absolute;bottom: 43%;left: 3%;padding: 10px 10px;border-radius: 0px;background: o-color('o-color-1');color: #fff;}
#sh_corpomate_theme_cyber_11 .sh_content .sh_img .sub-img-div {position: absolute;top: 3%;right: 5%;height: 70px;width: 60px;display: -webkit-box;display: -webkit-flex;display: flex;justify-content: center;align-items: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;flex-direction: column;border-radius: 0px;color: #fff;}
}

 @media screen and (max-width:567px) {
#sh_corpomate_theme_cyber_11 {width: 100%;padding: 0px 0px 20px 0px;position: relative;margin-bottom: 30px;}
#sh_corpomate_theme_cyber_11 .heading h2 {font-weight: 600;font-size: 25px;text-align: center;}
#sh_corpomate_theme_cyber_11 .o_blog_cover_component.o_blog_cover_image{width: 100% !important;}


 }
/*------------------
Theme 6 BLOG end
-------------------*/
