img.css_cls_sh_image_mask_style_1 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_1.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_1.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_2 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_2.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_2.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_3 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_3.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_3.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_4 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_4.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_4.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_5 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_5.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_5.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_6 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_6.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_6.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_7 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_7.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_7.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_8 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_8.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_8.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_9 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_9.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_9.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_10 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_10.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_10.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_11 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_11.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_11.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_12 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_12.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_12.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_13 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_13.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_13.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_14 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_14.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_14.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_15 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_15.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_15.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_16 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_16.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_16.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_17 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_17.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_17.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_18 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_18.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_18.svg');
    -webkit-mask-size: unset;
    mask-size: unset;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_19 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_19.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_19.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_20 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_20.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_20.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_21 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_21.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_21.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_22 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_22.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_22.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_23 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_23.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_23.svg');
    -webkit-mask-size: auto;
    mask-size: auto;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_24 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_24.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_24.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_25 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_25.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_25.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_26 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_26.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_26.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_27 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_27.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_27.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_28 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_28.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_28.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_29 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_29.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_29.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_30 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_30.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_30.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_31 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_31.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_31.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_32 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_32.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_32.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_33 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_33.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_33.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_34 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_34.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_34.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_35 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_35.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_35.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}

img.css_cls_sh_image_mask_style_36 {
    -webkit-mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_36.svg');
    mask-image: url('/sh_corpomate_theme/static/src/images/extra_addons/sh_snippet_adv/shape_36.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
}