/*
================================================
Box Shadow 1
================================================
*/

.sh_snippet_adv_shadow_1 {
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

/*
================================================
Box Shadow 2
================================================
*/

.sh_snippet_adv_shadow_2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

/*
================================================
Box Shadow 3
================================================
*/

.sh_snippet_adv_shadow_3 {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}

/*
================================================
Box Shadow 4
================================================
*/

.sh_snippet_adv_shadow_4 {
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.25), 0 10px 5px 0 rgba(0, 0, 0, 0.22);
}

/*
================================================
Box Shadow 5
================================================
*/

.sh_snippet_adv_shadow_5 {
    box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.3), 0 15px 6px 0 rgba(0, 0, 0, 0.22);
}

/*
================================================
================================================
Box Shadow Hover 5
================================================
================================================
*/

/*
================================================
Box Shadow Hover 1
================================================
*/

.sh_snippet_adv_shadow_hover_1:hover {
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

/*
================================================
Box Shadow Hover 2
================================================
*/

.sh_snippet_adv_shadow_hover_2:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

/*
================================================
Box Shadow Hover 3
================================================
*/

.sh_snippet_adv_shadow_hover_3:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}

/*
================================================
Box Shadow Hover 4
================================================
*/

.sh_snippet_adv_shadow_hover_4:hover {
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.25), 0 10px 5px 0 rgba(0, 0, 0, 0.22);
}

/*
================================================
Box Shadow Hover 5
================================================
*/

.sh_snippet_adv_shadow_hover_5:hover {
    box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.3), 0 15px 6px 0 rgba(0, 0, 0, 0.22);
}
