//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
// *{font-family: 'Titillium Web', sans-serif;}
/*-----top-bar---*/
$tp-primary: #2b47bd;
$tp-text: #fff;
/*-----top-bar---*/

/*-----header-bar---*/
$hd-primary: #fff;
$hd-text: #585b60;
$hd-primary-active: #3d60f4;
/*-----header-bar---*/

/*---coyright--*/
$cr-primary: #001529;
$cr-text: #fff;
/*---coyright--*/

/*---Language--*/
$sh_is_show_lang: False;
/*---Language--*/



$o-color-palettes: map-merge($o-color-palettes,
		('corpomate-1': ('o-color-1': #e5540c,
				'o-color-2': #132646,
				'o-color-3': #F6F6F6,
				'o-color-4': #FFFFFF,
				'o-color-5': #383E45,
			),
			'corpomate-2': ('o-color-1': #e55713,
				'o-color-2': #00173c,
				'o-color-3': #00173c,
				'o-color-4': #FFFFFF,
				'o-color-5': #383E45,
			),
			'corpomate-3': ('o-color-1': #e5592b,
				'o-color-2': #05103b,
				'o-color-3': #1f1f2e,
				'o-color-4': #FFFFFF,
				'o-color-5': #383E45,
			),
			'corpomate-4': ('o-color-1': #5277FD,
				'o-color-2': #E34A59,
				'o-color-3': #F6F6F6,
				'o-color-4': #FFFFFF,
				'o-color-5': #383E45,
			),
			'corpomate-5': ('o-color-1': #061A3A,
				'o-color-2': #FF7C5B,
				'o-color-3': #FF7C5B,
				'o-color-4': #FFFFFF,
				'o-color-5':  #0c1118,
			),
			'corpomate-6': ('o-color-1': #601feb,
				'o-color-2': #a4cb73,
				'o-color-3': #222127,
				'o-color-4': #fff,
				'o-color-5': #44415c,
			),
		));